.alert {
  $this: &;

  @include z-index('alert');

  background-color: $gray-0;
  border-radius: $radius;
  box-shadow: $shadow-3, $shadow-h-l-3, $shadow-h-r-3;
  color: $gray-60;
  font-size: $font-size--md;
  line-height: 1;
  margin-bottom: $distance--xs;
  padding: .5em 1em;

  @include media('>sm') {
    // padding: $distance--sm;
    padding: 2em 2.5em;
  }

  &-container {
    @include z-index('alert');

    bottom: 0;
    left: 0;
    height: 0;
    position: fixed;
    right: 0;
  }

  &__title {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 1em;
  }

  &__body {
    font-weight: 300;
    letter-spacing: $letter-spacing--lg;
    line-height: 1.5;
  }

  &__icon {
    flex: 0 0 auto;
    opacity: .65;
    margin-right: .5em;
  }

  &__link {
    font-weight: bolder;
    text-decoration: underline;
  }

  &__msg {
    margin-bottom: $distance--md;

    > *:empty {
      display: none;
    }

    > * {
      margin-right: $distance--xs;
    }

  }

  &__footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: $distance--lg;
    width: 100%;

    > * {
      margin-left: $distance--sm;
    }

  }

  &--has-icon {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &--blue-navy {
    background-color: transparentize($blue-navy-60, .025);
    color: $blue-navy-0;

    [class*='__link'] { color: $green-20; }
  }

  &--green {
    background-color: transparentize($green-40, .04);
    background-image: linear-gradient(to bottom, transparent 40%, transparentize($green-60, .075));
    color: $white;
  }

  &--error {
    background-color: transparentize($color-error, .15);
    color: $white;
  }

  &--success {
    background-color: transparentize($color-success, .25);
    color: $white;
  }

  &--warning {
    background-color: $color-warning;
    color: $white;
  }

  &--fixed-top {
    align-items: center;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    font-weight: 300;
    min-height: $alert-fixed-top;
    justify-content: flex-start;
    left: 0;
    margin-bottom: 0;
    padding: 1rem 2rem;
    position: relative;
    transform: none;
  }

  &--has-interaction {
    flex-wrap: wrap;
    left: 50%;
    min-width: 32rem;
    opacity: 0;
    padding: $distance--lg;
    position: fixed;
    top: $distance--xxl;
    transform: translate(-50%, 5%);
    transition: 300ms;
    visibility: hidden;
    z-index: 2;
  }

  &--no-interaction {
    bottom: $distance--md;
    flex-wrap: wrap;
    left: 50%;
    opacity: 0;
    position: fixed;
    transform: translate(-50%, 5px);
    transition: 300ms;
    visibility: hidden;
    width: 24rem;
  }

  &--is-show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
  }

  &--xxs {
    font-size: $font-size--xxs;
  }

  &--xs {
    font-size: $font-size--xs;
  }

  &--sm {
    font-size: $font-size--sm;
  }

}
