.alert {
  $this: &;

  @include z-index('alert');

  align-self: flex-start;
  background-color: $gray-0;
  border-radius: $alert-radius;
  box-shadow: none;
  color: $gray-60;
  display: none;
  flex-direction: row;
  font-size: $font-size--xs;
  line-height: 1;
  margin-bottom: $distance--xs;
  padding: .5em 1em;
  transition: 200ms cubic-bezier(.455, .03, .515, .955); // IE fallback
  transition: 200ms var(--ease-in-out-quad);

  @include media('>sm') { padding: 1em; }

  &-container {
    @include z-index('alert');

    bottom: 0;
    left: 0;
    height: 0;
    position: fixed;
    right: 0;
  }

  &__title {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 1em;
  }

  &__body {
    font-weight: 300;
    letter-spacing: $letter-spacing--lg;
    line-height: 1.5;
  }

  &__icon {
    flex: 0 0 auto;
    opacity: .65;
    margin-right: .5em;
  }

  &__link {
    font-weight: bolder;
    text-decoration: underline;
  }

  &__form {
    position: absolute;
    
    
  }

  &__msg {

    &:not(:last-child) {
      margin-bottom: $distance--md;
    }

    > *:not([class*='icon']):empty {
      display: none;
    }

    > * {
      margin-right: $distance--xs;
    }

  }

  &__footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: $distance--lg;
    width: 100%;

    > * {
      margin-left: $distance--sm;
    }

  }

  &--has-icon {
    align-items: center;
  }

  &--blue-navy {
    background-color: transparentize($blue-navy-40, .025);
    background-image: linear-gradient(to bottom, transparent 40%, transparentize($blue-navy-60, .075));
    color: $blue-navy-0;
  }

  &--green {
    background-color: transparentize($green-40, .04);
    background-image: linear-gradient(to bottom, transparent 40%, transparentize($green-60, .075));
    color: $white;
  }

  &--error {
    background-color: transparentize(lighten($color-error, 50%), .05);
    color: transparentize($color-error, .15);
  }

  &--success {
    background-color: transparentize($color-success, .25);
    color: $white;
  }

  &--warning {
    background-color: $color-warning;
    color: $white;
  }

  &--has-interaction,
  &--no-interaction {
    box-shadow: $shadow-3, $shadow-h-l-3, $shadow-h-r-3;
    opacity: 0;
    position: fixed;
    visibility: hidden;
    transition: 300ms;
  }

  &--has-interaction {
    flex-wrap: wrap;
    left: 50%;
    min-width: 32rem;
    padding: $distance--lg;
    top: $distance--xxl;
    transform: translate(-50%, 5%);
    z-index: 2;
  }

  &--no-interaction {
    bottom: $distance--md;
    flex-wrap: wrap;
    left: 50%;
    transform: translate(-50%, 5px);
    width: 24rem;
  }

  &--is-show {
    display: inline-flex;

    &[class*='--has-interaction'],
    &[class*='--no-interaction'] {
      opacity: 1;
      transform: translate(-50%, 0);
      visibility: visible;
    }
  }

  &--sm {
    font-size: $font-size--sm;
  }

}
