.avatar {
    $this: &;
    $avatar-default-size: $avatar--md;

    border-radius: $avatar-radius;
    box-shadow: $shadow-1;
    display: inline-block;
    flex: 0 0 auto;
    height: $avatar-default-size;
    position: relative;
    overflow: hidden;
    width: $avatar-default-size;



    &__img {
        left: 50%;
        height: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        &--as-bg {
            @include bg-as-thumb;
        }

        &:hover {
            opacity: 0.5;
            transition: 0.5s;
        }

    }

    &__placeholder {
        opacity: 0;
        transform: translate(0, 0);
        color: $white;
       // outline: solid 2px red;
        justify-content: center;
        align-self: center;
        pointer-events: none;

    }

    &:hover .avatar__placeholder {
        opacity: 1;
        transition: 0.5s;
    }

    &--square {
        border-radius: $radius--lg;
    }

    &--bordered {
        border: 2px solid $white;
    }

    &--float {
        box-shadow: $shadow-3;
    }

    &--xs {
        height: $avatar--xs;
        width: $avatar--xs;
    }

    &--sm {
        height: $avatar--sm;
        width: $avatar--sm;
    }

    &--lg {
        height: $avatar--lg;
        width: $avatar--lg;

        @supports (width: min(1px, 1vw)) {
            $size: clamp(#{$avatar--md}, 4vw, #{$avatar--lg});

            height: $size;
            width: $size;
        }

    }

    &--xl {
        height: $avatar--xl;
        width: $avatar--xl;
    }

}
