// mixins
// placeholders

// BLOCK
// btn

// ELEMENTS
//  __icon
//  __count

// MODIFIERS
// ## Misc ##
// --icon
// --disabled
// --is-toggle (--on) (--disabled)

// ## Themes ##
// --leaf
// --leaf-ghost
// --green-ghost
// --inverted
// --link
// --text
// --text-inverted
// --success

// ## Size ##
// --xxs
// --xs
// --md

// CONTAINER
// -group

// CONTAINER MODIFIERS
// -group--xxs
// -group--xs

// MIXINS
// Se o botão possuir states, ele deverá esconder os elementos internos e
// deverá possuir um conteúdo ::before para segurar a altura do botão.
// @mixin btn--has-state {
//     overflow: hidden;

//     &::before {
//         content: '';
//         display: inline-block;
//         height: 1em;
//         opacity: 0;
//         visibility: hidden;
//         width: 1em;
//     }
// }

// PLACEHOLDERS
%btn-steps {
  @include transition();

  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.btn {
  $this: &;

  @include button;

  background-color: $clickables-bg-color;
  border-radius: $button-radius;
  box-shadow: 0 .5rem 1rem 0 transparentize($color: $clickables-bg-color, $amount: .8);
  color: $clickables-color;
  padding: $button-padding;

  &:hover {
    background-color: $clickables-bg-color-hover;
    color: $clickables-color-hover;
  }

  &[disabled]:hover,
  &[disabled='true']:hover {
    background-color: $clickables-bg-color;
  }

  // ELEMENTS
  &__count {
    font-style: italic;
    opacity: .85;
    margin-left: $distance--xxs;
  }

  &__icon {
    font-weight: bold;
    opacity: .65;

    &:first-child {
      margin-right: $distance--xs;
    }

    &:last-child {
      margin-left: $distance--xs;
    }

  }

  // MODIFIERS
  &--add-list-item {
    align-self: stretch;
    background-color: transparent;
    border: ($button-border-width * 2) dotted $green-10;
    box-shadow: none;
    color: $clickables-bg-color;
    display: flex;
    font-size: $font-size--md;
    padding-bottom: $distance--lg;
    padding-top: $distance--lg;
    width: 100%;

    &:hover:not([disabled]) ,
    &:hover:not([disabled=true]) {
      background-color: $green-0;
      color: $clickables-bg-color-hover;
    }

    > [class*='__icon'] {
      $size: 2em;

      align-items: center;
      border: ($button-border-width * 2) solid currentColor;
      border-radius: 50%;
      display: flex;
      height: $size;
      font-size: $font-size--lg;
      justify-content: center;
      margin-right: 1em;
      opacity: .75;
      width: $size;
    }

    &:focus {
      border-color: transparent;
    }

  }

  &--icon {
    $size: 2rem;

    align-items: center;
    border-radius: $radius;
    display: inline-flex;
    font-weight: normal;
    height: $size;
    justify-content: center;
    padding: 0;
    width: $size;

    &::before {
      align-items: center;
      display: flex;
      height: 1em;
      justify-content: center;
      width: 1em;
    }

    // SANITIZER
    span {
      display: block;
      outline: 10px solid crimson;
      text-align: center;

      &::before {
        content: 'SPAN DESNECESSÁRIO'
      }
    }
  }

  &[disabled],
  &[disabled='true'],
  &--disabled {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
  }

  &[disabled='false'],
  &--enabled {
    cursor: pointer;
    opacity: 1;
    pointer-events: all;
  }

  &--is-toggle {
    height: $input-height;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;

    [class*='__default'] {
      @extend %btn-steps;

      height: 100%;
      position: absolute;
    }

    [class*='__active'],
    [class*='__disabled'] {
      @extend %btn-steps;

      height: 100%;
      position: absolute;
      transform: translateY(-100%);
    }

    &--on {
      [class*='__default'] {
        transform: translateY(100%);
      }

      [class*='__active'] {
        transform: translateY(0);
      }
    }

    &--disabled {
      [class*='__default'] {
        transform: translateY(100%);
      }

      [class*='__disabled'] {
        transform: translateY(0);
      }

      &:hover {
        background-color: transparentize($black, .85);
      }

    }

    [class*='__label'] > * {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

  }

  &--near-form {
    height: $input-height;
    font-size: 1.25rem;
    width: $input-height;
  }





  // THEMES
  &--ghost {
    background-color: transparent;
    border: $button-border-width solid $clickables-bg-color;
    box-shadow: none;
    color: $clickables-bg-color;

    &:hover {
      background-color: transparentize($default-bg-color-hover, .75);
      color: $clickables-bg-color;
    }

  }

  &--link {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    position: relative;

    [class*='__label'] {
      position: relative;

      &::after {
        background-color: currentColor;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        top: calc(100% + 1px);
        transition: 200ms cubic-bezier(.455, .03, .515, .955); // IE fallback
        transition: 200ms var(--ease-in-out-quad);
        width: 100%;
      }

    }

    &:hover {
      background-color: transparent;
      color: $clickables-bg-color;

      [class*='__label']::after {
        opacity: .75;
        transform: translateY(.25em);
      }

    }

    // Sanitizer
    &:not([class*='color-']) {
      border: 4px solid crimson;
      position: relative;

      &::before {
        background-color: crimson;
        bottom: 100%;
        content: 'btn--link need a "color-" class, like color-blue-navy-60!';
        left: -4px;
        padding: .5em;
        position: absolute;
        text-transform: none;
      }

    }

  }

  &--text {
    background-color: transparent;
    box-shadow: none;
    color: $gray-80;
    opacity: .75;
    // padding-left: 0;
    // padding-right: 0;
    text-shadow: none;

    &:hover {
      background-color: $gray-10;
      color: $gray-80;
      opacity: 1;
    }

  }

  // Douglas
  &--text-remove {
    background-color: transparent;
    box-shadow: none;
    color: $error-30;
    opacity: 0.75;
    // padding-left: 0;
    // padding-right: 0;
    text-shadow: none;

    &:hover {
      background-color: transparent;
      opacity: 1;
      color: $error-60;
    }

  }

  &--text-inverted {
    background-color: transparent;
    box-shadow: none;
    color: white;
    opacity: .75;
    // padding-left: 0;
    // padding-right: 0;
    text-shadow: none;

    &:hover {
      background-color: transparentize($color: white, $amount: .9);
      opacity: 1;
    }

  }

  &--as-filter {
    background-color: $gray-0;
    border: 3px solid transparent;
    border-radius: $button-radius;
    box-shadow: none;
    color: $gray-70;
    font-size: $font-size--xs;
    font-weight: $font-weight-4;
    justify-content: center;
    letter-spacing: $letter-spacing--lg;
    padding: .75em 1em;
    text-transform: initial;

    &:hover {
      color: $gray-70;

      &:not([class*='--is-active']) {
        background-color: $gray-20;
        color: $gray-90;
      }

    }

    &[class*='--is-active'] {
      border-color: $global-nav-active-bg-color;
      cursor: initial;

      &:focus { outline: 0 solid transparent; }
      &:hover { background-color: $gray-0; }
    }

  }

  // THEMES
  @if $btn--leaf {

    &--leaf {
      background-color: $btn--leaf-bg-color;
      color: $btn--leaf-color;

      &:hover {
        background-color: $btn--leaf-bg-color-hover;
        color: $btn--leaf-color-hover;
      }

    }

  }

  @if $btn--success {

    &--success {
      background-color: $btn--success-bg-color;
      color: $btn--success-color;

      &:hover {
        background-color: $btn--success-bg-color-hover;
        color: $btn--success-color-hover;
      }

    }

  }





  // Sizes
  @if $btn--xxs {
    &--xxs {
      font-size: $font-size--xxs;
      letter-spacing: $letter-spacing--xl;
      padding: $button-padding--xxs;
    }
  }

  @if $btn--xs {
    &--xs {
      font-size: $font-size--xs;
      letter-spacing: $letter-spacing--lg;
    }
  }

  @if $btn--md {
    &--md {
      border-radius: $button-radius--md;
      font-size: $font-size--md;
    }
  }

  @if $btn--lg {
    &--lg {
      border-radius: $button-radius--lg;
      font-size: $font-size--lg;
    }
  }





  // Botão especial
  &-close {
    background-color: transparent;
    border-radius: $radius;
    font-size: 1.25em;
    padding: $distance--xs;
    position: absolute;
    right: 0;
    top: 0;
    transition: 200ms cubic-bezier(.455, .03, .515, .955); // IE fallback
    transition: 200ms var(--ease-in-out-quad);
    z-index: 2;

    &:hover {
        background-color: $gray-10;
    }

  }

  &-group {

    >*:not(:last-child) {
      margin-right: $distance--sm;
    }

    &--xxs {
      >*:not(:last-child) {
        margin-right: $distance--xxs;
      }

    }

    &--xs {
      >*:not(:last-child) {
        margin-right: $distance--xs;
      }

    }

  }

}
