// mixins
// placeholders

// BLOCK
// btn

// ELEMENTS
//  __icon
//  __count

// MODIFIERS
// ## Misc ##
// --icon
// --disabled
// --is-toggle (--on) (--disabled)

// ## Themes ##
// --leaf
// --leaf-ghost
// --green-ghost
// --inverted
// --link
// --text
// --text-inverted
// --success

// ## Size ##
// --xxs
// --xs
// --md

// CONTAINER
// -group

// CONTAINER MODIFIERS
// -group--xxs
// -group--xs

// MIXINS
// Se o botão possuir states, ele deverá esconder os elementos internos e
// deverá possuir um conteúdo ::before para segurar a altura do botão.
// @mixin btn--has-state {
//     overflow: hidden;

//     &::before {
//         content: '';
//         display: inline-block;
//         height: 1em;
//         opacity: 0;
//         visibility: hidden;
//         width: 1em;
//     }
// }

// PLACEHOLDERS
%btn-steps {
  @include transition();

  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.btn {
  $this: &;

  @include button;

  background-color: $clickables-bg-color;
  border-radius: $button-radius;
  box-shadow: 0 .5rem 1rem 0 transparentize($color: $clickables-bg-color, $amount: .8);
  color: $clickables-color;
  cursor: pointer;
  flex: 0 0 auto;
  padding: 1em 1.5em;
  transition: 200ms cubic-bezier(.455, .03, .515, .955); // IE fallback
  transition: 200ms var(--ease-in-out-quad);

  &:hover:not([disabled='true']) {
    background-color: $clickables-bg-color-hover;
    color: $clickables-color-hover;
  }

  // ELEMENTS
  &__label {
    transform: translateY(1px);
  }

  &__count {
    font-style: italic;
    opacity: .85;
    margin-left: $distance--xxs;
  }

  &__icon {
    font-weight: bold;
    margin-right: $distance--xs;
    opacity: .65;
  }

  // MODIFIERS
  &--icon {
    $size: 2rem;

    align-items: center;
    border-radius: $radius;
    display: inline-flex;
    height: $size;
    justify-content: center;
    padding: 0;
    width: $size;

    &::before {
      align-items: center;
      display: flex;
      height: 1em;
      justify-content: center;
      width: 1em;
    }

    // SANITIZER
    span {
      display: block;
      outline: 10px solid crimson;
      text-align: center;

      &::before {
        content: 'SPAN DESNECESSÁRIO'
      }
    }
  }

  &[disabled='true'],
  &--disabled {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
  }

  &--is-toggle {
    height: $input-height;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;

    [class*='__default'] {
      @extend %btn-steps;

      height: 100%;
      position: absolute;
    }

    [class*='__active'],
    [class*='__disabled'] {
      @extend %btn-steps;

      height: 100%;
      position: absolute;
      transform: translateY(-100%);
    }

    &--on {
      [class*='__default'] {
        transform: translateY(100%);
      }

      [class*='__active'] {
        transform: translateY(0);
      }
    }

    &--disabled {
      [class*='__default'] {
        transform: translateY(100%);
      }

      [class*='__disabled'] {
        transform: translateY(0);
      }

      &:hover {
        background-color: transparentize($black, .85);
      }

    }

    [class*='__label'] > * {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

  }

  &--near-form {
    height: $input-height;
    font-size: 1.25rem;
    width: $input-height;
  }





  // THEMES
  &--ghost {
    background-color: transparent;
    border: 1px solid $clickables-bg-color;
    color: $clickables-bg-color;

    &:hover {
      background-color: transparentize($default-hover-bg-color, .75);
      color: $clickables-bg-color;
    }

  }

  &--link {
    @include dotted-link;

    &:hover {
      background-color: transparent;
    }

  }

  &--text {
    background-color: transparent;
    box-shadow: none;
    color: $gray-60;
    opacity: .75;
    padding-left: 0;
    padding-right: 0;
    text-shadow: none;
    transition: 200ms cubic-bezier(.455, .03, .515, .955); // IE fallback
    transition: 200ms var(--ease-in-out-quad);

    &:hover {
      background-color: transparent;
      color: $gray-60;
      opacity: 1;
    }

  }

  &--text-inverted {
    background-color: transparent;
    color: $white;
    padding: 0;
    text-shadow: none;

    &:hover {
      background-color: transparent;
      opacity: 1;
      transform: translateY(0);
    }

  }

  // THEMES
  @if $btn--leaf {

    &--leaf {
      background-color: $btn--leaf-bg-color;
      color: $btn--leaf-color;

      &:hover {
        background-color: $btn--leaf-bg-color-hover;
        color: $btn--leaf-color-hover;
      }

    }

  }

  @if $btn--success {

    &--success {
      background-color: $btn--success-bg-color;
      color: $btn--success-color;

      &:hover {
        background-color: $btn--success-bg-color-hover;
        color: $btn--success-color-hover;
      }

    }

  }





  // Sizes
  @if $btn--xxs {
    &--xxs {
      font-size: $font-size--xxs;
      letter-spacing: $letter-spacing--xl;
    }
  }

  @if $btn--xs {
    &--xs {
      font-size: $font-size--xs;
      letter-spacing: $letter-spacing--lg;
    }
  }

  @if $btn--md {
    &--md {
      border-radius: $button-radius--md;
      font-size: $font-size--md;
    }
  }

  @if $btn--lg {
    &--lg {
      border-radius: $button-radius--lg;
      font-size: $font-size--lg;
    }
  }





  // Container
  &-close {
    background-color: transparent;
    border-radius: $radius;
    font-size: 1.25em;
    padding: $distance--xs;
    position: absolute;
    right: 0;
    top: 0;
    transition: 200ms cubic-bezier(.455, .03, .515, .955); // IE fallback
    transition: 200ms var(--ease-in-out-quad);
    z-index: 2;

    &:hover {
        background-color: $gray-5;
    }

  }

  &-group {

    >*:not(:last-child) {
      margin-right: $distance--sm;
    }

    &--xxs {
      >*:not(:last-child) {
        margin-right: $distance--xxs;
      }

    }

    &--xs {
      >*:not(:last-child) {
        margin-right: $distance--xs;
      }

    }

  }

}
