// Bloco cinza com uma borda colorida, usado para destaque de informações
// ou organização de informações, similar a um card, mas não é clicável.
.callout {
  $this: &;

  background-color: $callout-default-bg-color;
  border-top: $callout-default-border;
  padding: $callout-default-padding;

  // Border position
  &--left {
    border-top: 0;
    border-left: $callout-default-border;
  }

  // Themes
  &--info {
    background-color: $info-0;
    border-color: $info-30;
  }

}
