.capsule {
  $this: &;

  background-color: $gray-30;
  border-radius: $radius;
  color: $white;
  display: inline-block;
  font-size: $font-size--xxs;
  font-weight: bold;
  letter-spacing: $letter-spacing--xl;
  padding: 0.5em 1.5em;
  text-align: center;
  text-transform: uppercase;

  &--error {
    background-color: $color-error;
  }

  &--info {
    background-color: $color-info;
  }

  &--success {
    background-color: $color-success;
  }

  &--warning {
    background-color: $color-warning;
  }

  &--xxs {
    font-size: 10px;
    padding-left: 1em;
    padding-right: 1em;
  }

}
