.checkbox {
    $this: &;

    @include check-radio;

    align-items: center;
    display: inline-flex;
    flex-direction: row;
    margin-bottom: $distance--xxs;
    min-height: $input-height;

    @include media('>sm') {
        margin-bottom: 0;
        margin-right: $distance--md;
    }

    @include media('>md') {
        margin-right: $distance--sm;
    }

    &:last-of-type {
        margin-right: 0;
    }

    &__label {
        user-select: none;

        // * Para casos onde não teremos um label escrito,
        // * como por exemplo uma listagem com possibilidade de
        // * marcarmos muitos itens para uma ação em massa.
        &:empty {
            height: $input-check-radio-size;
            min-height: 0;
            padding-left: $input-check-radio-size;
        }

        &::after {
            background-color: transparent;
            color: $check-radio-checked-color;
            content: '\e905'; //Código do check
            font-family: 'icomoon';
            font-size: 1em;
            font-weight: bold;
            left: 0;
            position: absolute;
            text-align: center;
            text-rendering: auto;
            top: 50%;
            width: calc(#{$input-check-radio-size} + .1rem);
        }

    }

    &__input:focus ~ &__label {
        outline: $focus-indicator;
    }

    // sanitizer
    &__label + &__input {
        outline: 4px solid crimson;
    }

}
