.data {
    $this: &;

    align-items: center;
    display: flex;
    color: $color-gray--dark;
    flex-direction: column;
    justify-content: center;

    &--horizontal {
        flex-direction: row;
    }

    &--bordered {
        background-color: $gray-0;
        border: 1px solid $gray-5;
        border-radius: $radius--md;
        padding: $distance--md;
        min-width: 8rem;
    }

    &--light {
        background-color: $color-white;
    }

    &--success {
        background-color: $color-white;
        border: 2px solid transparentize($color-success, .5);
        min-width: 8rem;
    }

    &--bordered-short {
        padding: $distance--xs $distance--sm;
    }

    &--md {
        min-width: 8rem;
    }

    &__title {
        font-size: $font-size--xxs;
        font-weight: bold;
        text-transform: uppercase;
        max-width: 90%;
    }

    &__value {
        align-items: baseline;
        display: inline-flex;
        font-size: 1em;
        font-weight: 700;
        letter-spacing: $letter-spacing--xs;
        justify-content: center;

        @include media('>md') {
            font-size: 2em;
        }

    }

    &__label {
        font-size: .85em;
        margin-top: $distance--xxs;
        max-width: 95%;
        text-align: center;
        text-transform: uppercase;

        @include media('>md') {
            font-size: 1em;
        }


        #{$this}--horizontal & {
            margin-left: $distance--xs;
            margin-top: .5rem;
        }

    }

}
