.edit-text {

  $this: &;
  $edit-text-dots-color: $green-20;

  padding: 0 0 $distance--xxs 0;
  position: relative;
  min-width: 8rem;
  outline: 0 solid transparent;

  &__input {
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
    height: 1.25em;
    outline: 0 solid transparent;
    padding-left: 0;
    position: relative;
    width: 100%;
    z-index: 2;
  }

  &__indicator {
    background-color: transparentize($edit-text-dots-color, .9);
    border-bottom: 2px dotted $edit-text-dots-color;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    height: 100%;
    top: 0;
    transition: 300ms;
    width: 100%;
    z-index: 1;

    #{$this}__input:focus+& {
      opacity: 1;
    }

  }

}
