.empty {
    $this: &;

    align-items: center;
    background-color: $gray-0;
    border: 2px dotted $gray-5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $distance--xxl;

    &__icon {
        margin-bottom: $distance--md;
        opacity: .8;
    }

}