.empty {
    $this: &;

    align-items: center;
    background-color: $gray-0;
    border: 2px dotted $gray-10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $distance--xxl;

    &__msg {
        line-height: 1.25;
    }

    &__icon {
        margin-bottom: $distance--md;
        opacity: .5;
    }

}