@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.form {
  $this: &;

  &__msg {
    align-items: center;
    bottom: calc(100% + #{$distance--xxs});
    display: flex;
    font-size: $font-size--xxs;
    line-height: 1;
    opacity: 0;
    position: absolute;
    right: 0;
    // transform: translateY(4px);
    transition: 300ms;

    &--bellow {
      $border-width: 4px;
      border-top: 2px solid $error-30;
      bottom: unset;
      left: 0;
      padding-top: 0.5rem;
      top: 100%;
      // transform: translateY(-4px);
    }

    &--right {
      $border-width: 4px;
      border-left: 2px solid $error-30;
      bottom: unset;
      left: 100%;
      padding-left: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }

    &--for-title {
      left: 0;
      position: relative;
      top: 0;
      transform: none;
    }

    &--error {
      color: $error-30;
    }

    &--success {
      color: $success-30;
    }

    &--warning {
      color: $warning-30;
    }

    // Retirar --on o quanto antes para padronizar na aplicação.
    // Com certeza existe no login. Verificar em outros cantos.
    &--on,
    &--is-show {
      opacity: 1;
      // transform: translateY(0);
    }
  }

  &__msg-icon {
    font-size: $font-size--sm;
    margin-right: $distance--xxs;
  }

  &__aux-link {
    font-size: $font-size--xxs;
    cursor: pointer;
    margin-top: $distance--xxs;
    padding-left: 0.5rem;

    &:hover {
      color: $default-green;
    }
  }

  &-group {
    $this: &;

    align-items: stretch;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    max-width: 100%;

    // Se o form-group for o único filho de uma coluna, pegará sempre a largura toda.
    [class*="col-"] &:only-child {
      width: 100%;
    }

    &__search-content {
      position: relative;
      display: flex;

      span {
        position: absolute;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        padding-right: 0.5rem;
        font-size: 20px;
      }
    }


    &__container-reviewProfile {
      width: auto !important;
      height: auto !important;
      border-radius: 0 !important;
      box-shadow: none !important;


    }

    &__container {
      position: relative;
      margin-bottom: $distance--md;

      &--h30 {
        height: 30vh;

        & input {
          padding: 5vh 0 40vh 2vh;

          &::placeholder {
            position: absolute;
            top: 2vh;
          }
        }
      }

      &--descricao {
        height: 12rem !important;
      }
    }

    &__label {
      @include title-aux;
      text-transform: capitalize;
      font-size: 1rem;
      font-weight: 500;
      line-height: 14px;
      word-wrap: break-word;
      color: #808080;


      margin-bottom: $distance--xs;

      @at-root {
        [class*="flex-row"]>& {
          margin-bottom: 0;
          margin-right: $distance--xs;
        }
      }
    }

    &__label-conteudos {
      margin-bottom: 0.8rem;
      font-weight: 400;
      text-transform: none;
      color: #808080;
      font-size: 16px;
    }

    &__input {
      flex: 1;
      min-height: $input-height;
      -webkit-appearance: none;

      //color: #cacaca;
      @include target-ie {
        flex-basis: auto;
      }

      &--conteudos {
        border-radius: 20px !important;
        position: relative;
        width: 100%;
        background-color: #FAFAFA;
         
          color: #808080;
          font-size: 14px;
        

        &::placeholder {
          font-size: 16px !important;
          padding-left: 0.5rem;
          color: #808080;
        }
      }

      &--anos {
        width: 10rem;
        border-radius: 7px;
        color: #b5b5b5;
        font-size: .8rem;
        // font-size: 11px;
        font-weight: 400;
        line-height: 16px;
        word-wrap: break-word;
        height: 1.5rem;
        flex: none;
        min-height: 0rem;
        // box-shadow: inset rgba(60, 70, 85, .17) 0 0 5px 0, rgb(0 0 0 / 11%) 4px 4px 8px 0;
        box-shadow: 0 .1rem .25rem .25px rgba(54, 54, 54, .2);

        background-color: #fff;
        margin-left: 1rem;

        // width: 7rem;
        // border-radius: 10rem;

      }

      &--amount {
        flex: 1 0 auto;
      }

      &+#{$this}__input:not(.pwdt) {
        margin-left: $distance--md;
      }

      &--is-disabled {
        cursor: not-allowed;
        opacity: 0.4;
        background: $gray-40;
        color: $gray-40;
        pointer-events: none;
        -webkit-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
      }
    }

    &__infos {
      display: grid;
      margin-top: 2rem;
      width: 12.5rem;
    }

    &__usuarios {
      input {
        background-color: #fff;
        -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(54, 54, 54, 0.2);
        box-shadow: 0 0.3rem 0.5rem 0 rgba(54, 54, 54, 0.2);
        border-radius: 10px;
        color: #b5b5b5;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        word-wrap: break-word;
      }

      select {
        background-color: #fff;
        -webkit-box-shadow: 0 0.3rem 0.5rem 0 rgba(54, 54, 54, 0.2);
        box-shadow: 0 0.3rem 0.5rem 0 rgba(54, 54, 54, 0.2);
        border-radius: 10px;
        color: #b5b5b5;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        word-wrap: break-word;
      }

      label {
        font-size: 1rem;
        font-weight: 500;
        line-height: 16px;
        word-wrap: break-word;
        color: #808080;
        text-transform: capitalize;
      }
    }

    &__cta {
      align-items: center;
      bottom: 0;
      display: flex;
      height: 40px;
      justify-content: center;
      padding: 0;
      position: absolute;
      right: 0;
      width: 40px;
    }

    // Douglas
    &__link {
      font-size: 1rem;
      color: $default-green;
      cursor: pointer;
      font-size: 0.8rem;
      text-decoration-line: underline;

      &:hover {
        color: $default-green;
      }
    }

    // Não bom...
    &--aired-v {
      margin-bottom: $distance--md;
    }

    &--aired-h {
      margin-right: $distance--lg;
    }

    &--bottom {
      align-items: flex-end;
    }

    &--center {
      align-items: center;
    }

    &--full-width {
      width: 100%;

      [class*="wrapper"] {
        flex: 1;
      }
    }

    // Fim de não bom...

    &--horizontal {
      align-items: center;
      flex-direction: row;

      >[class*="__label"] {
        margin-bottom: 0;
        margin-right: $distance--xs;
        margin-top: 2px; //compensar visualmente a sombra do input
        min-width: 0;
      }
    }

    &__wrapper {
      display: inline-flex;
      position: relative;

      &--search {
        &::after {
          @include icon;

          content: url(/assets/img/btn-buscar.png);
          font-size: 0.8rem;
          font-family: "Poppins", sans-serif;
          padding: 0.25rem 0.15rem 0.15rem;
          pointer-events: none;
          position: absolute;
          right: $distance--xxs;
          top: 50%;
          transform: translateY(-55%); //posição da lupa é estranha na font. um pouco mais para baixo do que deveria.
          z-index: 1;
        }

        [class*="__input"] {
          padding-right: $distance--xl;
        }

        input {
          background-color: #fff;
          color: #808080;
          border-bottom: 1px solid #cfcfcf;
          width: 25rem;
          font-size: 0.8rem;
        }
      }

      &:not[class*="vertical"] {
        ~[class*="btn"] {
          margin-left: $distance--sm;
        }
      }

      &--select {
        display: inline-flex;
        min-width: 9rem;
        position: relative;

        &::after {
          @include icon;

          content: $icon-chevron-down;

          font-size: $font-size--md;
          font-weight: bold;
          opacity: 0.85;
          padding: 0;
          pointer-events: none;
          position: absolute;
          right: $distance--xs;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
        }
      }

      &--select-anos {
        display: inline-flex;
        min-width: 5rem;
        position: relative;

        &::after {
          @include icon;

          content: $icon-chevron-down;

          font-size: $font-size--md;
          font-weight: bold;
          opacity: 0.85;
          padding: 0;
          pointer-events: none;
          position: absolute;
          right: $distance--xs;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
        }
      }
    }

    &__input-container {
      position: relative;

      &::after {
        $size: $distance--md;
        align-items: center;
        color: $default-green;
        content: "";
        display: inline-flex;
        font-family: "icomoon";
        font-size: $font-size--lg;
        height: $size;
        justify-content: center;
        opacity: 0;
        position: absolute;
        right: $distance--xs;
        top: 50%;
        transform: translateY(-50%);
        width: $size;
      }

      &--is-validated {
        #{$this}__input {
          background-color: $default-green;
        }

        &::after {
          opacity: 1;
        }
      }
    }

    &__tipo-instituicao {
      font-size: 0.9rem;
      width: 40%;
      margin-top: 0.8rem;
      color: #808080;
      margin-left: 0rem;

      p {
        display: contents;
      }

      label {
        width: 3rem;
        display: inline-block;
      }

      input {
        vertical-align: text-top;
      }

      @include media("<sm") {
        width: 95% !important;
        // margin-left: 0rem !important;
      }

      @include media("<md") {
        width: 60%;
        margin-left: 0rem !important;
      }

      @include media("<lg") {
        margin-left: 2rem;
      }
    }

    &__login {
      position: relative;
      margin-bottom: 1.5rem;
    }

    &__container {
      width: 10rem;
      height: 2.3rem;
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0.3rem 0.5rem 0 rgba(54, 54, 54, 0.2);
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;

      &--bar {
        width: 0;
        height: 100%;
        background-color: #8ab925;
        animation: growProf 3s ease-out forwards;
      }

      .alunos {
        animation: growAluno 3s ease-out forwards;
      }



      &--medicao {
        position: relative;
        width: -webkit-fill-available;
        margin-top: 0.5rem;

        @include media("<sm") {
          width: 20rem;
          height: 8rem;
        }


        :nth-child(3) {
          right: 0;
          position: absolute;
        }

        h2 {
          height: 2rem;
          font-weight: 400;
        }

        label {
          height: 2rem;
          display: table-caption;
          vertical-align: sub;
        }

        span {
          font-weight: normal;
        }
      }

      @include media("<lg") {
        width: 20rem;
      }
    }

    &__usuarios {
      color: #808080;
      text-transform: capitalize !important;

      input {
        background-color: #fff;
        box-shadow: 0 .1rem .25rem .25px rgba(54, 54, 54, .2);
        // box-shadow: 0 .3rem 0.5rem 0 rgba(54, 54, 54, .2);
        border-radius: 10px;
        color: #B5B5B5;
        font-size: 14px;
        font-family: Poppins;
        font-weight: 400;
        line-height: 16px;
        word-wrap: break-word
      }

      label {
        text-transform: capitalize !important;
      }

      select {
        background-color: #fff;
        box-shadow: 0 .1rem .25rem .25px rgba(54, 54, 54, .2);
        // box-shadow: 0 .3rem 0.5rem 0 rgba(54, 54, 54, .2);
        border-radius: 10px;
        font-size: 0.8rem;
        color: #B5B5B5;
        // max-width: 15rem;
      }
    }

    &__usuarios-modal {
      color: #808080;

      // text-transform: capitalize !important;
      input {
        background-color: #fff;
        box-shadow: 0px 0.1rem 0.25rem 0.25px rgba(54, 54, 54, .2);
        // box-shadow: 0 .3rem 0.5rem 0 rgba(54, 54, 54, .2);
        border-radius: 8px;
        // color: #B5B5B5;
        font-size: 14px;
        font-family: Poppins;
        font-weight: 400;
        line-height: 16px;
        word-wrap: break-word
      }

      label {
        text-transform: none !important;
        // text-transform: capitalize !important;
      }

      select {
        background-color: #fff;
        box-shadow: 0px 0.1rem 0.25rem 0.25px rgba(54, 54, 54, .2);
        // box-shadow: 0 .3rem 0.5rem 0 rgba(54, 54, 54, .2);
        border-radius: 8px;
        font-size: 0.8rem;
        // color: #B5B5B5;
      }


      &__title-segmento {
        color: #808080;
        font-size: 16px;
        font-weight: 600;
        line-height: 14px;
        word-wrap: break-word;

      }

      &__title-platano {
        margin-top: 0.5rem;
        color: #808080;
        font-size: 15px;
        font-weight: 600;
        line-height: 14px;
        word-wrap: break-word;

      }


    }
  }
}

.platano-box {
  border: solid 1px rgba(0, 0, 0, 0.25);
  padding: 10px;

  & h3 {
    font-weight: 600;
    font-size: 17px;
  }

  & p {
    font-weight: 400;
    font-size: 16px;
  }

  &_size {
    width: 17%;
  }
}