.form {
  $this: &;

  &__msg {
    align-items: center;
    bottom: calc(100% + #{$distance--xxs});
    display: flex;
    font-size: $font-size--xxs;
    line-height: 1;
    opacity: 0;
    position: absolute;
    right: 0;
    // transform: translateY(4px);
    transition: 300ms;

    &--bellow {
      $border-width: 4px;

      border-top: 2px solid $color-error;
      bottom: unset;
      left: 0;
      padding-top: .5rem;
      top: 100%;
      // transform: translateY(-4px);
    }

    &--error {
      color: $color-error;
    }

    &--success {
      color: $color-success;
    }

    &--warning {
      color: $color-warning;
    }

    // Retirar --on o quanto antes para padronizar na aplicação.
    // Com certeza existe no login. Verificar em outros cantos.
    &--on,
    &--is-show {
      opacity: 1;
      // transform: translateY(0);
    }

  }

  &__msg-icon {
    font-size: $font-size--sm;
    margin-right: $distance--xxs;
  }

  &__trash-icon {
    color: $leaf-30;
    font-size: 1.4rem;
    content: "";


    &:hover {
      color: $leaf-60;
      opacity: 0.9;
      //transition: transform .5s;
      //transform: scale(1.2);

    }


  }

  &-group {
    $this: &;

    align-items: stretch;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    max-width: 100%;

    // Se o form-group for o único filho de uma coluna, pegará sempre a largura toda.
    [class*='col-'] &:only-child {
      width: 100%;
    }

    &__container {
      position: relative;
      margin-bottom: $distance--md;
    }

    &__label {
      @include title-aux;

      margin-bottom: $distance--xs;
      min-width: 5rem;
    }

    &__input {
      flex: 1;
      min-height: $input-height;
      -webkit-appearance: none;

      @include target-ie {
        flex-basis: auto;
      }

      &--amount {
        flex: 1 0 auto;
      }

      &+#{$this}__input:not(.pwdt) {
        margin-left: $distance--md;
      }

      &--is-disabled {
        cursor: not-allowed;
        opacity: 0.4;
        background: $gray-40;
        pointer-events: none;
        -webkit-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
      }

    }


    &__cta {
      align-items: center;
      bottom: 0;
      display: flex;
      height: 40px;
      justify-content: center;
      padding: 0;
      position: absolute;
      right: 0;
      width: 40px;
    }

    &__link {
      font-size: 1rem;
      color: $gray-60;
      cursor: pointer;
      //text-decoration-line: underline;

      &:hover{
        color:$leaf-20;
      }
    }

    // Não bom...
    &--aired-v {
      margin-bottom: $distance--md;
    }

    &--aired-h {
      margin-right: $distance--lg;
    }

    &--bottom {
      align-items: flex-end;
    }

    &--center {
      align-items: center;
    }

    &--full-width {
      width: 100%;

      [class*='wrapper'] {
        flex: 1;
      }

    }

    // Fim de não bom...

    &--horizontal {
      align-items: center;
      flex-direction: row;

      >[class*='__label'] {
        margin-bottom: 0;
        margin-right: $distance--xs;
        margin-top: 2px; //compensar visualmente a sombra do input
        min-width: 0;
      }
    }

    &__wrapper {
      display: inline-flex;
      position: relative;

      &--search {

        &::after {
          @include icon;

          content: $icon-search;
          font-size: $font-size--sm;
          padding: .25rem .15rem .15rem;
          pointer-events: none;
          position: absolute;
          right: $distance--xxs;
          top: 50%;
          transform: translateY(-55%); //posição da lupa é estranha na font. um pouco mais para baixo do que deveria.
          z-index: 1;
        }

        [class*='__input'] {
          padding-right: $distance--xl;
        }

      }

      &:not[class*='vertical'] {

        ~[class*='btn'] {
          margin-left: $distance--sm;
        }

      }

      &--select {
        display: inline-flex;
        min-width: 9rem;
        position: relative;

        &::after {
          @include icon;

          content: $icon-chevron-down;

          font-size: $font-size--md;
          font-weight: bold;
          opacity: .85;
          padding: 0;
          pointer-events: none;
          position: absolute;
          right: $distance--xs;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
        }
      }

    }

    &__input-container {
      position: relative;

      &::after {
        $size: $distance--md;

        align-items: center;
        color: $green-50;
        content: "";
        display: inline-flex;
        font-family: "icomoon";
        font-size: $font-size--lg;
        height: $size;
        justify-content: center;
        opacity: 0;
        position: absolute;
        right: $distance--xs;
        top: 50%;
        transform: translateY(-50%);
        width: $size;
      }

      &--is-validated {
        #{$this}__input {
          background-color: $green-0;
        }

        &::after {
          opacity: 1;
        }

      }

    }

  }

}
