.form {
    &__msg {
        align-items: center;
        bottom: calc(100% + #{$distance--xxs});
        display: flex;
        font-size: $font-size--xxs;
        line-height: 1;
        opacity: 0;
        position: absolute;
        right: 0;
        transform: translateY(4px);
        transition: 300ms;

        &--bellow {
            bottom: unset;
            top: calc(100% + #{$distance--xxs});
            transform: translateY(-4px);
        }

        &--error   { color: $color-error; }
        &--success { color: $color-success; }
        &--warning { color: $color-warning; }

        &--on {
            opacity: 1;
            transform: translateY(0);
        }

    }

    &__msg-icon {
        font-size: $font-size--sm;
        margin-right: $distance--xxs;
    }

    &-group {
        $this: &;

        display: inline-flex;
        flex: 0 0 auto;
        flex-direction: column;
        max-width: 100%;

        @include media('>sm') {
            align-items: center;
            flex-direction: row;
        }

        // & + & {
        //     flex: 0 1 auto;
        // }

        &__container {
            position: relative;
            margin-bottom: $distance--md;
        }

        &__label {
            @include title-aux;

            margin-bottom: $distance--xs;
            min-width: 5rem;

            @include media('>sm') {
                margin-bottom: 0;
                margin-right: $distance--sm;
                min-width: 4rem;
            }

            [class*='vertical'] & {
                margin-bottom: $distance--xs;
            }

        }

        &__input {
            flex: 1;
            -webkit-appearance: none;

            @include target-ie {
                flex-basis: auto;
            }

            &--amount {
                flex: 0 0 auto;
                min-width: 0;
                width: 6rem;
            }

            & + #{$this}__input:not(.pwdt) {
                margin-left: $distance--md;
            }

        }

        &__cta {
            align-items: center;
            bottom: 0;
            display: flex;
            height: 40px;
            justify-content: center;
            padding: 0;
            position: absolute;
            right: 0;
            width: 40px;
        }

        // Não bom...
        &--aired-v { margin-bottom: $distance--md; }
        &--aired-h { margin-right: $distance--lg; }

        &--bottom {
            align-items: flex-end;
        }

        &--center {
            align-items: center;
        }

        &--full-width {
            width: 100%;

            [class*='wrapper'] {
                flex: 1;
            }

        }
        // Fim de não bom...

        &--vertical {
            align-items: stretch;
            flex-direction: column;
        }

        &__wrapper {
            display: inline-flex;
            position: relative;

            &--search {

                &::before {
                    @include icon;

                    content: $icon-search;
                    font-size: $font-size--md;
                    padding: $distance--xxs .15rem .15rem;
                    pointer-events: none;
                    position: absolute;
                    right: .5em;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                }

                [class*='__input'] {
                    width: 100%;
                }

            }

            &:not[class*='vertical'] {

                ~ [class*='btn'] {
                    margin-left: $distance--sm;
                }

            }

        }

        &--select-wrapper {
            display: inline-flex;
            min-width: 9rem;
            position: relative;

            &::before {
                @include icon;

                content: $icon-chevron-down;
                font-size: $font-size--md;
                padding: 0;
                pointer-events: none;
                position: absolute;
                right: .5em;
                top: 100%;
                transform: translateY(-27px); // (form height / 2) + (icon height /2)
                z-index: 2;
            }
        }

    }

}