.list {
  $this: &;

  display: flex;
  flex-direction: column;

  &--img-name-action {

    > li {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;

      > * {
        max-width: 100%;
      }

      @include media('>md') {
        flex-direction: row;

        > *:nth-child(1) {
          margin-right: auto;
        }

        > *:not(:first-child) {
          margin-left: $distance--md;
        }

      }

    }

    #{$this}__img {
      $size: 7rem;

      @include bg-as-thumb($size: contain);

      align-items: center;
      border-radius: $radius;
      display: flex;
      height: $size/2;
      justify-content: center;
      margin-bottom: $distance--lg;
      max-width: 100%;
      overflow: hidden;
      text-align: center;
      width: $size;

      @include media('>md') {
        margin-bottom: 0;
      }

      &--auto-height {
        height: auto;
      }

      &--xl {
        height: $size * 2;
        width: $size * 4;
      }

    }

    #{$this}__name {
      flex-shrink: 1;
      margin-right: auto;
      max-width: 60%;
      text-align: left;
      text-transform: none;
      white-space: normal;

      @include media('>md') {
        margin-bottom: 0;
        max-width: none;
      }

    }

  }

  &--striped {

    > li {
      align-items: center;
      padding: $distance--md;

      &:nth-child(odd) {
        background-color: $stripe-bg-color;
        border-radius: $radius;
      }

    }

  }

  &--3-col {

    @include media('>sm') {
      flex-direction: row;
      flex-wrap: wrap;

      >li {
        flex: 0 0 33%;
      }

    }

  }

}
