.list {
  $this: &;

  display: flex;
  flex-direction: column;

  &--img-name-action {

    > li {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;

      > * {
        max-width: 100%;
      }

      @include media('>md') {
        flex-direction: row;

        > *:nth-child(1) {
          margin-right: auto;
        }

        > *:not(:first-child) {
          margin-left: $distance--md;
        }

      }

    }

    #{$this}__img {
      $size: 7rem;

      @include bg-as-thumb($size: contain);

      align-items: center;
      border-radius: $radius;
      display: flex;
      height: $size/2;
      justify-content: center;
      margin-bottom: $distance--lg;
      max-width: 100%;
      overflow: hidden;
      text-align: center;
      width: $size;

      @include media('>md') {
        margin-bottom: 0;
      }

      &--auto-height {
        height: auto;
      }

      &--xl {
        height: $size * 2;
        width: $size * 4;
      }

    }

    #{$this}__name {
      flex-shrink: 1;
      margin-right: auto;
      max-width: 60%;
      text-align: left;
      text-transform: none;
      white-space: normal;

      @include media('>md') {
        margin-bottom: 0;
        max-width: none;
      }

    }

  }

  &__etiqueta{
    background-color: #B5B5B5;
    font-size: .8rem;
    color: #fff;
    padding: .4rem;
    width: 6rem;
    display: block;
    text-align: center;
    line-height: 0.7rem;
    height: 1.5rem;
    position: absolute;
    right: 11rem;
    text-transform: uppercase;

    @include media('<sm') {
      left: 8.5rem;
      top: 4.8rem;
      position: relative;
    }
  }

  &__linhas{

    
    @include media('<sm') {
      display: inline-flex;
      display: grid !important;
    }
   
  }

  &__title{

    &--instituicao{
      font-size:1.3rem;
      color: #808080;
      font-weight: 600;
      text-transform: capitalize;
      text-decoration: none;

      @include media('<sm') {
      width: 100%;
      display: block;
      }

    }
  }

  &--striped {

    > li {
      align-items: center;
      padding: $distance--md $distance--xs;

      @include media('>sm') {
        padding: 0.8rem;
      }

      &:nth-child(odd) {
        background-color: #F7FAF1;
      }

    }

  }

  &--2-col {
    display: grid;
    gap: $distance--md;
    grid-template-columns: 1fr;
    position: relative;

    @include media('>sm') {
      grid-template-columns: repeat(2, 1fr);
     }

     @include media('<md') {
      display: block;
      
     }

     > li {
      display: flex;
      align-items: stretch;

      @include media('<md') {
        width: 100%;
        margin-bottom: 1rem;
      }

     }
  }

  &--3-col {

    @include media('>sm') {
      flex-direction: row;
      flex-wrap: wrap;

      >li {
        flex: 0 0 33%;
      }

    }

  }

  &__title-institutions{
    font-size: 1.3rem;
    text-transform:capitalize;
    color: #808080 !important;
    text-decoration: none !important;
    font-weight: 600;
  }

}
