.media {
  $this: &;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: $distance--md;

  // Elements
  // &__title {
  // }

  &__picture {
    flex: 0 0 auto;
  }

  &__thumb {
    $size: $avatar--md;

    border-radius: $radius--md;
    height: $size;
    max-width: 100%;
    object-fit: cover;
    width: $size;

    @include media('>lg') {
      $size: $avatar--xl;

      height: $size;
      width: $size;
    }

  }

  &__body {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  // Modifiers
  &--card {
    border-radius: $radius--md;
    box-shadow: $shadow-1, $shadow-3;
    min-height: 100%;
    padding: $distance--sm;

    &:focus-within {
      outline: 2px solid $leaf-10;
    }

  }

}
