.person {
    $this: &;

    display: flex;
    // flex: 1;
    flex-direction: column;
    font-size: $font-size--xxs;

    &__name {
        @include title-4($weight: 600);

        text-align: center;
    }

    &__email {
        margin-top: $distance--xxs;
        margin-bottom: $distance--sm;

        @include media('>md') {
        }

    }

    &__other {
        display: none;

        @include media('>md') {
            display: block;
        }

        &:not(:last-of-type) {
            margin-bottom: $distance--xs;
        }

    }

    &__info {
        background-color: $gray-5;
        border-radius: $radius;
        font-size: $font-size--xs;
        padding: $distance--md;
    }

}
