.radio {
    $this: &;

    @include check-radio;

    align-items: center;
    display: flex;

    &__label {

        &::before,
        &::after {
            border-radius: 50%;
        }

        &::after {
            content: '';
            height: $input-radio-selected-size;
            left: calc((#{$input-check-radio-size} - #{$input-radio-selected-size}) / 2);
            width: $input-radio-selected-size;
        }

    }

    &__aux {
        padding-left: $input-check-radio-label-margin;

        > * { line-height: 1.25; }

    }

    &--sm {
        #{$this}__label {
            padding-left: calc(#{$input-check-radio-size--sm} + #{$distance--xs});

            &::before {
                height: $input-check-radio-size--sm;
                width: $input-check-radio-size--sm;
            }

            &::after {
                $after-size: $input-check-radio-size--sm / 2;

                height: $after-size;
                left: calc((#{$input-check-radio-size--sm} - #{$after-size}) / 2);
                width: $after-size;
            }
        }
    }

}
