.skills {
    $this: &;

    font-size: $font-size--xs;
    position: relative;

    &__list {
        border-left: 2px solid $green-50;
        padding: $distance--xs 0;

        > li {
            padding-bottom: $distance--xxs;
            padding-left: $distance--sm;
            padding-top: $distance--xxs;
        }

    }

    &--sm {
        font-size: $font-size--xxs;
        font-size: calc(#{$font-size--xxs} + .25vw);
    }

}
