.stacked-bar {
    $stacked-bar-height: .5rem;
    $stacked-bar-legend-square: .5rem;

    $this: &;

    display: flex;
    flex-direction: column;
    width: 100%;

    &__values {
        border-radius: 1rem;
        box-shadow: $shadow-1;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: $distance--xxs;
        height: $stacked-bar-height;
        overflow: hidden;
        width: 100%;

        > * {
            min-width: $stacked-bar-height;
        }

        .no-flexbox-gap & {
            > *:not(:last-child) {
                margin-right: $distance--xxs;
            }
        }

    }

    &__legend {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: $font-size--xxs;
        padding: $distance--xs 0;
        text-transform: uppercase;

        @include media('>md') {
            flex-direction: row;
            justify-content: space-between;
        }

        > * {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex: 1 0 30%;
            margin-bottom: $distance--sm;

            @include media('>md') {
                margin-bottom: 0;
                margin-right: $distance--xs;
            }

        }

    }

    &__color-element {
        $size: $stacked-bar-legend-square;

        border-radius: $radius;
        box-shadow: $shadow-1;
        display: inline-block;
        flex: 0 0 auto;
        height: $size;
        margin-right: $distance--xs;
        width: $size;
    }

    &__value {
        &--1 { background-color: $info-60; }
        &--2 { background-color: $info-30; }
        &--3 { background-color: $info-10; }
    }

}
