.steps {
    $this: &;
    $font-size: $font-size--lg;
    $number-border: 4px;
    $size: 2em;
    $padding: $distance--sm;

    align-items: center;
    background-color: $gray-0;
    display: flex;
    flex-direction: row;
    font-size: $font-size;
    justify-content: space-between;
    padding: $padding;
    position: relative;

    > * {
        z-index: 2;
    }

    &::before {
        background-color: $gray-20;
        border-radius: $radius;
        bottom: calc((#{$size} - #{$number-border}) / 2 + #{$padding});
        content: '';
        height: $distance--xxs;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: calc(100% - #{$size} - (#{$padding} * 2));
    }

    &__step {
        align-items: center;
        display: flex;
        flex-direction: column;

        &:first-child { align-self: flex-start; }
        &:last-child { align-self: flex-end; }

        &:not(:last-of-type) {
            margin-right: $distance--md;
        }

        > *:last-child {
            margin-top: $distance--xs;
        }

    }

    &__number {
        align-items: center;
        background-color: $blue-navy-60;
        border: $number-border solid $white;
        border-radius: 50%;
        box-shadow: $shadow-1, $shadow-2, $shadow-3;
        color: $white;
        display: flex;
        flex-direction: row;
        height: $size;
        justify-content: center;
        width: $size;

        &--is-active,
        [class*='--is-active'] & { background-color: $green-40; }
    }

    &__label {
        @include title-aux;

        display: block;
        // min-width: 12rem;
        text-align: center;
        word-wrap: wrap;
    }

}
