.submenu {
  $this: &;

  opacity: 0;
  transform: translateY(8px);
  transition-delay: 150ms;
  transition-duration: 300ms;

  transition-timing-function: cubic-bezier(.25, .46, .45, .94); // IE fallback
  transition-timing-function: var(--ease-out--quad);

  visibility: hidden;

  &__item {
    margin: $distance--md 0 $distance--md;
  }

  &__link {
    @include has-capsule-on-hover;

    display: block;
    font-size: $font-size--sm;
    font-weight: 400;
    padding: 0 $distance--md;
    transition: 300ms;

    @include target-ie {
      overflow: hidden;
    }

    @include target-edge {
      overflow: hidden;
    }

  }

  &--header {
    background-color: $white;
    border-radius: $radius;
    box-shadow: $shadow-3;
  }

  &--is-show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  &--timeline {
    z-index: 2;
  }

}
