// BLOCK
// switch

// ELEMENTS
// __checkbox
// __label
// __inner
// __head

// EXAMPLE
// <span class="switch">
    // <input class="switch__checkbox" type="checkbox" id="temp">
    // <label class="switch__label" for="temp">
    //     <span class="switch__inner"></span>
    //     <span class="switch__switch"></span>
    // </label>
// </span>


.switch {
  $this: &;
  $switch-head: 1.25rem;
  $switch-height: $input-height;
  $switch-width: 6rem;
  $switch-head-bg-color-on: $info-40;
  $switch-head-bg-color-off: $error-40;
  $switch-color: $gray-60;

  display: inline-block;
  flex-shrink: 0;
  position: relative;
  text-align: left;
  user-select: none;
  width: $switch-width;

  &__checkbox {
      display: none;
  }

  &__label {
      height: 1.5rem;
      border-radius: 2px;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      overflow: hidden;
      padding: 0 0rem 0 2rem;
      position: relative;
      transform: translate3d(0, 0, 0); // Evita problema de renderização


    //essa clase troca o habilitado e desabilitado
    &--desabilitado::before{
        content: 'desabilitada';
        background-color: grey;
        color: #fff;
        text-align: center;
        padding: 0.6rem;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    &--habilitado::before{
        content: "habilitada";
        text-align: center;
        padding: 0.5rem .8rem;
        background-color: #8AB925 !important;
        color: #fff;
        text-transform: uppercase;
        width: 5rem;
        display: block;
        font-size: .8rem;
    }
      
    // -webkit-transform: translate3d(0, 0, 0);
    // transform: translate3d(0, 0, 0);
    // [disabled] + & {
    //     background-color: $gray-30;
    //     cursor: not-allowed;
    // }

  }

  &__inner {
      height: 100%;
      right: 1%;
      position: absolute;
      text-transform: uppercase;
      top: 0;
      transform: translateX(-75%);

      // transition: 200ms cubic-bezier(.455, .03, .515, .955); // IE fallback
      // transition: 200ms var(--ease-in-out-quad);

      #{$this}__head {
        transform: translate( calc((-#{$switch-head}) - 465%), -50%);
      }

      width: 110%;
  }

  &__inner::before,
  &__inner::after {
      box-sizing: border-box;
      color: #607180;
      font-size: .85em;
      font-weight: bold;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 110%;
  }

  &__inner::before {
      content: 'SIM';
      left: 15%;
      text-align: left;
  }

  &__inner::after {
      content: 'NÃO';
      text-align: right;
      transform: translate(50%, -50%);
  }



  &__head {
      background-color: #b62020;
      /* border-radius: 10px; */
      -webkit-box-shadow: 0 3px 6px rgba(160, 168, 177, .06), 0 3px 6px rgba(160, 168, 177, .016);
      box-shadow: 0 3px 6px rgba(160, 168, 177, .06), 0 3px 6px rgba(160, 168, 177, .016);
      height: 1.25rem;
      position: absolute;
      right: 6px;
      top: 50%;
      -webkit-transform: translate(-550%, -50%);
      -ms-transform: translate(-550%, -50%);
      transform: translate(-550%, -50%);
      -webkit-transform: translate(calc((-1.25rem) - 230%), -50%);
      -ms-transform: translate(calc((-1.25rem) - 230%), -50%);
      transform: translate(calc((-1.25rem) - 230%), -50%);
      -webkit-transition: .3s cubic-bezier(.455,.03,.515,.955);
      -o-transition: .3s cubic-bezier(.455, .03, .515, .955);
      transition: .3s cubic-bezier(.455,.03,.515,.955);
      -webkit-transition: .3s var(--ease-in-out-quad);
      -o-transition: .3s var(--ease-in-out-quad);
      transition: .3s var(--ease-in-out-quad);
      width: 1.25rem;
  }

  &__checkbox:checked + &__label {

      #{$this}__head {
          background-color: #227791;
          // background-color: $switch-head-bg-color-on;
      }

      #{$this}__inner {
          transform: translateX(0);
      }

      #{$this}__head {
          transform: translate(0, -50%);
      }
  }

  &--institutions {
      width: 9rem;

      #{$this}__head {
          transform: translate( calc((-#{$switch-head}) - 465%), -50%);
      }

      #{$this}__inner::before {
          content: 'habilitada';
          left: 20%;
      }

      #{$this}__inner::after {
          content: 'desabilitada';
          transform: translate(54%, -50%);
      }

      @include media('<sm') {
          left: 7rem;

        }

  }

  &--users {
    width: 9rem;

    #{$this}__head {
        transform: translate( calc((-#{$switch-head}) - 465%), -50%);
    }

    #{$this}__inner::before {
        content: 'habilitados';
        left: 8%;
    }

    #{$this}__inner::after {
        content: 'desabilitados';
        transform: translate(54%, -50%);
    }

  }
}



.switch__usuarios {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
  
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      background-color: #DC1B1B;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      border-radius: 10px;
      height: 1.8rem;
      width: 9rem;
      padding: .3rem 1rem;
      display: flex;
  
      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
       // background-color: white;
        transition: .4s;
        border-radius: 50%;
      }
    }


  
    input:checked + .slider {
      background-color: #8AB925;
  
      &:before {
        transform: translateX(66px);
      }
    }
  
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      color: white;
      user-select: none;
      text-transform: lowercase;
  
      &.disabled-text {
        display: none;
      }
    }
  
    input:checked + .slider .enabled-text {
      display: contents;

      img{
        width: 1rem;
        height: 1rem;
        display: grid;
        margin-top: .1rem;
        margin-right: 1.5rem;
      }
    }
  
    input:checked + .slider .disabled-text {
      display: none;
    }
  
    input:not(:checked) + .slider .enabled-text {
      display: none;
    }
  
    input:not(:checked) + .slider .disabled-text {
      display: contents;

      img{
        display: grid;
        margin-top: .3rem;
        margin-right: 1.5rem;
      }
    }


  }

  .switch__anos {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 25px;

    // position: absolute;
    // width: 50px;
    // height: 22px;
    // text-align: right;
    // right: 1.5rem;
  
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #DC1B1B;
      transition: .4s;
      border-radius: 34px;
  
      &:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 17px;
        // height: 15px;
        // width: 15px;
        left: 3px;
        bottom: 4px;
        background-color: rgba(255, 255, 255, 0.481);
        transition: .4s;
        border-radius: 50%;
      }
    }
  
    input:checked + .slider {
      background-color: #8AB925;
  
      &:before {
        transform: translateX(40px);
        // transform: translateX(25px);
      }
    }
  
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 9px;
      color: white;
      user-select: none;
  
      &.disabled-text {
        display: none;
      }
    }
  
    input:checked + .slider .enabled-text {
      display: block;
      // left: 32%;
    }
  
    input:checked + .slider .disabled-text {
      display: none;
    }
  
    input:not(:checked) + .slider .enabled-text {
      display: none;
    }
  
    input:not(:checked) + .slider .disabled-text {
      display: block;
      // left: 65%;
    }


  }
