.tabs {
    $this: &;

    border-bottom: 1px solid $gray-5;
    display: flex;
    flex-direction: row;
    font-family: $font-title;
    font-size: $font-size--xs;
    font-weight: bolder;

    &__tab {
        padding: 1em;

        > * { opacity: .5; }

        &--is-active {
            border-bottom: 2px solid $lemon-30;

            > * { opacity: 1; }

        }

    }

}
