.tabs {
    $this: &;

    align-items: flex-end;
    border-bottom: 1px solid $gray-5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__tab {
        font-family: $font-title;
        font-size: $font-size--xs;
        font-weight: bolder;
        padding: $distance--sm;
        text-align: center;

        > * { opacity: .5; }

        &--is-active {
            border-bottom: 2px solid $lemon-30;

            > * { opacity: 1; }

        }

    }

    &__not-tab {
        margin-bottom: $font-size--xs;
    }

    &--full-background {
        border-bottom: 0 solid transparent;
        text-transform: uppercase;

        #{$this}__tab {
            background-color: transparentize($blue-navy-60, .6);
            border-radius: $radius--md;
            color: $white;
            font-size: $font-size--xxs;
            font-weight: $font-weight-3;
            letter-spacing: $button-letter-spacing;
            margin-right: $distance--xs;
            padding: $distance--xs $distance--sm;
            transition: 200ms cubic-bezier(.455, .03, .515, .955); // IE fallback
            transition: 200ms var(--ease-in-out-quad);

            &:hover {
                background-color: $blue-navy-60;
            }

            &--is-active {
                background-color: $white;
                border-bottom: 0 solid transparent;
                color: $blue-navy-60;
            }

        }


    }

}
