.well {
  $this: &;

  background-color: $gray-0;
  border: 1px solid $gray-10;
  border-radius: $radius;
  box-shadow: $shadow-i-1;
  padding: $distance--xs $distance--sm;

  &--md {
    padding: $distance--md;
  }

  &--white {
    background-color: transparentize($white, .25);
    border: 1px solid $gray-10;
  }

  &--primary-light {
    background-color: transparentize($lemon-30, .9);
    border: 1px solid $green-10;
  }

}
