<div class="m-bottom--xs loader-local loader-local--is-show">

        <div class="loader-local__loader">
          <span class="icon-reload icon--xl"></span>
          Carregando dados. Aguarde...
        </div>
</div>