{{!-- <label>Código da escola:</label>
<input id="school-code" placeholder="Código" onkeyup={{action 'makeAjax'}}> --}}

<label class="form-group__label" for="codigo-escola">Código da escola:</label>
<input class="form-group__input" type="text" id="codigo-escola">
<span id="codigo-error"></span>
<input type="button" onclick={{action 'checkForm'}}>

