* {
  box-sizing: border-box;
  line-height: 1;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $body-bg-color;
  color: $gray-60;
  font-family: $font-base;
  font-size: 14px;
  font-variant-numeric: lining-nums;
  font-weight: 300;
  line-height: 1;
  min-height: 100%;
  text-align: left;

  >.ember-view {
    min-height: 100vh;
    max-height: 100%;
  }

}

a,
a:hover,
a:focus {
  text-decoration: none;
}

button {
  outline: -webkit-focus-ring-color auto 0;
  outline: 0 solid transparent;
}

p {
  line-height: 1.4;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

input:not([disabled])+label[for] {
  cursor: pointer;
}

input {
  @include inputs;

  box-shadow: inset $form-shadow;
  font-family: inherit;

  &[type='text'] {
    border-radius: $radius--md;
  }

  &[type*='radio'],
  &[type*='checkbox'] {
    height: unset;
  }

}

select {
  @include inputs;

  border-radius: $radius--md;
  box-shadow: $form-shadow;
  cursor: pointer;
  padding-left: $distance--md;
  padding-right: $distance--xl;

  &::-ms-expand {
    background-color: transparent;
    border: 0 solid transparent;
    display: none;
  }

}

textarea {
  padding: $distance--xs;
}

table {
  a {
    cursor: pointer;
    display: inline-block;
    line-height: 1.2;
    text-decoration: underline;
  }
}

th {
  font-weight: normal;
  padding: 0 $distance--sm $distance--xs;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: normal;
  word-wrap: normal;
}

tbody {
  -webkit-overflow-scrolling: touch;
}

td {
  overflow: hidden;
  padding: $distance--sm;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[data-ember-action] {
  cursor: pointer;
}
