@if ($debugger == true) {

    *,
    *::before,
    *::after {
        background-color: rgba(0, 0, 0, .15);
        outline: 1px solid $error-30;
    }

}

* {
    box-sizing: border-box;

    &:focus {
        outline: $focus-indicator;
    }

}

html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: $body-bg-color;
    color: $blue-navy-70;
    font-family: $font-base;
    font-size: 16px;
    font-variant-numeric: lining-nums;
    font-weight: normal;
    height: 100%;
    line-height: 1;
    overflow-x: hidden;
    text-align: left;

    > .ember-view {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        min-height: 100vh;
    }

}

a,
a:hover,
a:focus {
    text-decoration: none;
}

button {
    outline: -webkit-focus-ring-color auto 0;
    outline: 0 solid transparent;
}

p {
    line-height: 1.5;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

img[src*="placedog"] {
    border: 4px solid crimson;
}

input:not([disabled]) + label[for] {
    cursor: pointer;
}

input {
    @include inputs;

    box-shadow: inset $form-shadow;
    font-family: inherit;

    &[type='text'] {
        border-radius: $radius;
    }

    &[type*='radio'],
    &[type*='checkbox'] {
        height: unset;
    }

}

select {
    @include inputs;

    box-shadow: $form-shadow;
    cursor: pointer;

    padding-left: $distance--sm;
    padding-right: $distance--lg;

    &::-ms-expand {
        background-color: transparent;
        border: 0 solid transparent;
        display: none;
    }

}

textarea {
    @include inputs;

    min-height: 5rem;
    padding: $textarea-padding;
    resize: vertical;
}

strong {
    font-weight: bolder;
}

table {
    a {
        cursor: pointer;
        display: inline-block;
        line-height: 1.2;
        text-decoration: underline;
    }
}

th {
    font-size: $font-size--xxs;
    font-weight: bold;
    letter-spacing: $letter-spacing--lg;
    padding: 0 $distance--sm $distance--xs;
    vertical-align: middle;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: normal;
}

tbody {
    -webkit-overflow-scrolling: touch;
}

td {
    overflow: hidden;
    padding: $distance--sm;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[data-ember-action] {
    cursor: pointer;
}

[contenteditable] {
    margin-left: -$distance--xs;
    margin-right: -$distance--xs;
    padding: $distance--xs;
    position: relative;
    min-width: 5rem;
    outline: 0 solid transparent;

    &::before {
        background-color: transparentize($green-40, .9);
        border-bottom: 2px dotted $green-40;
        content: '';
        left: 0;
        opacity: 0;
        position: absolute;
        height: 100%;
        top: 0;
        transition: 200ms cubic-bezier(.455, .03, .515, .955); // IE fallback
        transition: 200ms var(--ease-in-out-quad);
        visibility: visible;
        width: 100%;
    }

}

[contenteditable='true']::before {
    opacity: 1;
    visibility: visible;
}
