//------------------------------------
//    #BG AS THUMB
//------------------------------------
@mixin bg-as-thumb($size: cover) {
    background-clip: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: $size;
}





//------------------------------------
//    #BUTTON DEFAULT APPEARANCE
//------------------------------------
@mixin button {
    align-items: center;
    // align-self: flex-start;
    border: $button-border-width solid transparent;
    cursor: pointer;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: row;
    font-size: $font-size--xxs;
    font-weight: $font-weight-5;
    justify-content: center;
    letter-spacing: $button-letter-spacing;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 200ms cubic-bezier(.455, .03, .515, .955); // IE fallback
    transition: 200ms var(--ease-out-quad);
    white-space: nowrap;
}





//------------------------------------
//    #CARD
//------------------------------------
@mixin card($theme: false, $padding: false) {
    border-radius: $radius;
    box-shadow: $shadow-3;

    @if $padding {
        padding: $padding;
    }

    @if $theme == 'light' {
        background-color: $white;
        color: $gray-60;
    } @else if $theme == 'dark' {
        background-color: $gray-60;
        color: $white;
    } @else {
        background-color: $gray-0;
        color: $gray-60;
    }


}





//------------------------------------
//    #CHECK RADIO
//------------------------------------
@mixin check-radio($size: 'default') {
    position: relative;

    &__input {
        @include input-hide;
    }

    &__label {
        align-items: center;
        cursor: pointer; //Label por padrão não possui o cursor como pointer
        display: flex;
        flex-direction: row;
        flex: 1;
        font-weight: normal; //Como é um label vinculado a check/radio, não deve ser bold(default)
        letter-spacing: 0;
        min-height: 2em;
        padding-left: $input-check-radio-label-margin;
        position: relative;

        @include target-ie() {
            flex: 0 0 auto;
            line-height: 2em;
        }

        &:active,
        &:focus {
            background-color: none;
        }

        &::before {
            background-color: $form-bg-color;
            border-radius: $radius;
            box-shadow: $form-shadow;
            content: '';
            cursor: pointer;
            display: inline-block;
            height: $input-check-radio-size;
            left: 0;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            transition: 200ms cubic-bezier(.455, .03, .515, .955); // IE fallback
            transition: 200ms var(--ease-in-out-quad);
            width: $input-check-radio-size;
        }

        &::after {
            opacity: 0;
            position: absolute;
            text-shadow: $shadow-2;
            top: 50%;
            transform: translateY(-100%);
            transition: 200ms cubic-bezier(.455, .03, .515, .955); // IE fallback
            transition: 200ms var(--ease-in-out-quad);
        }

    }

    &__input:checked ~ &__label::after {
        transform: translateY(-50%);
    }

}





//------------------------------------
//    #DIVIDER
//------------------------------------
// $color
// $direction
// $pos
// $size
@mixin divider($color: $light-gray, $direction: 'horizontal', $pos: 'none', $size: 2px, $opacity: .25) {
    position: relative;

    &::after {
        background-color: $color;
        content: '';
        left: 0;
        opacity: $opacity;
        position: absolute;

        @if ($pos == 'top') {
            bottom: 100%;
        }

        @if ($pos == 'bottom') {
            top: 100%;
        }

        @if ($direction == 'horizontal') {
            height: $size;
            width: 100%;
        }

        @if ($direction == 'vertical') {
            height: 100%;
            top: 0;
            width: $size;
        }


    }

}





//------------------------------------
//    #FULL WIDTH ON MAIN
//------------------------------------
@mixin full-width-on-main {
    margin-left: -$h-padding--xs;
    margin-right: -$h-padding--xs;

    @include media('>sm') {
      margin-left: -$h-padding--sm;
      margin-right: -$h-padding--sm;
    }

    @include media('>md') {
      margin-left: -$h-padding--md;
      margin-right: -$h-padding--md;
    }

    @include media('>lg') {
      margin-left: -$h-padding--lg;
      margin-right: -$h-padding--lg;
    }
}





//------------------------------------
//    #FULL WIDTH CONTAINER
//------------------------------------
@mixin full-width-container {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
    width: 100vw;
}





//------------------------------------
//    #DOTTED LINK
//------------------------------------
@mixin dotted-link {
    @include has-capsule-on-hover;

    background-color: transparent;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    text-shadow: none;
    z-index: 2;

    &::after {
        border-bottom: 2px dotted $gray-5;
        content: '';
        left: 0;
        opacity: .75;
        position: absolute;
        top: 100%;
        transition: 300ms cubic-bezier(.455, .03, .515, .955); // IE fallback
        transition: 300ms var(--ease-in-out-quad);
        width: 100%;
    }

    &:hover {

        &::after {
            opacity: 0;
        }

    }

}





//------------------------------------
//    #HAS CAPSULE ON HOVER
//------------------------------------
@mixin has-capsule-on-hover {
    overflow: visible;
    position: relative;

    > * {
        position: relative;
        z-index: 2;
    }

    &::before {
        background-color: $capsule-on-hover-bg-color;
        border-radius: $capsule-on-hover-radius;
        box-shadow: $shadow-5;
        content: '';
        height: calc(100% + (#{$distance--xs} * 2));
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) scale(.9);
        transition: 200ms cubic-bezier(.455, .03, .515, .955); // IE fallback
        transition: 200ms var(--ease-in-out-quad);
        visibility: hidden;
        width: calc(100% + #{$distance--sm});
        z-index: 1;
    }

    &:hover {
        color: $capsule-on-hover-color;

        &::before {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
            visibility: visible;
        }

    }

    @include target-ie {
        background-color: transparent;
        border-radius: $radius;
        padding: $distance--xs $distance--sm;

        &::before {
            display: none;
        }

        &:hover {
            background-color: $capsule-on-hover-bg-color;
        }

    }

}





//------------------------------------
//    #HOVER
//------------------------------------
@mixin hover($self: true, $pseudo: '') {
    @media (-moz-touch-enabled: 1), (hover:hover), (hover:on-demand) {
        @if $self == true {
            &:hover#{$pseudo} {
                @content;
            }
        }

        @if $self == false {
            @content;
        }

    }

    @include target-ff {
        @if $self == true {
            &:hover#{$pseudo} {
                @content;
            }
        }

        @if $self == false {
            @content;
        }
    }

}





//------------------------------------
//    #ICON
//------------------------------------
@mixin icon {
    color: inherit;
    font-family: '#{$icomoon-font-family}' !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
    vertical-align: middle;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}





//------------------------------------
//    #IMG RESPONSIVE
//------------------------------------
@mixin img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}





//------------------------------------
//    #INPUTS
//------------------------------------
@mixin inputs {
    background-color: $form-bg-color;
    border-radius: $radius;
    border: 0 solid transparent;
    color: $form-color;
    font-family: $font-base;
    font-size: $font-size--sm;
    font-weight: 400;
    height: $input-height;
    padding-left: $distance--sm;
    padding-right: $distance--sm;
}





//------------------------------------
//    #INPUT HIDE
//------------------------------------
@mixin input-hide {
    opacity: 0;
    position: absolute;
}





//------------------------------------
//    #LINE
//------------------------------------
@mixin line($color: $green-20, $height: .075em, $width: 4rem, $line: 'under') {
    position: relative;

    &::after {
        background-color: $color;
        border-radius: 50%;
        content: '';
        height: $height;
        left: 0;
        position: absolute;
        width: $width;

        @if $line=='under' {
            top: calc(100% + .35em);
        }

        @if $line=='left' {
            bottom: $height;
        }

    }

}





//------------------------------------
//    #N COLUMNS
//------------------------------------
@mixin n-columns($min-width, $gutter, $last-equal: false, $max-cols: 5) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -$gutter;
    margin-top: -$gutter;

    > * {
        flex: 1 0 $min-width;
        margin-left: $gutter;
        margin-top: $gutter;

        @if $last-equal {
            @for $i from 2 through $max-cols {
                $screen-width: ($min-width * $i) + ($gutter * $i);
                $column-width: (100% / $i);

                @media (min-width: $screen-width) {
                    max-width: calc(#{$column-width} - #{$gutter});
                }
            }

            $column-width: (100% / $max-cols);

            @media (min-width: $min-width * $max-cols) {
                min-width: calc(#{$column-width} - #{$gutter});
            }

        }

    }

}





//------------------------------------
//    #OVERFLOW Y
//------------------------------------
@mixin overflow-y($bg-color: transparent) {
    @include scrollbar($bg-color);

    -webkit-overflow-scrolling: touch; // Melhora comportamento do scroll em iOS;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    @media (landscape) {
        padding-right: .75rem;
    }

}





//------------------------------------
//    #SCROLLBAR
//------------------------------------
// Define estilo da barra de rolagem padrão da aplicação.

// PARÂMETROS
// $bg-color: cor de fundo do container.

// EXEMPLO
//
// .douglas__list {
//    @include scrollbar;
// }
//
@mixin scrollbar($bg-color: transparent) {
    &::-webkit-scrollbar {
        width: $scrollbar-width;
    }

    // Pista / Track
    &::-webkit-scrollbar-track {
        border-radius: $scrollbar-track-radius;
        box-shadow: $scrollbar-track-shadow;
    }

    // Parte clicável / Handle
    &::-webkit-scrollbar-thumb {
        background: $scrollbar-handle-bg;
        border-radius: $scrollbar-handle-radius;
        box-shadow: $scrollbar-handle-shadow;
    }

    // Parte clicável / Handle quando a janela estiver inativa
    &::-webkit-scrollbar-thumb:window-inactive {
        background: $scrollbar-handle-bg-inactive;
    }

}





//------------------------------------
//    #TARGET SAFARI
//------------------------------------
// Caso queira atingir exclusivamente navegadores como Safari 9+.
// @mixin target-safari($selector) {
//     _::-webkit-full-page-media, _:future, :root $selector {
//         @content;
//     }
// }





//------------------------------------
//    #TARGET WEBKIT
//------------------------------------
// Caso queira atingir exclusivamente navegadores como Safari e Chrome.
@mixin target-webkit {
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @content;
    }
}





//------------------------------------
//    #TARGET EDGE
//------------------------------------
// Caso queira atingir exclusivamente o navegador Firefox.
@mixin target-edge {
    @supports (-ms-ime-align: auto) {
        @content;
    }
}





//------------------------------------
//    #TARGET FIREFOX
//------------------------------------
// Caso queira atingir exclusivamente o navegador Firefox.
@mixin target-ff {
    @-moz-document url-prefix() {
        @content;
    }
}





//------------------------------------
//    #TARGET INTERNET EXPLORER
//------------------------------------
// Caso queira atingir exclusivamente o navegador Internet Explorer.
@mixin target-ie {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}





//------------------------------------
//    #TARGET IPAD
//------------------------------------
// Caso queira atingir exclusivamente o navegador Internet Explorer.
@mixin target-ipad {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        @content;
    }
}





//------------------------------------
//    #TEXT CONTRAST
//------------------------------------

// EXEMPLO
//
// .douglas {
//    @include text-contrast(#c0ffee);
// }
//
@mixin text-contrast($n) {
    $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
    $light-color: round((red($white) * 299) + (green($white) * 587) + (blue($white) * 114) / 1000);

    @if abs($color-brightness) < ($light-color / 2) {
        color: $white;
    } @else {
        color: $gray-60;
    }
}





//------------------------------------
//    #TITLES
//------------------------------------
@mixin title-0(     $color: inherit,
                    $size: $font-size--xxl,
                    $size--sm: $font-size--super,
                    $size--lg: $font-size--max,
                    $weight: 800,
                    $letter: $letter-spacing--sm) {

    color: $color;
    font-family: $font-title;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letter;
    line-height: 1;
    vertical-align: middle;

    @include media('>sm') {
        font-size: $size--sm;
    }

    @include media('>lg') {
        font-size: $size--lg;
    }

    @include media('>xl') {
        font-size: calc(#{$size--lg} + .5vw);
    }

}

@mixin title-1(     $color: inherit,
                    $size: $font-size--lg,
                    $size--sm: $font-size--xl,
                    $size--lg: $font-size--xxl,
                    $weight: $font-weight-5,
                    $letter: $letter-spacing--sm) {

    color: $color;
    // font-family: $font-title;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letter;
    line-height: 1.05;
    vertical-align: middle;

    @include media('>sm') {
        font-size: $size--sm;
    }

    // @include media('>md') {
    //     font-size: $size--sm;
    // }

    @include media('>lg') {
        font-size: $size--lg;
    }

}

@mixin title-2(     $color: inherit,
                    $line-height: 1,
                    $size: $font-size--md,
                    $size--sm: $font-size--lg,
                    $size--lg: $font-size--xl,
                    $weight: 800,
                    $letter: $letter-spacing--md) {

    color: $color;
    font-family: $font-title;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letter;
    line-height: $line-height;
    vertical-align: middle;

    @include media('>sm') {
        font-size: $size--sm;
    }

    @include media('>lg') {
        font-size: $size--lg;
    }

}

@mixin title-3(     $color: inherit,
                    $size: $font-size--md,
                    $size--sm: $font-size--lg,
                    $size--lg: $font-size--xl,
                    $weight: 700,
                    $letter: $letter-spacing--xs) {

    color: $color;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letter;
    line-height: 1;

    @include media('>sm') {
        font-size: $size--sm;
    }

    @include media('>lg') {
        font-size: $size--lg;
    }

}

@mixin title-4(     $color: inherit,
                    $size: $font-size--sm,
                    $size--lg: $font-size--md,
                    $weight: 800,
                    $letter: $letter-spacing--md) {

    color: $color;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letter;
    line-height: 1.125;
    text-transform: uppercase;

    @include media('>lg') {
        font-size: $size--lg;
    }

}

@mixin title-aux(   $color: inherit,
                    $display: inline-block,
                    $family: $font-base,
                    $size: $font-size--xxs,
                    $weight: 400,
                    $letter: $letter-spacing--xl) {

    color: $color;
    display: $display;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letter;
    text-transform: uppercase;
}

@mixin text-aux {
    font-size: $font-size--xs;
    font-weight: normal;
    // font-style: italic;
    opacity: .85;
}



//------------------------------------
//    #TRANSITION
//------------------------------------

// EXEMPLO
//
// .douglas {
//    @include transition(500ms);
// }
//
@mixin transition($args: '200ms') {
    transition: unquote($args);
    transition-timing-function: var(--ease-in-out-quad);
}




//------------------------------------
//    #TRUNCATE (one line)
//------------------------------------
@mixin truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}





//------------------------------------
//    #Z-INDEX
//------------------------------------
// Ver possíveis keys em _variables.scss #Z-INDEX
// EXEMPLO
//
// .douglas {
//    @include z-index(douglas); // z-index: douglas;
// }
//
@mixin z-index($key) {
    z-index: z-index($key);
}
