:root {
    --ease-in-quad: cubic-bezier(.55, .085, .68, .53);
    --ease-in-cubic: cubic-bezier(.550, .055, .675, .19);
    --ease-in-quart: cubic-bezier(.895, .03, .685, .22);
    --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
    --ease-in-expo: cubic-bezier(.95, .05, .795, .035);
    --ease-in-circ: cubic-bezier(.6, .04, .98, .335);

    --ease-out-quad: cubic-bezier(.25, .46, .45, .94);
    --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
    --ease-out-quart: cubic-bezier(.165, .84, .44, 1);
    --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
    --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
    --ease-out-circ: cubic-bezier(.075, .82, .165, 1);

    --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
    --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
    --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
    --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
    --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
    --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);
}





//------------------------------------
//    #AUX
//------------------------------------
$debugger: false;
$show-rhythm: false;
$show-v-rhythm: true;
$show-h-rhythm: true;
$sanitize: false;





//------------------------------------
//    #BREAKPOINTS
//------------------------------------
// Referência para uso http://include-media.com/#features.
// Os nomes pré-definidos foram trocados para xs, sm, md, lg, xl.

// EXEMPLO

// .douglas {
//    color: #bada55;
//
//    @include media('sm') {
//        color: #c0ffee;
//    }
//
// }


// Referência para tamanhos: https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862.

// scss-lint:disable ZeroUnit
// Considerando 16px como base
$breakpoints: (
    xs: 0, // Extra small screen / phone
    sm: 600px, //544px  // Small screen / phone
    md: 900px, //768px  // Medium screen / tablet
    lg: 1200px, //992px  // Large screen / desktop
    xl: 1800px, //1200px // Extra large screen / wide desktop
    xxl: 2200px // acima de 2000px
) !default;
// scss-lint:enable ZeroUnit





//------------------------------------
//    #COLORS
//------------------------------------
// https://www.colorbox.io/#steps=7#hue_start=181#hue_end=201#hue_curve=easeInQuad#sat_start=4#sat_end=100#sat_curve=easeOutQuad#sat_rate=130#lum_start=100#lum_end=8#lum_curve=linear#lock_hex=#1c292c#minor_steps_map=0
$blue-navy-shades: (
    0:  hsl(189, 7%,  90%),
    5:  hsl(189, 10%, 84%),
    10: hsl(189, 13%, 71%),
    20: hsl(189, 16%, 49%),
    30: hsl(189, 19%, 35%),
    40: hsl(189, 22%, 25%),
    50: hsl(189, 25%, 16%),
    60: hsl(189, 27%, 14%), // #1A2A2D // CRANE
    70: hsl(189, 35%, 10%)
);





// https://www.colorbox.io/#steps=7#hue_start=80#hue_end=88#hue_curve=easeInQuad#sat_start=4#sat_end=90#sat_curve=easeOutQuad#sat_rate=130#lum_start=100#lum_end=30#lum_curve=linear#lock_hex=#97c454#minor_steps_map=0
$green-shades: (
    0:  hsl(86, 40%, 90%),
    5:  hsl(86, 48%, 85%),
    10: hsl(86, 52%, 75%),
    20: hsl(86, 54%, 51%), // #8BC63F, // CRANE
    30: hsl(86, 58%, 42%),
    40: hsl(86, 62%, 35%),
    50: hsl(86, 66%, 30%),
    60: hsl(86, 70%, 23%)
);





// https://www.colorbox.io/#steps=7#hue_start=138#hue_end=158#hue_curve=easeInQuad#sat_start=4#sat_end=100#sat_curve=easeOutQuad#sat_rate=130#lum_start=100#lum_end=17#lum_curve=linear#lock_hex=#189a54#minor_steps_map=0
$leaf-shades: (
    0:  hsl(143, 60%, 70%),
    5:  hsl(144, 70%, 60%),
    10: hsl(145, 80%, 50%),
    20: hsl(146, 90%, 40%),
    30: hsl(147, 100%, 31%), // #009C4D // CRANE
    40: hsl(148, 95%, 25%),
    50: hsl(149, 95%, 19%),
    60: hsl(150, 95%, 13%)
);





// https://www.colorbox.io/#steps=7#hue_start=60#hue_end=80#hue_curve=easeInQuad#sat_start=4#sat_end=100#sat_curve=easeOutSine#sat_rate=130#lum_start=95#lum_end=14#lum_curve=linear#lock_hex=e5e552#minor_steps_map=0
$lemon-shades: (
    0:  hsl(54, 60%, 71%),
    5:  hsl(57, 70%, 61%),
    10: hsl(60, 79%, 51%), // #E5E521 // CRANE E5E521
    20: hsl(63, 83%, 48%),
    30: hsl(66, 87%, 45%),
    40: hsl(69, 92%, 42%),
    50: hsl(72, 96%, 36%),
    60: hsl(75, 100%, 30%)
);





// https://www.colorbox.io/#steps=7#hue_start=60#hue_end=80#hue_curve=easeInQuad#sat_start=4#sat_end=18#sat_curve=easeOutSine#sat_rate=130#lum_start=95#lum_end=5#lum_curve=linear#lock_hex=#f2f9fa#minor_steps_map=0
$gray-shades: (
    0:  hsl(148, 3%, 96%), // #f2f9fa
    5:  hsl(148, 3%, 93%), // #d8e6e3
    10: hsl(148, 3%, 80%), // #c0d2c9
    20: hsl(148, 3%, 65%), // #93aa99
    30: hsl(148, 3%, 45%), // #6c836c
    40: hsl(148, 3%, 28%), // #4d5b48
    50: hsl(148, 3%, 15%), // #2e3428
    60: hsl(148, 3%, 5%) // #0c0d0a
);

$blue-navy-0: blue-navy-shades(0);
$blue-navy-5: blue-navy-shades(5);
$blue-navy-10: blue-navy-shades(10);
$blue-navy-20: blue-navy-shades(20);
$blue-navy-30: blue-navy-shades(30);
$blue-navy-40: blue-navy-shades(40);
$blue-navy-50: blue-navy-shades(50);
$blue-navy-60: blue-navy-shades(60);
$blue-navy-60: blue-navy-shades(70);

$green-0: green-shades(0);
$green-5: green-shades(5);
$green-10: green-shades(10);
$green-20: green-shades(20);
$green-30: green-shades(30);
$green-40: green-shades(40);
$green-50: green-shades(50);
$green-60: green-shades(60);

$leaf-0: leaf-shades(0);
$leaf-5: leaf-shades(5);
$leaf-10: leaf-shades(10);
$leaf-20: leaf-shades(20);
$leaf-30: leaf-shades(30);
$leaf-40: leaf-shades(40);
$leaf-50: leaf-shades(50);
$leaf-60: leaf-shades(60);

$lemon-0: lemon-shades(0);
$lemon-5: lemon-shades(5);
$lemon-10: lemon-shades(10);
$lemon-20: lemon-shades(20);
$lemon-30: lemon-shades(30);
$lemon-40: lemon-shades(40);
$lemon-50: lemon-shades(50);
$lemon-60: lemon-shades(60);

$gray-0: gray-shades(0);
$gray-5: gray-shades(5);
$gray-10: gray-shades(10);
$gray-20: gray-shades(20);
$gray-30: gray-shades(30);
$gray-40: gray-shades(40);
$gray-50: gray-shades(50);
$gray-60: gray-shades(60);

$hue: 148;

// grays
$off-white: hsla(187, 44%, 96%, 1) !default; // #f2f9fa // CRANE;
$off-green: hsl(120, 33%, 97%) !default; //#F5FAF5 // VINCE
$dark-green: hsl(166, 37%, 18%) !default; // VINCE
$blue-educacao: hsl(206, 99%, 35%);
$white: hsla(0, 0%, 100%, 1) !default;
$black: hsla($hue, 20%, 4%, 1) !default;

// aux
$color-error: hsla(2, 60%, 50%, 1) !default;
$color-info: hsla(210, 60%, 36%, 1) !default;
$color-success: hsla(115, 60%, 40%, 1) !default;
$color-warning: hsla(38, 87%, 50%, 1) !default;

$colors: ((blue-navy-0, $blue-navy-0),
(blue-navy-5, $blue-navy-5),
(blue-navy-10, $blue-navy-10),
(blue-navy-20, $blue-navy-20),
(blue-navy-30, $blue-navy-30),
(blue-navy-40, $blue-navy-40),
(blue-navy-50, $blue-navy-50),
(blue-navy-60, $blue-navy-60),

(green-0, $green-0),
(green-5, $green-5),
(green-10, $green-10),
(green-20, $green-20),
(green-30, $green-30),
(green-40, $green-40),
(green-50, $green-50),
(green-60, $green-60),

(leaf-0, $leaf-0),
(leaf-5, $leaf-5),
(leaf-10, $leaf-10),
(leaf-20, $leaf-20),
(leaf-30, $leaf-30),
(leaf-40, $leaf-40),
(leaf-50, $leaf-50),
(leaf-60, $leaf-60),

(lemon-0, $lemon-0),
(lemon-5, $lemon-5),
(lemon-10, $lemon-10),
(lemon-20, $lemon-20),
(lemon-30, $lemon-30),
(lemon-40, $lemon-40),
(lemon-50, $lemon-50),
(lemon-60, $lemon-60),

(gray-0, $gray-0),
(gray-5, $gray-5),
(gray-10, $gray-10),
(gray-20, $gray-20),
(gray-30, $gray-30),
(gray-40, $gray-40),
(gray-50, $gray-50),
(gray-60, $gray-60),

(black, $black),
(white, $white),

(error, $color-error),
(info, $color-info),
(success, $color-success),
(warning, $color-warning));





//------------------------------------
//    #DIRECTIONS
//------------------------------------
// Não mexer.
$directions: 'top', 'right', 'bottom', 'left';
$perpendiculars: 'v', 'h';





//------------------------------------
//    #DISTANCES
//------------------------------------
$distance--xxs: .25rem;
$distance--xs: .5rem;
$distance--sm: 1rem;
$distance--md: 1.5rem;
$distance--lg: 2rem;
$distance--xl: 2.5rem;
$distance--xxl: 3.5rem;
$distance--xxxl: 5rem;

$distance--super: 6rem;
$distance--max: 8rem;

$distances: (
    (xxs, $distance--xxs),
    (xs, $distance--xs),
    (sm, $distance--sm),
    (md, $distance--md),
    (lg, $distance--lg),
    (xl, $distance--xl),
    (xxl, $distance--xxl)
);





//------------------------------------
//    #FONT SIZES
//------------------------------------
// Basic sizes.

$multiplier: 0.2rem;

$font-size--xxs:  1rem;
$font-size--xxxs: $font-size--xxs - (1 * $multiplier);
$font-size--xs:   $font-size--xxs + (1 * $multiplier);
$font-size--sm:   $font-size--xs  + (1 * $multiplier);
$font-size--md:   $font-size--sm  + (1 * $multiplier);
$font-size--lg:   $font-size--md  + (1 * $multiplier);
$font-size--xl:   $font-size--lg  + (1 * $multiplier);
$font-size--xxl:  $font-size--xl  + (2 * $multiplier);

// Very few uses.
$font-size--super: 3rem;
$font-size--max: 3.5rem;





//------------------------------------
//    #FORM
//------------------------------------
$form-shadow: 0 2px 0 rgba($gray-60, .12);
$form-bg-color: $gray-5;
$form-color: $gray-60;





//------------------------------------
//    #ICON
//------------------------------------
$icomoon-font-family: "icomoon" !default;

$icon-checkered-flag: "\e929";
$icon-live_help: "\e0c6";
$icon-more_vert: "\e5d4";
$icon-reload: "\e924";
$icon-lock: "\e925";
$icon-unlocked: "\e926";
$icon-activity: "\e927";
$icon-alert-triangle: "\e900";
$icon-arrow-down: "\e901";
$icon-arrow-left: "\e902";
$icon-arrow-right: "\e903";
$icon-arrow-up: "\e904";
$icon-at-sign: "\e919";
$icon-award: "\e921";
$icon-bar-chart: "\e91d";
$icon-calendar: "\e928";
$icon-check: "\e905";
$icon-chevron-down: "\e906";
$icon-chevron-left: "\e907";
$icon-chevron-right: "\e908";
$icon-chevron-up: "\e909";
$icon-chevrons-left: "\e916";
$icon-chevrons-right: "\e917";
$icon-clock: "\e91e";
$icon-edit: "\e912";
$icon-eye: "\e90a";
$icon-eye-off: "\e90b";
$icon-file-text: "\e915";
$icon-help-circle: "\e91f";
$icon-list: "\e922";
$icon-menu: "\e90c";
$icon-minus: "\e90f";
$icon-more-vertical: "\e923";
$icon-package: "\e920";
$icon-paperclip: "\e914";
$icon-plus: "\e911";
$icon-save: "\e91c";
$icon-search: "\e90d";
$icon-trash-2: "\e913";
$icon-user: "\e91a";
$icon-users: "\e91b";
$icon-x: "\e90e";
$icon-frown-o: "\e918";
$icon-play: "\e910";





//------------------------------------
//    #INPUT
//------------------------------------
$input-height: 3rem;
$input-radio-selected-size: .6em;

$input-check-radio-size: 1.75rem;
$input-check-radio-distance-between: $distance--lg;
$input-check-radio-label-margin: $input-check-radio-size + $distance--xs;





//------------------------------------
//    #LETTER SPACING
//------------------------------------
$letter-spacing--xxs: -.075em;
$letter-spacing--xs:  -.045em;
$letter-spacing--sm:  -.015em;
$letter-spacing--md:   .015em;
$letter-spacing--lg:   .03em;
$letter-spacing--xl:   .05em;
$letter-spacing--xxl:  .15em;





//------------------------------------
//    #PADDING
//------------------------------------
$h-padding--xs: $distance--sm;
$h-padding--sm: $distance--md;
$h-padding--md: $distance--lg;
$h-padding--lg: $distance--xxxl;





//------------------------------------
//    #RADIUS
//------------------------------------
$radius: 2px;
$radius--lg: $radius * 4;
$radius--capsule: 99rem;





//------------------------------------
//    #SHADOW DEPTH
//------------------------------------
$shadow-1: 0 1px 3px rgba($gray-40, .02),           0 1px 2px rgba($gray-40, .017);
$shadow-2: 0 3px 6px rgba($gray-40, .06),           0 3px 6px rgba($gray-40, .016);
$shadow-3: 0 10px 20px rgba($gray-40, .10),         0 6px 6px rgba($gray-40, .016);
$shadow-4: 0 14px 28px rgba($gray-40, .13),         0 10px 10px rgba($gray-40, .02);
$shadow-5: 0 19px 38px rgba($gray-40, .13),          0 15px 12px rgba($gray-40, .02);

$shadow-v-u-1: 0 -1px 3px rgba($gray-40, .02),      0 -1px 2px rgba($gray-40, .10);
$shadow-v-u-2: 0 -3px 6px rgba($gray-40, .06),      0 -3px 6px rgba($gray-40, .14);
$shadow-v-u-3: 0 -10px 20px rgba($gray-40, .10),    0 -6px 6px rgba($gray-40, .17);
$shadow-v-u-4: 0 -14px 28px rgba($gray-40, .13),    0 -10px 10px rgba($gray-40, .18);
$shadow-v-u-5: 0 -19px 38px rgba($gray-40, .13),     0 -15px 12px rgba($gray-40, .2);

$shadow-h-r-1: 1px 0 3px rgba($gray-40, .02),       1px 0 2px rgba($gray-40, .017),   2px 0 6px rgba($gray-40, .015);
$shadow-h-r-2: 3px 0 6px rgba($gray-40, .06),       3px 0 6px rgba($gray-40, .016),   2px 0 6px rgba($gray-40, .015);
$shadow-h-r-3: 10px 0 20px rgba($gray-40, .10),     6px 0 6px rgba($gray-40, .016),   2px 0 6px rgba($gray-40, .015);
$shadow-h-r-4: 14px 0 28px rgba($gray-40, .13),     10px 0 10px rgba($gray-40, .02),  2px 0 6px rgba($gray-40, .015);
$shadow-h-r-5: 19px 0 38px rgba($gray-40, .13),      15px 0 12px rgba($gray-40, .02),  2px 0 6px rgba($gray-40, .015);

$shadow-h-l-1: -1px 0 3px rgba($gray-40, .02),      -1px 0 2px rgba($gray-40, .017),  -2px 0 6px rgba($gray-40, .015);
$shadow-h-l-2: -3px 0 6px rgba($gray-40, .06),      -3px 0 6px rgba($gray-40, .016),  -2px 0 6px rgba($gray-40, .015);
$shadow-h-l-3: -10px 0 20px rgba($gray-40, .10),    -6px 0 6px rgba($gray-40, .016),  -2px 0 6px rgba($gray-40, .015);
$shadow-h-l-4: -14px 0 28px rgba($gray-40, .13),    -10px 0 10px rgba($gray-40, .02), -2px 0 6px rgba($gray-40, .015);
$shadow-h-l-5: -19px 0 38px rgba($gray-40, .13),     -15px 0 12px rgba($gray-40, .02), -2px 0 6px rgba($gray-40, .015);

$shadow-i-1: inset 0 1px 3px rgba($gray-40, .02),   inset  0 1px 2px rgba($gray-40, .06);
$shadow-i-2: inset 0 3px 6px rgba($gray-40, .06),   inset  0 3px 6px rgba($gray-40, .10);
$shadow-i-3: inset 0 10px 20px rgba($gray-40, .09), inset  0 6px 6px rgba($gray-40, .13);
$shadow-i-4: inset 0 14px 28px rgba($gray-40, .10), inset  0 10px 10px rgba($gray-40, .15);
$shadow-i-5: inset 0 19px 38px rgba($gray-40, .12), inset  0 15px 12px rgba($gray-40, .17);





//------------------------------------
//    #AVATAR SIZES
//------------------------------------
$avatar--sm: 2rem;
$avatar--md: 3.5rem;
$avatar--lg: 5rem;
$avatar--xl: 8rem;
$avatar--xxl-wide-h: 9rem;
$avatar--xxl-wide-w: 16rem;





//------------------------------------
//    #BUTTONS
//------------------------------------
$btn-pad--sm: .65em 1.75em .6em;
$btn-pad--md: .65em 1.5em;
$btn-pad--lg: .75em 1.5em;
$btn-pad--xl: 1em 2em;





//------------------------------------
//    #SCROLLBAR
//------------------------------------
$scrollbar-width: 8px;

$scrollbar-handle-bg: transparentize($white, .2);
$scrollbar-handle-bg-inactive: transparentize($black, .6);
$scrollbar-handle-radius: 6px;
$scrollbar-handle-shadow-color: transparentize($black, .5);
$scrollbar-handle-shadow: inset 0 0 2px $scrollbar-handle-shadow-color;

$scrollbar-track-radius: 6px;
$scrollbar-track-shadow-color: transparentize($black, .7);
$scrollbar-track-shadow: inset 0 0 6px $scrollbar-track-shadow-color;





//------------------------------------
//    #Z-INDEX
//------------------------------------
$z-index: (
    'loader': 800,
    'alert': 750,
    'modal': 700,
    'menu': 600,
    'offcanvas': 500,
    'overlayer': 400,
    'popover': 350,
    'help': 325,
    'header': 300,
    'body': 200,
    'main': 100
);





//------------------------------------
//    #TIMELINE
//------------------------------------
$timeline-color: transparentize($green-0, .65);
$timeline-tip-size: 1rem;
$timeline-gap: $distance--lg;
$timeline-translation: $timeline-gap + $timeline-tip-size;
$timeline-mark-info-bg-color: $white;
$timeline-date-bg-color: transparentize($blue-navy-60, .65);
$timeline-date-color: $blue-navy-0;
$timeline-begin-end-bg-color: $green-0;
$timeline-marks-bg-color: $green-10;
$timeline-marks-bg-color--locked: $leaf-0;
$timeline-marks-border-color: $timeline-color;
$timeline-marks-color: color-contrast($timeline-marks-bg-color, $green-0, $blue-navy-60);
$timeline-marks-radius: $radius--capsule;
$timeline-marks-shadow: $shadow-3;
$timeline-status-size: 3rem;





//------------------------------------
//    #GENERAL DEF
//------------------------------------
$header-bg-color: $white;
$body-bg-color: $gray-0;

$font-base: filson-soft, 'Raleway', sans-serif;
$font-title: filson-soft, Arial, sans-serif;

$header-height: 3rem;
$header-v-padding: .5rem;

$main-border-color: transparentize($gray-10, .5);

$button-radius: $radius;

$default-hover-bg-color: $green-10;
$overlayer-color: $blue-navy-50;

// CAPSULE
$capsule-on-hover-bg-color: $green-10;
$capsule-on-hover-color: $blue-navy-60;
$capsule-on-hover-radius: $radius;

// CLICKABLES
$clickables-bg-color: $green-30;
$clickables-bg-color-hover: $leaf-50;
$clickables-color: color-contrast($clickables-bg-color, $white, $blue-navy-60);
$clickables-color-hover: $clickables-color;

// CHECKBOX
$checkbox-checked-bg-color: $clickables-bg-color;
$checkbox-checked-color: $clickables-color;

// STRIPE
$stripe-bg-color: transparentize($gray-0, .4);

// GLOBAL NAV
$global-nav-gradient-light: $green-5 !default;
$global-nav-gradient-hover: $default-hover-bg-color !default;
$global-nav-active-bg-color: $green-30 !default;
$global-nav-active-bg-color-hover: $green-40 !default;
$global-nav-active-color: color-contrast($global-nav-active-bg-color, $white, $blue-navy-60) !default;
$global-nav-submenu-width: 24rem !default;

// BUTTONS
$btn--leaf: true;
$btn--leaf-bg-color: $leaf-40;
$btn--leaf-bg-color-hover: $leaf-60;
$btn--leaf-color: color-contrast($btn--leaf-bg-color, $white, $blue-navy-60);
$btn--leaf-color-hover: $btn--leaf-color;

$btn--success: false;
$btn--success-bg-color: saturate(darken($color-success, 6%), 6%);
$btn--success-bg-color-hover: saturate(darken($color-success, 8%), 8%);
$btn--success-color: color-contrast($btn--success-bg-color, $white, $blue-navy-60);
$btn--success-color-hover: $btn--success-color;

$btn--xxs: true;
$btn--xs: true;
$btn--md: true;
$btn--lg: true;