//------------------------------------
//    #AUX
//------------------------------------
$dark-mode: false;
$debugger: false;
$show-rhythm: false;
$show-v-rhythm: true;
$show-h-rhythm: true;
$sanitize: false;





//------------------------------------
//    #COLORS
//------------------------------------
$white: hsla(148, 15%, 100%, 1) !default;
$black: hsla(148, 20%, 4%, 1) !default;

$colors: (
("blue-navy-0",  $blue-navy-0),
("blue-navy-10", $blue-navy-10),
("blue-navy-20", $blue-navy-20),
("blue-navy-30", $blue-navy-30),
("blue-navy-40", $blue-navy-40),
("blue-navy-50", $blue-navy-50),
("blue-navy-60", $blue-navy-60),
("blue-navy-70", $blue-navy-70),

("green-0",  $green-0),
("green-10", $green-10),
("green-20", $green-20),
("green-30", $green-30),
("green-40", $green-40),
("green-50", $green-50),
("green-60", $green-60),
("green-70", $green-70),

("leaf-0",  $leaf-0),
("leaf-10", $leaf-10),
("leaf-20", $leaf-20),
("leaf-30", $leaf-30),
("leaf-40", $leaf-40),
("leaf-50", $leaf-50),
("leaf-60", $leaf-60),
("leaf-70", $leaf-70),

("lemon-0",  $lemon-0),
("lemon-10", $lemon-10),
("lemon-20", $lemon-20),
("lemon-30", $lemon-30),
("lemon-40", $lemon-40),
("lemon-50", $lemon-50),
("lemon-60", $lemon-60),
("lemon-70", $lemon-70),

("gray-0",  $gray-0),
("gray-10", $gray-10),
("gray-20", $gray-20),
("gray-30", $gray-30),
("gray-40", $gray-40),
("gray-50", $gray-50),
("gray-60", $gray-60),
("gray-70", $gray-70),
("gray-80", $gray-80),
("gray-90", $gray-90),

("black", $black),
("gray",  $gray), // Crane
("white", $white),

("error-0",  $error-0),
("error-10", $error-10),
("error-20", $error-20),
("error-30", $error-30),
("error-40", $error-40),
("error-50", $error-50),
("error-60", $error-60),

("info-0",  $info-0),
("info-10", $info-10),
("info-20", $info-20),
("info-30", $info-30),
("info-40", $info-40),
("info-50", $info-50),
("info-60", $info-60),

("success-0",  $success-0),
("success-10", $success-10),
("success-20", $success-20),
("success-30", $success-30),
("success-40", $success-40),
("success-50", $success-50),
("success-60", $success-60),

("warning-0",  $warning-0),
("warning-10", $warning-10),
("warning-20", $warning-20),
("warning-30", $warning-30),
("warning-40", $warning-40),
("warning-50", $warning-50),
("warning-60", $warning-60),

("engagement", $domain-engagement),
("kindness", $domain-kindness),
("management", $domain-management),
("management-darker", $domain-management--darker),
("openness", $domain-openness),
("resilience", $domain-resilience)
);





//------------------------------------
//    #DIRECTIONS
//------------------------------------
// Não mexer.
$directions: 'top', 'right', 'bottom', 'left';
$perpendiculars: 'v', 'h';





//------------------------------------
//    #DISTANCES
//------------------------------------
$distance--xxs: .25rem;
$distance--xs: .5rem;
$distance--sm: 1rem;
$distance--md: 1.5rem;
$distance--lg: 2rem;
$distance--xl: 2.5rem;
$distance--xxl: 3.5rem;
$distance--xxxl: 5rem;

$distance--super: 6rem;
$distance--max: 8rem;

$distances: (
    (xxs, $distance--xxs),
    (xs, $distance--xs),
    (sm, $distance--sm),
    (md, $distance--md),
    (lg, $distance--lg),
    (xl, $distance--xl),
    (xxl, $distance--xxl)
);





//------------------------------------
//    #FONT SIZES
//------------------------------------
// Basic sizes.
$font-size--xxs: .75rem; // 12
$font-size--xs:  .875rem; // 14
$font-size--sm:   1rem; // 16
$font-size--md:   1.125rem; // 18
$font-size--lg:   1.5rem; // 24
$font-size--xl:   1.75rem; // 28
$font-size--xxl:  2.125rem; // 34
// $font-size--xxl:  2.375rem; // 38

// Very few uses.
$font-size--super: 3rem;
$font-size--max: 3.5rem;

$font-weight-1: 200;
$font-weight-2: 300;
$font-weight-3: 400;
$font-weight-4: 600;
$font-weight-5: 700;
$font-weight-6: 900;



//------------------------------------
//    #FORM
//------------------------------------
// $form-shadow: 0 2px 0 rgba($gray-60, .12);
$form-shadow: 0 0 0 rgba($gray-60, 1);
$form-bg-color: $gray-10;
$form-color: $gray-70;
$form-h-padding: $distance--xs;
$textarea-padding: $distance--xs;





//------------------------------------
//    #ICON
//------------------------------------
$icomoon-font-family: "icomoon" !default;

$icon-checkered-flag: "\e929";
$icon-live_help: "\e0c6";
$icon-more_vert: "\e5d4";
$icon-reload: "\e924";
$icon-lock: "\e925";
$icon-unlocked: "\e926";
$icon-activity: "\e927";
$icon-alert-triangle: "\e900";
$icon-arrow-down: "\e901";
$icon-arrow-left: "\e902";
$icon-arrow-right: "\e903";
$icon-arrow-up: "\e904";
$icon-at-sign: "\e919";
$icon-award: "\e921";
$icon-bar-chart: "\e91d";
$icon-calendar: "\e928";
$icon-check: "\e905";
$icon-chevron-down: "\e906";
$icon-chevron-left: "\e907";
$icon-chevron-right: "\e908";
$icon-chevron-up: "\e909";
$icon-chevrons-left: "\e916";
$icon-chevrons-right: "\e917";
$icon-clock: "\e91e";
$icon-edit: "\e912";
$icon-eye: "\e90a";
$icon-eye-off: "\e90b";
$icon-file-text: "\e915";
$icon-help-circle: "\e91f";
$icon-list: "\e922";
$icon-menu: "\e90c";
$icon-minus: "\e90f";
$icon-more-vertical: "\e923";
$icon-package: "\e920";
$icon-paperclip: "\e914";
$icon-plus: "\e911";
$icon-save: "\e91c";
$icon-search: "\e90d";
$icon-trash-2: "\e913";
$icon-user: "\e91a";
$icon-users: "\e91b";
$icon-x: "\e90e";
$icon-frown-o: "\e918";
$icon-play: "\e910";





//------------------------------------
//    #INPUT
//------------------------------------
$input-height: 2.25rem;
$input-radio-selected-size: .6em;

$input-check-radio-size--sm: 1.5rem;
$input-check-radio-size: 1.75rem;
$input-check-radio-distance-between: $distance--lg;
$input-check-radio-label-margin: $input-check-radio-size + $distance--sm;





//------------------------------------
//    #LETTER SPACING
//------------------------------------
$letter-spacing--xxs: -.075em;
$letter-spacing--xs:  -.045em;
$letter-spacing--sm:  -.015em;
$letter-spacing--md:   .02em;
$letter-spacing--lg:   .03em;
$letter-spacing--xl:   .05em;
$letter-spacing--xxl:  .15em;





//------------------------------------
//    #PADDING
//------------------------------------
$main-top-padding: 0;
$main-top-padding--sm: $distance--xxl;
$main-top-padding--md: $distance--xxl;
$main-top-padding--lg: $distance--xxl;

$main-bottom-padding: $distance--xs;
$main-bottom-padding--sm: $distance--md;
$main-bottom-padding--md: $distance--md;
$main-bottom-padding--lg: $distance--xxl;

$h-padding--xs: $distance--sm;
$h-padding--sm: $distance--md;
$h-padding--md: $distance--lg;
$h-padding--lg: $distance--xxxl;





//------------------------------------
//    #RADIUS
//------------------------------------
$radius: 2px;
$radius--md: $radius * 2;
$radius--lg: $radius * 4;
$radius--capsule: 99rem;

$radii: (
    (sm, $radius),
    (md, $radius--md),
    (lg, $radius--lg),
    (cp, $radius--capsule)
 );





//------------------------------------
//    #SHADOW DEPTH
//------------------------------------
$shadow-1: 0 1px 3px rgba($gray-40, .02),           0 1px 2px rgba($gray-40, .017);
$shadow-2: 0 3px 6px rgba($gray-40, .06),           0 3px 6px rgba($gray-40, .016);
$shadow-3: 0 10px 20px rgba($gray-40, .10),         0 6px 6px rgba($gray-40, .016);
$shadow-4: 0 14px 28px rgba($gray-40, .13),         0 10px 10px rgba($gray-40, .02);
$shadow-5: 0 19px 38px rgba($gray-40, .13),          0 15px 12px rgba($gray-40, .02);

$shadow-v-u-1: 0 -1px 3px rgba($gray-40, .02),      0 -1px 2px rgba($gray-40, .10);
$shadow-v-u-2: 0 -3px 6px rgba($gray-40, .06),      0 -3px 6px rgba($gray-40, .14);
$shadow-v-u-3: 0 -10px 20px rgba($gray-40, .10),    0 -6px 6px rgba($gray-40, .17);
$shadow-v-u-4: 0 -14px 28px rgba($gray-40, .13),    0 -10px 10px rgba($gray-40, .18);
$shadow-v-u-5: 0 -19px 38px rgba($gray-40, .13),     0 -15px 12px rgba($gray-40, .2);

$shadow-h-r-1: 1px 0 3px rgba($gray-40, .02),       1px 0 2px rgba($gray-40, .017),   2px 0 6px rgba($gray-40, .015);
$shadow-h-r-2: 3px 0 6px rgba($gray-40, .06),       3px 0 6px rgba($gray-40, .016),   2px 0 6px rgba($gray-40, .015);
$shadow-h-r-3: 10px 0 20px rgba($gray-40, .10),     6px 0 6px rgba($gray-40, .016),   2px 0 6px rgba($gray-40, .015);
$shadow-h-r-4: 14px 0 28px rgba($gray-40, .13),     10px 0 10px rgba($gray-40, .02),  2px 0 6px rgba($gray-40, .015);
$shadow-h-r-5: 19px 0 38px rgba($gray-40, .13),      15px 0 12px rgba($gray-40, .02),  2px 0 6px rgba($gray-40, .015);

$shadow-h-l-1: -1px 0 3px rgba($gray-40, .02),      -1px 0 2px rgba($gray-40, .017),  -2px 0 6px rgba($gray-40, .015);
$shadow-h-l-2: -3px 0 6px rgba($gray-40, .06),      -3px 0 6px rgba($gray-40, .016),  -2px 0 6px rgba($gray-40, .015);
$shadow-h-l-3: -10px 0 20px rgba($gray-40, .10),    -6px 0 6px rgba($gray-40, .016),  -2px 0 6px rgba($gray-40, .015);
$shadow-h-l-4: -14px 0 28px rgba($gray-40, .13),    -10px 0 10px rgba($gray-40, .02), -2px 0 6px rgba($gray-40, .015);
$shadow-h-l-5: -19px 0 38px rgba($gray-40, .13),     -15px 0 12px rgba($gray-40, .02), -2px 0 6px rgba($gray-40, .015);

$shadow-i-1: inset 0 1px 3px rgba($gray-40, .02),   inset  0 1px 2px rgba($gray-40, .06);
$shadow-i-2: inset 0 3px 6px rgba($gray-40, .06),   inset  0 3px 6px rgba($gray-40, .10);
$shadow-i-3: inset 0 10px 20px rgba($gray-40, .09), inset  0 6px 6px rgba($gray-40, .13);
$shadow-i-4: inset 0 14px 28px rgba($gray-40, .10), inset  0 10px 10px rgba($gray-40, .15);
$shadow-i-5: inset 0 19px 38px rgba($gray-40, .12), inset  0 15px 12px rgba($gray-40, .17);

$shadow-long: 0 2.8px 2.2px   rgba($black, .034), 0 6.7px 5.3px   rgba($black, .048), 0 12.5px 10px   rgba($black, .06), 0 22.3px 17.9px rgba($black, .072), 0 41.8px 33.4px rgba($black, .086), 0 100px 80px    rgba($black, .12);





//------------------------------------
//    #AVATAR
//------------------------------------
$avatar--xs: 1.5rem;
$avatar--sm: 2rem;
$avatar--md: 3.5rem;
$avatar--lg: 6.25rem;
$avatar--xl: 8rem;
$avatar--xxl-wide-h: 9rem;
$avatar--xxl-wide-w: 16rem;

$avatar-radius: 50%;





//------------------------------------
//    #BUTTONS
//------------------------------------
$button-padding: 1em 1.5em .95em;
$button-padding--xxs: .75em 1em;
$button-radius: $radius--md;
$button-radius--md: $radius--md;
$button-radius--lg: $radius--lg;
$button-border-width: 1px;
$button-letter-spacing: $letter-spacing--lg;

$btn-pad--sm: .65em 1.75em .6em;
$btn-pad--md: .65em 1.5em;
$btn-pad--lg: .75em 1.5em;
$btn-pad--xl: 1em 2em;





//------------------------------------
//    #SCROLLBAR
//------------------------------------
$scrollbar-width: .25rem;

$scrollbar-handle-bg: transparentize($white, .2);
$scrollbar-handle-bg-inactive: transparentize($black, .6);
$scrollbar-handle-radius: 6px;
$scrollbar-handle-shadow-color: transparentize($black, .5);
$scrollbar-handle-shadow: inset 0 0 2px $scrollbar-handle-shadow-color;

$scrollbar-track-radius: 6px;
$scrollbar-track-shadow-color: transparentize($black, .7);
$scrollbar-track-shadow: inset 0 0 6px $scrollbar-track-shadow-color;





//------------------------------------
//    #Z-INDEX
//------------------------------------
$z-index: (
    'loader': 800,
    'alert': 750,
    'modal': 700,
    'menu': 600,
    'offcanvas': 500,
    'overlayer': 400,
    'popover': 350,
    'help': 325,
    'header': 300,
    'body': 200,
    'main': 100
);





//------------------------------------
//    #TIMELINE
//------------------------------------
$timeline-color: transparentize($green-0, .65);
$timeline-tip-size: 1rem;
$timeline-gap: $distance--lg;
$timeline-translation: $timeline-gap + $timeline-tip-size;
$timeline-mark-info-bg-color: $white;
$timeline-date-bg-color: transparentize($blue-navy-70, .65);
$timeline-date-color: $blue-navy-0;
$timeline-begin-end-bg-color: $green-0;
$timeline-marks-bg-color: $green-10;
$timeline-marks-bg-color--locked: $leaf-0;
$timeline-marks-border-color: $timeline-color;
$timeline-marks-color: color-contrast($timeline-marks-bg-color, $green-0, $blue-navy-70);
$timeline-marks-radius: $radius--capsule;
$timeline-marks-shadow: $shadow-3;
$timeline-status-size: 3rem;





//------------------------------------
//    #GENERAL DEF
//------------------------------------
$focus-indicator: 2px solid $lemon-60;
$header-bg-color: $white;
$body-bg-color: $gray-0;

$font-base:  'Source Sans Pro', sans-serif;
$font-title: filson-pro, sans-serif;

$focus-line-width: 2px;
$focus-line-color: $leaf-20;

$header-height: 3rem;
$header-v-padding: .5rem;

$container-fluid-pad: $distance--md;

$main-border-color: transparentize($gray-10, .5);

$default-color-hover: $blue-navy-60;
$default-bg-color-hover: $green-40;
$overlayer-color: $blue-navy-60;
$overlayer-opacity: .95;

// ANNOTATION
$annotation-bg-color: $gray-0 !default;
$annotation-border: true !default;
$annotation-border-side: 'left' !default;
$annotation-border-style: 1px solid $gray-20 !default;
$annotation-font-size: $font-size--xs !default;
$annotation-font-style: italic !default;

// ALERT
$alert-radius: $radius--md;

// CALLOUT
$callout-default-bg-color: $gray-0;
$callout-default-border: 2px solid $green-60;
$callout-default-padding: $distance--sm;

// CAPSULE
$capsule-on-hover-bg-color: $green-40;
$capsule-on-hover-color: color-contrast($capsule-on-hover-bg-color, $white, $blue-navy-70);
$capsule-on-hover-radius: $radius;

// CLICKABLES
$clickables-bg-color: $leaf-40;
$clickables-bg-color-hover: $leaf-60;
$clickables-color: color-contrast($clickables-bg-color, $white, $blue-navy-70);
$clickables-color-hover: $clickables-color;

// CHECKBOX & RADIO
$checkbox-checked-bg-color: $clickables-bg-color;
$check-radio-bg-color: $form-bg-color;
$check-radio-checked-color: $green-40;
$check-radio-checked-bg-color: $blue-navy-70;

// STRIPE
$stripe-bg-color: $gray-0;

// COURSE NAV
$course-nav-bg-color: $blue-navy-70;
$course-nav-menu-size: 32px;
$course-nav-active-bg-color: $lemon-30;
$course-nav-current-bar-color: $lemon-70;
$course-nav-icon-active-color:  inherit;
$course-nav-icon-current-color: inherit;
$course-nav-icon-is-done-color: $lemon-60;
$course-nav-not-done-opacity: .5;
$course-nav-lateral-pad: $distance--sm;

// GLOBAL NAV
$global-nav-gradient-light: $green-10 !default;
$global-nav-color-hover: $default-color-hover !default;
$global-nav-bg-color-hover: $default-bg-color-hover !default;
$global-nav-active-bg-color: $green-40 !default;
$global-nav-active-bg-color-hover: $green-60 !default;
$global-nav-active-color: color-contrast($global-nav-active-bg-color, $white, $blue-navy-70) !default;
$global-nav-submenu-width: 10rem !default;

// TRANSITION
$transition-bg-color: $blue-navy-60;

// BUTTONS
$btn--leaf: true;
$btn--leaf-bg-color: $leaf-50;
$btn--leaf-bg-color-hover: $leaf-70;
$btn--leaf-color: color-contrast($btn--leaf-bg-color, $white, $blue-navy-70);
$btn--leaf-color-hover: $btn--leaf-color;

$btn--success: false;
$btn--success-bg-color: saturate(darken($success-30, 6%), 6%);
$btn--success-bg-color-hover: saturate(darken($success-30, 8%), 8%);
$btn--success-color: color-contrast($btn--success-bg-color, $white, $blue-navy-70);
$btn--success-color-hover: $btn--success-color;

$btn--xxs: true;
$btn--xs: true;
$btn--md: true;
$btn--lg: true;