:root {
  --ease-in-quad: cubic-bezier(.55, .085, .68, .53);
  --ease-in-cubic: cubic-bezier(.550, .055, .675, .19);
  --ease-in-quart: cubic-bezier(.895, .03, .685, .22);
  --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
  --ease-in-expo: cubic-bezier(.95, .05, .795, .035);
  --ease-in-circ: cubic-bezier(.6, .04, .98, .335);

  --ease-out-quad: cubic-bezier(.25, .46, .45, .94);
  --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
  --ease-out-quart: cubic-bezier(.165, .84, .44, 1);
  --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
  --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
  --ease-out-circ: cubic-bezier(.075, .82, .165, 1);

  --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
  --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
  --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
  --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);
}

//------------------------------------
//    #AUX
//------------------------------------
$debugger: false;
$show-rhythm: false;
$show-v-rhythm: true;
$show-h-rhythm: true;
$sanitize: false;





//------------------------------------
//    #BREAKPOINTS
//------------------------------------
// Referência para uso http://include-media.com/#features.
// Os nomes pré-definidos foram trocados para xs, sm, md, lg, xl.

// EXEMPLO

// .douglas {
//    color: #bada55;
//
//    @include media('sm') {
//        color: #c0ffee;
//    }
//
// }

// scss-lint:disable ZeroUnit

// Referência para tamanhos: https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862.
$breakpoints: (xs: 0rem, // Extra small screen / phone
sm: 37.5rem, // 600px   // Small screen / phone
md: 56.25rem, // 900px   // Medium screen / tablet
lg: 75rem, // 1200px  // Large screen / desktop
xl: 112.5rem, // 1800px  // Extra large screen / wide desktop / TV
) !default;
// scss-lint:enable ZeroUnit





//------------------------------------
//    #BUTTONS
//------------------------------------
$btn-pad--sm: .65em 1.75em .6em;
$btn-pad--md: .65em 1.5em;
$btn-pad--lg: .75em 1.5em;
$btn-pad--xl: 1em 2em;






//------------------------------------
//    #COLORS
//------------------------------------
// https://www.colorbox.io/#steps=7#hue_start=181#hue_end=201#hue_curve=easeInQuad#sat_start=4#sat_end=100#sat_curve=easeOutQuad#sat_rate=130#lum_start=100#lum_end=8#lum_curve=linear#lock_hex=#1c292c#minor_steps_map=0
$blue-navy-shades: (0: hsl(191, 20%, 92%), // #f2ffff,
5: hsl(191, 25%, 85%), // #c8e9e9,
10: hsl(191, 30%, 65%), // #a3d2d3,
20: hsl(191, 50%, 45%), // #5ca8a9,
30: hsl(192, 74%, 30%), // #367c7f,
40: hsl(195, 87%, 20%), // #2d5156,
50: hsl(197, 90%, 14%), // #000d14
60: hsl(199, 95%, 10%), // #000d14
70: hsl(191, 22%, 14%) // #1c292c, // CRANE
);





// https://www.colorbox.io/#steps=7#hue_start=80#hue_end=88#hue_curve=easeInQuad#sat_start=4#sat_end=90#sat_curve=easeOutQuad#sat_rate=130#lum_start=100#lum_end=30#lum_curve=linear#lock_hex=#97c454#minor_steps_map=0
$green-shades: (0: hsl(78, 15%, 95%), // #fbfff2,
5: hsl(80, 30%, 85%), // #E1F0C4,
10: hsl(83, 39%, 75%), // #C7E29B,
20: hsl(84, 49%, 55%), // #97C454, // CRANE
30: hsl(84, 69%, 38%), // #6FA61E,
40: hsl(86, 88%, 28%), // #528809,
50: hsl(86, 94%, 21%), // #3D6A03,
60: hsl(88, 100%, 15%) // #294D00,
);





// https://www.colorbox.io/#steps=7#hue_start=138#hue_end=158#hue_curve=easeInQuad#sat_start=4#sat_end=100#sat_curve=easeOutQuad#sat_rate=130#lum_start=100#lum_end=17#lum_curve=linear#lock_hex=#189a54#minor_steps_map=0
$leaf-shades: (0: hsl(138, 65%, 90%), // #f2fff6
5: hsl(139, 61%, 84%), // #bdefcd
10: hsl(141, 55%, 71%), // #8edeaa
20: hsl(144, 49%, 49%), // #40bc71
30: hsl(148, 73%, 35%), // #189a54 // CRANE
40: hsl(150, 81%, 25%), // #0c7541
50: hsl(155, 90%, 16%), // #045030
60: hsl(158, 100%, 8%) // #002b1b
);





// https://www.colorbox.io/#steps=7#hue_start=60#hue_end=80#hue_curve=easeInQuad#sat_start=4#sat_end=100#sat_curve=easeOutSine#sat_rate=130#lum_start=95#lum_end=14#lum_curve=linear#lock_hex=e5e552#minor_steps_map=0
$lemon-shades: (0: hsl(56, 68%, 72%), // #f2f2e6
5: hsl(58, 72%, 66%), // #ECEC9A
10: hsl(60, 74%, 61%), // #E5E552 // CRANE
20: hsl(62, 85%, 55%), // #B9BE12
30: hsl(64, 88%, 48%), // #8C9800
40: hsl(66, 92%, 44%), // #607100
50: hsl(68, 100%, 40%), // #384A00
60: hsl(70, 100%, 36%) // #182400
);





// https://www.colorbox.io/#steps=7#hue_start=60#hue_end=80#hue_curve=easeInQuad#sat_start=4#sat_end=18#sat_curve=easeOutSine#sat_rate=130#lum_start=95#lum_end=5#lum_curve=linear#lock_hex=#f2f9fa#minor_steps_map=0
$gray-shades: (0: hsl(148, 3%, 98%), // #f2f9fa
5: hsl(148, 3%, 88%), // #d8e6e3
10: hsl(148, 3%, 75%), // #c0d2c9
20: hsl(148, 3%, 58%), // #93aa99
30: hsl(148, 3%, 43%), // #6c836c
40: hsl(148, 3%, 28%), // #4d5b48
50: hsl(148, 3%, 15%), // #2e3428
60: hsl(148, 3%, 5%) // #0c0d0a
);

$blue-navy-0: blue-navy-shades(0);
$blue-navy-5: blue-navy-shades(5);
$blue-navy-10: blue-navy-shades(10);
$blue-navy-20: blue-navy-shades(20);
$blue-navy-30: blue-navy-shades(30);
$blue-navy-40: blue-navy-shades(40);
$blue-navy-50: blue-navy-shades(50);
$blue-navy-60: blue-navy-shades(60);
$blue-navy-60: blue-navy-shades(70);

$green-0: green-shades(0);
$green-5: green-shades(5);
$green-10: green-shades(10);
$green-20: green-shades(20);
$green-30: green-shades(30);
$green-40: green-shades(40);
$green-50: green-shades(50);
$green-60: green-shades(60);

$leaf-0: leaf-shades(0);
$leaf-5: leaf-shades(5);
$leaf-10: leaf-shades(10);
$leaf-20: leaf-shades(20);
$leaf-30: leaf-shades(30);
$leaf-40: leaf-shades(40);
$leaf-50: leaf-shades(50);
$leaf-60: leaf-shades(60);

$lemon-0: lemon-shades(0);
$lemon-5: lemon-shades(5);
$lemon-10: lemon-shades(10);
$lemon-20: lemon-shades(20);
$lemon-30: lemon-shades(30);
$lemon-40: lemon-shades(40);
$lemon-50: lemon-shades(50);
$lemon-60: lemon-shades(60);

$gray-0: gray-shades(0);
$gray-5: gray-shades(5);
$gray-10: gray-shades(10);
$gray-20: gray-shades(20);
$gray-30: gray-shades(30);
$gray-40: gray-shades(40);
$gray-50: gray-shades(50);
$gray-60: gray-shades(60);

$hue: 148;

// grays
$color-white: hsla(0, 0%, 100%, 1) !default;
$color-off-white: hsla(187, 44%, 96%, 1) !default; // #f2f9fa // CRANE;
$color-gray--light: hsla(132, 12%, 83%, 1) !default; // #cfd9d1 // CRANE
$color-gray: hsla($hue, 8%, 60%, 1) !default;
$color-gray--dark: hsla($hue, 10%, 30%, 1) !default;
$color-gray--darkest: hsla(0, 0%, 22%, 1) !default; // #383838 // CRANE
$color-black: hsla($hue, 20%, 4%, 1) !default;

// aux
$color-error: hsla(2, 60%, 45%, 1) !default;
$color-info: hsla(210, 60%, 36%, 1) !default;
$color-success: hsl(115, 50%, 40%) !default;
$color-warning: hsla(38, 87%, 50%, 1) !default;

$colors: ((blue-navy-0, $blue-navy-0),
(blue-navy-5, $blue-navy-5),
(blue-navy-10, $blue-navy-10),
(blue-navy-20, $blue-navy-20),
(blue-navy-30, $blue-navy-30),
(blue-navy-40, $blue-navy-40),
(blue-navy-50, $blue-navy-50),
(blue-navy-60, $blue-navy-60),

(green-0, $green-0),
(green-5, $green-5),
(green-10, $green-10),
(green-20, $green-20),
(green-30, $green-30),
(green-40, $green-40),
(green-50, $green-50),
(green-60, $green-60),

(leaf-0, $leaf-0),
(leaf-5, $leaf-5),
(leaf-10, $leaf-10),
(leaf-20, $leaf-20),
(leaf-30, $leaf-30),
(leaf-40, $leaf-40),
(leaf-50, $leaf-50),
(leaf-60, $leaf-60),

(lemon-0, $lemon-0),
(lemon-5, $lemon-5),
(lemon-10, $lemon-10),
(lemon-20, $lemon-20),
(lemon-30, $lemon-30),
(lemon-40, $lemon-40),
(lemon-50, $lemon-50),
(lemon-60, $lemon-60),

(gray-0, $gray-0),
(gray-5, $gray-5),
(gray-10, $gray-10),
(gray-20, $gray-20),
(gray-30, $gray-30),
(gray-40, $gray-40),
(gray-50, $gray-50),
(gray-60, $gray-60),

(black, $color-black),
(white, $color-white),

(error, $color-error),
(info, $color-info),
(success, $color-success),
(warning, $color-warning));

$header-bg-color: $color-white;
$body-bg-color: $gray-0;
$body-bg-color--dark: transparentize(darken($color-off-white, 10%), .2);



//------------------------------------
//    #DIRECTIONS
//------------------------------------
// Não mexer.
$directions: 'top',
'right',
'bottom',
'left';
$perpendiculars: 'v',
'h';





//------------------------------------
//    #DISTANCES
//------------------------------------
$distance--xxs: .25rem;
$distance--xs: .5rem;
$distance--sm: 1rem;
$distance--md: 1.5rem;
$distance--lg: 2rem;
$distance--xl: 2.5rem;
$distance--xxl: 3.5rem;
$distance--xxxl: 5rem;

$distance--super: 6rem;
$distance--max: 8rem;

$distances: ((xxs, $distance--xxs),
(xs, $distance--xs),
(sm, $distance--sm),
(md, $distance--md),
(lg, $distance--lg),
(xl, $distance--xl),
(xxl, $distance--xxl));





//------------------------------------
//    #AVATAR SIZES
//------------------------------------
$avatar--sm: 2rem;
$avatar--md: 3.5rem;
$avatar--lg: 5rem;
$avatar--xl: 8rem;





//------------------------------------
//    #FONT SIZES
//------------------------------------
// Basic sizes.

$multiplier: 0.15rem;

$font-size--xxs: 1rem;
$font-size--xs:  $font-size--xxs + (1 * $multiplier);
$font-size--sm:  $font-size--xs  + (2 * $multiplier);
$font-size--md:  $font-size--sm  + (1 * $multiplier);
$font-size--lg:  $font-size--md  + (1 * $multiplier);
$font-size--xl:  $font-size--lg  + (1 * $multiplier);
$font-size--xxl: $font-size--xl  + (2 * $multiplier);

// Very few uses.
$font-size--super: 3rem;
$font-size--max: 3.5rem;





//------------------------------------
//    #FORM
//------------------------------------
$form-shadow: 0 2px 0 rgba($color-black, .19);





//------------------------------------
//    #ICON
//------------------------------------
$icomoon-font-family: "icomoon" !default;

$icon-alert-triangle: "\e900";
$icon-arrow-down: "\e901";
$icon-arrow-left: "\e902";
$icon-arrow-right: "\e903";
$icon-arrow-up: "\e904";
$icon-at-sign: "\e919";
$icon-award: "\e921";
$icon-bar-chart: "\e91d";
$icon-check: "\e905";
$icon-chevron-down: "\e906";
$icon-chevron-left: "\e907";
$icon-chevron-right: "\e908";
$icon-chevron-up: "\e909";
$icon-chevrons-left: "\e916";
$icon-chevrons-right: "\e917";
$icon-clock: "\e91e";
$icon-edit: "\e912";
$icon-eye-off: "\e90b";
$icon-eye: "\e90a";
$icon-file-text: "\e915";
$icon-frown-o: "\e918";
$icon-help-circle: "\e91f";
$icon-list: "\e922";
$icon-live_help: "\e0c6";
$icon-lock_open: "\e898";
$icon-lock_outline: "\e899";
$icon-menu: "\e90c";
$icon-minus: "\e90f";
$icon-more-vertical: "\e923";
$icon-more_vert: "\e5d4";
$icon-package: "\e920";
$icon-paperclip: "\e914";
$icon-play: "\e910";
$icon-plus: "\e911";
$icon-reload: "\e924";
$icon-save: "\e91c";
$icon-search: "\e90d";
$icon-trash-2: "\e913";
$icon-user: "\e91a";
$icon-users: "\e91b";
$icon-x: "\e90e";





//------------------------------------
//    #INPUT
//------------------------------------
$input-height: 2.5rem;
$input-radio-selected-size: .6em;

$input-check-radio-size: 1.75rem;
$input-check-radio-distance-between: $distance--lg;
$input-check-radio-label-margin: $input-check-radio-size+$distance--xs;





//------------------------------------
//    #LETTER SPACING
//------------------------------------
$letter-spacing--xxs: -.075em;
$letter-spacing--xs: -.045em;
$letter-spacing--sm: -.015em;
$letter-spacing--md: .015em;
$letter-spacing--lg: .03em;
$letter-spacing--xl: .05em;
$letter-spacing--xxl: .15em;





//------------------------------------
//    #PADDING
//------------------------------------
$h-padding--xs: 8px;
$h-padding--sm: 16px;
$h-padding--md: 24px;
$h-padding--lg: 32px;





//------------------------------------
//    #RADIUS
//------------------------------------
$radius: 1px;
$radius--md: $radius * 2;
$radius--lg: $radius * 4;
$radius--capsule: 99rem;





//------------------------------------
//    #SCROLLBAR
//------------------------------------
$scrollbar-width: 8px;

$scrollbar-handle-bg: transparentize($color-white, .2);
$scrollbar-handle-bg-inactive: transparentize($color-black, .6);
$scrollbar-handle-radius: 6px;
$scrollbar-handle-shadow-color: transparentize($color-black, .5);
$scrollbar-handle-shadow: inset 0 0 2px $scrollbar-handle-shadow-color;

$scrollbar-track-radius: 6px;
$scrollbar-track-shadow-color: transparentize($color-black, .7);
$scrollbar-track-shadow: inset 0 0 6px $scrollbar-track-shadow-color;





//------------------------------------
//    #SHADOW DEPTH
//------------------------------------
$shadow-1: 0 1px 3px rgba($color-black, .02),
0 1px 2px rgba($color-black, .17),
0 0 2px rgba($color-black, .12);
$shadow-2: 0 3px 6px rgba($color-black, .06),
0 3px 6px rgba($color-black, .16),
0 0 2px rgba($color-black, .12);
$shadow-3: 0 10px 20px rgba($color-black, .09),
0 6px 6px rgba($color-black, .16),
0 0 2px rgba($color-black, .12);
$shadow-4: 0 14px 28px rgba($color-black, .15),
0 10px 10px rgba($color-black, .2),
0 0 2px rgba($color-black, .12);
$shadow-5: 0 19px 38px rgba($color-black, .2),
0 15px 12px rgba($color-black, .2),
0 0 2px rgba($color-black, .12);

$shadow-h-1: 1px 0 3px rgba($color-black, .02),
1px 0 2px rgba($color-black, .17);
$shadow-h-2: 3px 0 6px rgba($color-black, .06),
3px 0 6px rgba($color-black, .16);
$shadow-h-3: 10px 0 20px rgba($color-black, .09),
06px 0 6px rgba($color-black, .16);
$shadow-h-4: 14px 0 28px rgba($color-black, .15),
10px 0 10px rgba($color-black, .2);
$shadow-h-5: 19px 0 38px rgba($color-black, .2),
15px 0 12px rgba($color-black, .2);

$shadow-i-1: inset 0 1px 3px rgba($color-black, .02),
inset 0 1px 2px rgba($color-black, .17);
$shadow-i-2: inset 0 3px 6px rgba($color-black, .06),
inset 0 3px 6px rgba($color-black, .16);
$shadow-i-3: inset 0 10px 20px rgba($color-black, .09),
inset 0 6px 6px rgba($color-black, .16);
$shadow-i-4: inset 0 14px 28px rgba($color-black, .15),
inset 0 10px 10px rgba($color-black, .15);
$shadow-i-5: inset 0 19px 38px rgba($color-black, .2),
inset 0 15px 12px rgba($color-black, .15);
// -0.05, -0.02





//------------------------------------
//    #SHARED
//------------------------------------
$header-height: 5rem;
$header-v-padding: .5rem;





//------------------------------------
//    #Z-INDEX
//------------------------------------
$z-index: ('loader': 800,
'alert': 750,
'modal': 700,
'menu': 600,
'offcanvas': 500,
'overlayer': 400,
'popover': 350,
'help': 325,
'header': 300,
'body': 200,
'main': 100);
