.class {
  $this: &;

  $img-height: 118%;
  $img-width: 40%;

  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  @include media('>sm') {
    align-items: flex-start;
    min-height: 20vh;
    padding: $distance--md $distance--lg;
    width: calc(50% - #{$distance--md});
  }

  @include media('>lg') {
    width: 40%;
  }

  > * {
    z-index: 2;
  }

  &--is-completed {}

  &--is-disabled {
    cursor: not-allowed;
    opacity: .65;
  }

  &__img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $radius--md;
    height: 10rem;
    margin-bottom: $distance--sm;
    width: 100%;
    z-index: 1;

    @include media('>sm') {
      height: calc(100% - (#{$distance--xs} * 2));
      position: absolute;
      right: $distance--xs;
      top: $distance--xs;
      width: $img-width;
    }

  }

  &__title {
    @include title-2($color: $blue-navy-50);

    margin-bottom: $distance--sm;
    padding-right: $distance--sm;
    text-align: left;

    @include media('>sm') {
      max-width: 60%;
    }

  }

  &__description {
    display: none;
    font-size: $font-size--xs;
    line-height: 1.35;
    opacity: .85;

    @include media('>sm') {
      max-width: 50%;
    }

    @include media('>lg') {
      font-size: $font-size--sm;
      line-height: 1.5;
    }

  }

  &__cta {
    margin-top: $distance--md;

    @include media('>md') {
      margin-top: auto;
    }

  }

}
