.class {
  $this: &;

  $multiplier: 1.8;
  $img-height: 10rem * $multiplier;
  $img-width:  18rem * $multiplier;
  // $img-height: 10rem;
  // $img-width:  18rem;

  border-radius: $radius;
  box-shadow: $shadow-3, $shadow-2, $shadow-h-l-2, $shadow-h-r-2;
  display: flex;
  flex-direction: column;
  padding: $distance--md;
  text-align: left;

  @include media('>md') {
    flex-direction: row;
  }

  > * {
    z-index: 2;
  }

  &--is-completed {}

  &--is-disabled {
    cursor: not-allowed;
  }

  &__info {
    align-items: flex-start;
    display: flex;
    flex: 1 0 40%;
    flex-direction: column;
  }

  &__date-block {
    align-items: center;
    border-bottom: 1px solid $gray-0;
    display: flex;
    margin-bottom: $distance--lg;
    padding: 0 0 $distance--md 0;
    text-transform: uppercase;
    width: 100%;


    @include media('>lg') {
      border-bottom: none;
      padding: $distance--md;
      width: auto;
    }

    > * {

      &:first-child {
        display: none;
        opacity: .75;

        @include media('>lg') {
          display: inline-block;
        }

      }

    }

  }

  &__date {
    align-items: flex-start;
    display: flex;
    flex-direction: row;

    @include media('>lg') {
      flex-direction: column;
      margin-left: $distance--sm;
    }

  }

  &__day-aux {
    opacity: .5;
  }

  &__day {
    font-weight: bolder;
    margin-left: $distance--xxs;
    white-space: nowrap;

    @include media('>lg') {
      @include title-2($color: inherit);
    }

  }

  &__img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $radius;
    display: block;
    flex: 0 0 auto;
    height: 20vh;
    margin-top: $distance--xl;
    position: relative;
    width: 100%;
    z-index: 1;

    [class*='is-disabled'] &::after {
      background-color: $white;
      border-radius: inherit;
      content: '';
      height: 100%;
      left: 0;
      opacity: .5;
      position: absolute;
      top: 0;
      width: 100%;
    }

    @include media('>md') {
      $multiplier: .85;

      box-shadow: $shadow-5, $shadow-3, $shadow-h-l-2, $shadow-h-r-2;
      height: $img-height * $multiplier;
      margin: (-($img-height * $multiplier)/4) 0 0;
      transform: translate(10%, 0);
      width: $img-width * $multiplier;
    }

    @include media('>lg') {
      transform: translate(15%, 0);
    }

  }

  &__subtitle {
    [class*='is-disabled'] & { opacity: .7; }
  }

  &__title {
    @include title-1($color: $gray-50);

    [class*='is-disabled'] & { opacity: .7; }
  }

  &__description {
    display: none;
    font-size: $font-size--xs;
    line-height: 1.35;
    opacity: .85;

    @include media('>lg') {
      font-size: $font-size--sm;
      line-height: 1.5;
    }

  }

  &__skills {

    [class*='is-disabled'] & {
      opacity: .7;
    }

  }

  &__cta {

    @include media('>md') {
      margin-top: auto;
    }

  }

}
