.class {
  $this: &;

  $img-height: 10rem;
  $img-width:  18rem;
  
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  @include media('>md') {
    align-items: flex-end;
    min-height: 20vh;
    padding: $distance--md $distance--lg;
    text-align: right;
    width: calc(50% - #{$distance--md});
  }

  @include media('>lg') {
    width: 40%;
  }

  > * {
    z-index: 2;
  }

  &--is-completed {}

  &--is-disabled {
    cursor: not-allowed;
    opacity: .65;
  }

  &__img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $radius--md;
    box-shadow: $shadow-h-l-4;
    height: 10rem;
    margin-bottom: $distance--sm;
    width: 100%;
    z-index: 1;

    @include media('>md') {
      $distance: $distance--md;

      height: $img-height;
      position: absolute;
      left: -7%;
      top: -8%;
      width: $img-width;
    }

  }

  &__title {
    @include title-2($color: $gray-50, $line-height: 1);

    margin-bottom: $distance--lg;
    text-align: inherit;

    @include media('>md') {
      max-width: calc(100% - #{$img-width});
    }

  }

  &__description {
    display: none;
    font-size: $font-size--xs;
    line-height: 1.35;
    opacity: .85;

    @include media('>md') {
      max-width: 50%;
    }

    @include media('>lg') {
      font-size: $font-size--sm;
      line-height: 1.5;
    }

  }

  &__cta {
    margin-top: $distance--md;

    @include media('>md') {
      margin-top: auto;
    }

  }

}
