// Esse arquivo teve que ser criado por conta
// da estrutura ember que foi montada.
// Seu nome acabou sendo herdado pelo id da tag.
.content-main {
    @include overflow-y;

    height: calc(100vh - #{$header-height} - (2 * #{$header-v-padding}));
    z-index: 1;

    &--in-course {
        height: 100vh;
        overflow: hidden;
    }

    .no-header & {
        display: block;
        flex: 1;
        height: auto;
        overflow: auto;

        > * {
            display: flex;
            flex: 1;
            flex-direction: column;
            height: auto;
        }

    }

}
