// BLOCK
// global-nav

// ELEMENTS
// __list
//  --is-show

// __item
// __link
//  --is-active
// __thumb
// __trigger
// __close
// __submenu-holder
// __submenu
// __call

// MODIFIERS
//

.global-nav {
    $this: &;

    &__list {
        @include z-index('offcanvas');

        align-items: center;
        background-color: $white;
        box-shadow: $shadow-5;
        display: flex;
        flex-direction: column;
        right: 0;
        height: 100%;
        justify-content: flex-start;
        padding-top: 3rem;
        position: fixed;
        top: 0;
        transform: translateX(110%);
        transition: 500ms;
        width: 95%;

        @include media('>sm') {
            background-color: transparent;
            box-shadow: none;
            flex-direction: row;
            padding-top: 0;
            position: relative;
            transform: translate(0);
        }

        &--is-show {
            transform: translateX(0);
        }

    }

    &__item {
        flex: 0 0 auto;
        margin-right: $distance--xs;
        margin-bottom: $distance--xs;
        order: 2;

        @include media('>sm') {
            margin-bottom: 0;
        }

        &:not(:last-child) {
            order: 3;

            @include media('>sm') {
                // margin-right: $distance--xs;
                order: 1;
            }

            // @include media('>md') { margin-right: $distance--sm; }
            // @include media('>lg') { margin-right: $distance--lg; }
            // @include media('>xl') { margin-right: $distance--xl; }
        }


        &[class*='mob-only'] {

            @include media('>sm') {
                display: none;
            }

        }

    }

    &__link {
        @include title-aux($size: .85rem);

        border-radius: $radius;
        display: flex;
        font-weight: 700;
        letter-spacing: $letter-spacing--xl;
        // opacity: .65;
        padding: $distance--md clamp($distance--xs, $distance--sm, $distance--lg);
        position: relative;
        transition: 300ms cubic-bezier(.25, .46, .45, .94)t; // IE fallback
        transition: 300ms var(--ease-out-quad);

        @include media('>sm', '<md') {
            font-size: 0.75rem;
            padding: 1em;
        }

        &:hover {
            @include text-contrast($global-nav-gradient-hover);

            background-color: $global-nav-gradient-hover;
            // opacity: .6;
        }

        &--is-active {
            background-color: $global-nav-active-bg-color;
            color: $global-nav-active-color;
            // opacity: 1;

            &:hover {
                background-color: $global-nav-active-bg-color-hover;
                color: $global-nav-active-color;
                opacity: 1;
            }

        }

        [class*='icon-'] {
            margin-left: $distance--sm;
        }


    }

    &__thumb {
        align-items: center;
        display: flex;
        flex-direction: row;


        @include media('>sm') {
            // margin-right: -14px; // deslocamento do chevron

            // [class*='is-show'] ~ & #{$this}__avatar {
            //     transform: scale(2);
            // }

        }

    }

    &__avatar {
        background-color: $white;
        display: none;
        height: $avatar--md;
        margin-bottom: $distance--sm;
        width: $avatar--md;

        @include media('>sm') {
            $distance: $distance--xs;

            border-right: 1px solid $main-border-color;
            height: $avatar--sm;
            margin-bottom: 0;
            margin-right: $distance;
            padding-right: $distance;
            transform-origin: top right;
            transition: 300ms cubic-bezier(.25, .46, .45, .94); // IE fallback
            transition: 300ms var(--ease-out-quad);
            width: $avatar--sm;
        }

    }

    // &__user-info {}

    &__trigger {
        padding: $distance--xxs;

        @include media('>sm') {
            display: none;
        }

    }

    &__close {
        padding: 0.5em 0.75em;
        position: absolute;
        right: $distance--sm;
        top: $distance--sm;

        @include media('>sm') {
            display: none;
        }

    }

    &__submenu-holder {
        @include z-index('menu');

        align-items: center;
        align-self: stretch;
        display: flex;
        position: relative;
    }

    &__submenu {
        position: absolute;
        right: 0;
        top: calc(100% + 1px);
        // min-width: $global-nav-submenu-width;
        min-width: fit-content;

        @include media('<=sm') {
            display: none;
        }

    }

    &__call {
        @include truncate;

        border-bottom: 1px solid $gray-10;
        font-size: $font-size--sm;
        padding: $distance--xs $distance--sm;
    }


    @include media('<=sm') {

        [class*='icon-chevron'] {
            display: none;
        }

        .global-nav__item:first-of-type {
            margin-bottom: $distance--sm;

            [class*='__link'] {
                text-align: center;
            }

            [class*='__submenu'] {
                box-shadow: none;
                display: block;
                left: 0;
                opacity: 1;
                position: relative;
                right: 0;
                text-align: center;
                top: 0;
                transform: none;
                visibility: visible;

                li:first-of-type {
                    margin-top: 0;
                }

            }

        }

    }

}
