// BLOCK
// global-nav

// ELEMENTS
// __list
//  --is-show

// __item
// __link
//  --is-active
// __thumb
// __trigger
// __close
// __submenu-holder
// __submenu
// __call

// MODIFIERS
//

.global-nav {
    $this: &;

    align-self: stretch;
    display: flex;

    &__list {
        @include z-index('offcanvas');

        align-items: center;
        background-color: $white;
        box-shadow: $shadow-5;
        display: flex;
        flex-direction: column;
        right: 0;
        height: 100%;
        justify-content: flex-start;
        padding-top: 3rem;
        position: fixed;
        top: 0;
        transform: translateX(110%);
        transition: 500ms;
        width: 95%;

        @include media('>sm') {
            background-color: transparent;
            box-shadow: none;
            flex-direction: row;
            padding-top: 0;
            position: relative;
            transform: translate(0);
        }

        &--is-show {
            transform: translateX(0);
        }

    }

    &__item {
        align-self: stretch;
        display: inline-flex;
        flex: 0 0 auto;
        margin-right: $distance--xs;
        margin-bottom: $distance--xs;
        order: 2;

        @include media('>sm') {
            margin-bottom: 0;
        }

        &:not(:last-child) {
            order: 3;

            @include media('>sm') {
                order: 1;
            }

        }


        &[class*='mob-only'] {

            @include media('>sm') {
                display: none;
            }

        }

    }

    &__link {
        @include title-aux($size: .85rem);

        align-items: center;
        border-radius: $radius;
        display: flex;
        font-weight: 700;
        letter-spacing: $letter-spacing--xl;
        padding: $distance--xs clamp($distance--xs, $distance--sm, $distance--lg);
        position: relative;
        transition: background-color 300ms cubic-bezier(.25, .46, .45, .94)t; // IE fallback
        transition: background-color 300ms var(--ease-out-quad);

        &:hover {
            background-color: $global-nav-bg-color-hover;
            color: $global-nav-color-hover;
        }

        &--is-active {
            background-color: $global-nav-active-bg-color;
            color: $global-nav-active-color;

            &:hover {
                background-color: $global-nav-active-bg-color-hover;
                color: $global-nav-active-color;
                opacity: 1;
            }

        }

        [class*='icon-'] {
            margin-left: $distance--xs;
        }


    }

    &__avatar-holder {
        background-color: $white;
        border-radius: 50%;
        display: none;
        height: $avatar--md;
        margin-bottom: $distance--sm;
        overflow: hidden;
        padding: 0;
        width: $avatar--md;

        @include media('>sm') {
            align-items: center;
            display: flex;
            height: $avatar--xs;
            justify-content: center;
            margin-bottom: 0;
            transform-origin: top right;
            transition: 300ms cubic-bezier(.25, .46, .45, .94); // IE fallback
            transition: 300ms var(--ease-out-quad);
            width: $avatar--xs;
        }

        > * {
            display: block;
            width: 100%;
        }

    }

    // &__user-info {}

    &__trigger {
        margin: auto;
        padding: $distance--xxs;

        @include media('>sm') {
            display: none;
        }

    }

    &__close {
        padding: 0.5em 0.75em;
        position: absolute;
        right: $distance--sm;
        top: $distance--sm;

        @include media('>sm') {
            display: none;
        }

    }

    &__submenu-holder {
        @include z-index('menu');

        position: relative;
    }

    &__submenu {
        position: absolute;
        right: 0;
        top: calc(100% + 1px);
        // min-width: $global-nav-submenu-width;
        min-width: fit-content;

        @include media('<=sm') {
            display: none;
        }

    }

    &__call {
        @include truncate;

        border-bottom: 1px solid $gray-10;
        font-size: $font-size--sm;
        padding: $distance--xs $distance--sm;
    }


    @include media('<=sm') {

        [class*='icon-chevron'] {
            display: none;
        }

        .global-nav__item:first-of-type {
            margin-bottom: $distance--sm;

            [class*='__link'] {
                text-align: center;
            }

            [class*='__submenu'] {
                box-shadow: none;
                display: block;
                left: 0;
                opacity: 1;
                position: relative;
                right: 0;
                text-align: center;
                top: 0;
                transform: none;
                visibility: visible;

                li:first-of-type {
                    margin-top: 0;
                }

            }

        }

    }

}
