.header {
    $this: &;

    align-items: center;
    background-color: $color-white;
    border-bottom: 1px solid $color-gray--light;
    display: flex;
    flex-direction: row;
    min-height: $header-height;
    justify-content: space-between;
    margin-top: $distance--xl;
    padding: $header-v-padding $h-padding--xs;
    position: relative;

    @include media('>sm') {
        padding-left: $h-padding--sm;
        padding-right: $h-padding--sm;
    }

    @include media('>md') {
        padding-left: $h-padding--md;
        padding-right: $h-padding--md;
    }

    @include media('>lg') {
        padding-left: $h-padding--lg;
        padding-right: $h-padding--lg;
    }

    &__logo {
        background-color: $color-white;
        border-radius: $radius--md;
        box-shadow: $shadow-3;
        display: block;
        left: $h-padding--xs;
        max-width: 9rem;
        padding: $distance--sm;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: auto;

        @include target-ie {
            max-width: 6.5rem;
        }

        @include media('>sm') {
            left: $h-padding--sm;
        }

        @include media('>md') {
            left: $h-padding--md;
        }

        @include media('>lg') {
            left: $h-padding--lg;
        }


    }

    &__nav {
        margin-left: auto;
    }

}
