.header {
    $this: &;

    align-items: center;
    background-color: $header-bg-color;
    // background-image: linear-gradient(to right, $color-white, $green-5);
    border-bottom: 1px solid $color-gray--light;
    display: flex;
    flex-direction: row;
    min-height: $header-height;
    justify-content: space-between;
    padding: $header-v-padding $h-padding--xs;
    position: relative;

    @include media('>sm') {
        padding-left: $h-padding--sm;
        padding-right: $h-padding--sm;
    }

    @include media('>md') {
        padding-left: $h-padding--md;
        padding-right: $h-padding--md;
    }

    @include media('>lg') {
        padding-left: $h-padding--lg;
        padding-right: $h-padding--lg;
    }

    &__logo {
        display: block;
        padding: $distance--xs;
        width: auto;
        // background-color: $color-white;
        // border-radius: $radius--md;
        // box-shadow: $shadow-3;
        // left: $h-padding--xs;
        // max-width: 6rem;
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);

        @include target-ie {
            max-width: 6.5rem;
        }

        // @include media('>sm') {
        //     left: $h-padding--sm;
        // }

        // @include media('>md') {
        //     left: $h-padding--md;
        // }

        // @include media('>lg') {
        //     left: $h-padding--lg;
        // }

    }

    &__nav {
        margin-left: auto;
    }

}
