@import url("https://use.typekit.net/fdr3uju.css");
.institutions {
  $this: &;
  font-family: poppins, sans-serif;

  &__header {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media(">md") {
      flex-direction: row;
    }

    > *:last-child {
      margin-top: $distance--lg;

      @include media(">md") {
        margin-top: 0;
      }
    }
  }

  &__courses {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: $distance--sm;
    margin-top: $distance--sm;
  }

  &__course {
    align-items: flex-start;
    flex: 0 0 auto;
    margin-bottom: $distance--lg;
  }

  &__areas {
    > * {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: space-between;
      padding: 0 0 $distance--xxl 0;
    }
  }

  &__area {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__users {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: $distance--sm;

    > * {
      flex: 0 0 auto;
      margin-left: $distance--md;
    }

    > *:first-child {
      flex: 1;
      margin-left: 0;
    }
  }

  &__table {
    margin-top: $distance--xl;

    &--pessoa{
      border-bottom: 1px solid #CFCFCF;
      display: block;
      width: 96%;
      position: absolute;
 
      
    
    }

   

  }

  &__table-usuarios {
   // margin-top: $distance--xl;
    background-color: #fff;
    border: 1px solid #8AB925;
    border-radius: 0px 50px 0 50px;
    border-collapse: inherit;
    padding: 2rem 1.5rem;
    width: 100%;
    display: inline-table;


    &--name-usuarios,
    &--role,
    &--enabled,
    &--actions{
      color: #808080;
      font-size: 0.8rem;
      width: 10%;
      font-weight: 600;
      line-height: 15px;
      word-wrap: break-word;
      text-transform: none;
      // text-transform: capitalize;

      p{
        font-size: 0.75rem;
        font-weight: 400;
        //color: #808080;
      }

      &__btn-group{
        @include media("<sm") {
          display: table-caption;
        margin-top: 4rem;
        }
  
      }
    }

    &--title-usuarios{
      font-size: 0.85rem;
      color: #808080;
      font-weight: 600;
    }

    &--check{
    //  display: ruby-text;
      display: -webkit-box;
      position: relative;
    }


    &--title-segmento{
      color: #808080;
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
      word-wrap: break-word
    }

    &--title-platano{
      color: #808080;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      word-wrap: break-word;
      width: fit-content;
      // width: -moz-fit-content;
      width: 70%;
      vertical-align: bottom;
    }

    &--title-email{
      font-size: 0.685rem;
      color: #808080;
    }

    .icon-check {
      color: #fff;
      background-color: #4bae4f;
      border-radius: 100%;
      padding: 0.25rem;
    }

    .icon-x{
      color: #fff;
      background-color: #dc3232;
      border-radius: 100%;
      padding: 0.25rem;
    }

    .btn-acoes{
      width: 1rem;
      padding: 0;
      padding: .7rem 0rem .7rem 1rem;
    }

    .btn-editar{
        color: #8AB925;
        font-weight: 500;
        font-size: 1.1rem;
        cursor: pointer;
        margin-top: .2rem;
    }

    .btn-excluir{
      color: #8AB925;
      margin-left: .4rem;
      font-weight: 500;
      font-size: 1.1rem;
      cursor: pointer;
      margin-top: .2rem;
    }

    &--pagination{
      display: inline-block;
      width: 100%;
      height: 3rem;

      .btn{
        color:#55782c;
        background-color: #fff;
        box-shadow: none;
        font-size: 2rem;

       & ::before {
          font-size: 1.5em;
      }
      }
    }

    .pagination-usuarios{
      position: absolute;
      width: 6rem;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--titulo{
      display: block;
      width: 100%;
      color: #808080;
      font-size: 21px;
      font-weight: 600;
      line-height: 26px;
      word-wrap: break-word;
      margin: 0 1rem 1.5rem .8rem;
    }
  }


  &__table-anos {
    // margin-top: $distance--xl;
     background-color: #fff;
     border: 1px solid #8AB925;
     border-radius: 0px 50px 0 50px;
     border-collapse: inherit;
     padding: 2rem 1.5rem;
     width: 100%;
     display: inline-table;
     color: #808080;
     font-weight: 600;
 
    
     
    
 
 
     &--name-usuarios,
     &--role,
     &--enabled,
     &--actions{
       color: #808080;
       font-size: 0.8rem;
       width: 10%;
       font-weight: 600;
       line-height: 15px;
       word-wrap: break-word;
       text-transform: none;
       // text-transform: capitalize;
 
       p{
         font-size: 0.75rem;
         font-weight: 400;
         color: #808080;
       }
 
       &__btn-group{
         @include media("<sm") {
           display: table-caption;
         margin-top: 4rem;
         }
   
       }
     }
 
     &--title-usuarios{
       font-size: 0.85rem;
       color: #808080;
       font-weight: 600;
     }
 
     &--check{
       display: -webkit-box;
       position: relative;
     }
 
 
     &--title-segmento{
       color: #808080;
       font-size: 16px;
       font-weight: 600;
       line-height: 26px;
       word-wrap: break-word
     }

     &--btn-all{
       color: #8AB925;
       background-color: white;
       border: solid 2px #8AB925;
       border-radius: 7px;
       font-size: 13px;
       font-weight: 500;
       text-align: center;
       padding: 0.5rem 2rem;
       width: 100%;

       &:hover{
          background-color: #8AB925;
          color: white;
          transition: 0.2s;
       }
     }
 
     &--title-platano{
       color: #808080;
       font-size: 14px;
       font-weight: 400;
       line-height: 26px;
       word-wrap: break-word;
      //  width: -moz-fit-content;
      //  width: -webkit-fill-available;
      //  vertical-align: bottom;

       width: fit-content;
       // width: -moz-fit-content;
       width: 70%;
       vertical-align: bottom;
     }

     &--title-table-pilar{
      color: grey;
      font-size: 17px;
      font-weight: 600;
      line-height: 30px;
      width: 20%;
      text-align: center;
      margin-bottom: 15px;
    }

    &--switch-pilar{
      display: flex;
      justify-content: center;
      width: 20%;
    }

    &--title-pilar{
      color: grey;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      width: 60%;
      text-transform: capitalize;
      margin: 2px 0px;
    }
 
     &--title-email{
       font-size: 0.685rem;
       color: #808080;
     }
 
     .icon-check {
       color: #fff;
       background-color: #4bae4f;
       border-radius: 100%;
       padding: 0.25rem;
     }
 
     .icon-x{
       color: #fff;
       background-color: #dc3232;
       border-radius: 100%;
       padding: 0.25rem;
     }
 
     .btn-acoes{
       width: 1rem;
       padding: 0;
       padding: .7rem 0rem .7rem 1rem;
     }
 
     .btn-editar{
         color: #8AB925;
         font-weight: 500;
         font-size: 1.1rem;
         cursor: pointer;
         margin-top: .2rem;
     }
 
     .btn-excluir{
       color: #8AB925;
       margin-left: .4rem;
       font-weight: 500;
       font-size: 1.1rem;
       cursor: pointer;
       margin-top: .2rem;
     }
 
     &--pagination{
       display: inline-block;
       width: 100%;
       height: 3rem;
 
       .btn{
         color:#55782c;
         background-color: #fff;
         box-shadow: none;
         font-size: 2rem;
 
        & ::before {
           font-size: 1.5em;
       }
       }
     }
 
     .pagination-usuarios{
       position: absolute;
       width: 6rem;
       bottom: -1%;
       left: 50%;
       transform: translate(-50%, -50%);
     }
 
     &--titulo{
      display: block;
      width: 100%;
      color: #808080;
      font-size: 21px;
      font-weight: 600;
      line-height: 26px;
      word-wrap: break-word;
      margin: 0 1rem 1.5rem .8rem;
     }
  }

  &__mass-enroll {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: $distance--md 0;
    counter-reset: section;

    &-step {
      //border: solid 2px red;
      
      width: 28px;
      height: 28px;
      position: relative;
      display: inline-block;
      border-radius: 50px;
      color: $white;
      padding: 5.5px 0px;
      font-size: 1rem;
      background-color: $blue-navy-60;
      font-weight: 600;
      text-align: center;
      
      &::before {
        counter-increment: section;
        content: counter(section);
        width: 100%;
        height: 100%;
        
      }
     
    }

    &-instructions {
      //border: solid red 2px;
      padding: 1.2rem;
      //width: max-content;
      display: flex;
      flex-direction: column;
      background-color: $warning-30;
      margin-top: 1rem;
      font-size: $font-size--sm;
      box-shadow: rgb(0 0 0 / 15%) 0px 3px 10px;
    }

  
    &-loader-container {

      position: absolute;
      height: 100%;
      width: 100%;
      background-color: transparentize($black, .10);
      z-index: 100;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: $shadow-1;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-flow: column;

      &> img {
        width: 80px;
        height: 80px;
      }

     }

     &-loader-message {
      color: $white;
      padding: 1rem;
     }


    &__header {

      //border: solid red 1px;
      width: auto;
      height: 10px;
      padding: 1rem 0 1.6rem 0;
      margin: 1rem 0 1rem 0;
      border-bottom: solid $gray-30 1px;

      &> span {
        font-size: $font-size--md;
        font-weight: 700;
        color: $default-green;
      }


    }

    &__list {
      overflow: auto;
      height: 40vh;
    }
  
  
  }

  &__steps {
    // align-items: center;
    // display: flex;
    // flex-direction: row;
    margin-top: $distance--lg;
  }

  &__step {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: $distance--xl;
    opacity: 0.5;

    &--is-active {
      opacity: 1;
    }
  }

  &__step-content {
    display: none;

    &--is-show {
      display: block;
    }
  }

  &__codes {
    width: 45%;
    display: inline-block;
    margin: 0 0rem auto 2rem;

    &--tits {
      font-size: 1rem;
      font-style: normal;
    }

    &--center{
      text-align: center;
    }

    &--left{
      text-align: left;
    }

    & table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #fff;

      & th,
      td {
        padding: 14px;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 0.9rem;
      }

      & td {
        font-size: 0.9rem;

        &.utilizado {
          background-image: url(../assets/img/check.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 15%;
        }
      }

      & tr:nth-child(even) {
        background-color: #eff8f8;
      }
    }

    
  }

  &__btn{
    &--label-usuarios{
      font-weight: normal;
      text-transform: lowercase;
      font-size: 0.87rem;

    }
  }

  &__filtro-anos{
    border-top: 1px solid #CFCFCF;

    &--tipo{
      display: ruby;

      @include media("<sm") {
        display: block;
        margin-left: 0 !important;
        margin-bottom: 1rem;
      }
    }

    &--subinfo{
      font-weight: 400;
    }
  }
}


