.l-card-list {
  $this: &;

  display: grid;
  gap: $distance--lg;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(4rem, 1fr));
}

.m-card-list {
  $this: &;

  display: flex;
  gap: $distance--md;
  flex-direction: column;
  // grid-template-columns: repeat(1, minmax(14rem, 1fr));
  // grid-template-rows: repeat(auto-fill, min(10rem));

}
