.l-dots-between {
  $this: &;

  $l-dots-between-gap: $distance--xs;
  $l-dots-between-gap--lg: $distance--lg;
  $l-dots-between-dot-color: $default-green;
  $l-dots-between-dot-size: 0.14rem;

  display: flex;
  flex-direction: column;
  gap: clamp(#{$l-dots-between-gap}, 2vw, #{$l-dots-between-gap--lg});

  @include media(">lg") {
    flex-direction: row;
  }

  .no-flexbox-gap &::before {
    margin-bottom: $distance--md;
    margin-top: $distance--md;

    @include media(">md") {
      margin: 0 $distance--md;
    }
  }

  //&::before {
   // background-image: radial-gradient(
    //  $l-dots-between-dot-color $l-dots-between-dot-size,
    //  transparent $l-dots-between-dot-size
   // );
   // background-position: top center;
   // background-repeat: repeat-y;
   // background-size: 1rem 1rem;
   // content: "";
   // flex: 0 0 auto;
   // order: 1;
   // width: $distance--md;
  //}

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 1rem;

    &--filter {

      select {
        border-radius: 10px;
        background-color: #fff;
        border: none;
        width: 185px;
        font-size: 14px;
        color: #808080;
        padding: 0 0.5rem 0 0.5rem;
        height: 1.5rem;
        
      }

      label {
        font-size: 14px;
        color: #808080;
        padding-right: 0.5rem;
      }

    }
  }

  &__side {
    flex: 0 0 25%;
    order: 0;

    @include media(">sm") {
      flex: 0 0 20%;
    }

    &__title-content {
      color: #808080;
    }
  
    &--conteudos {
      background-color: #fff;
      padding: 1.5rem;
      box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.039), -15px -15px 30px 0px rgba(0, 0, 0, 0.039);
      border-radius: 0 40px 0 40px;
      height: 100%;
      flex: 0 0 25%;
    }
  
  }



  &__content {
    flex: 1;
    order: 2;
  }

  &__livros {
    width: 100%;
    position: relative;
    margin-right: 1rem;
    display: inline-block;
    text-align: right;

    &--botao {
      display: inline-block;
      cursor: pointer;

      :hover {
        background-color: $blue-navy-70;
        color: $white;
      }

      &--is-active {
        background-color: $white;
        border-bottom: 0 solid transparent;

        color: $blue-navy-70;
        cursor: unset;
      }

      & div {
        background-color: #8bc63f;
        border-radius: 4px;
        color: #fff;
        font-size: 0.75rem;
        font-weight: 700;
        letter-spacing: 0.03em;
        margin-right: 0.5rem;
        padding: 0.5rem 1rem;
        text-transform: uppercase;

        & :hover {
          background-color: #1a2a2d;
          border-radius: 4px;
        }
      }

      @include media('<sm') {
        margin-top: 4rem;
      }
    }
  }

  &__ano {
    //  width: 50%;
    display: inline-block !important;
    position: absolute;
    left: 0;
  }

  // Usar essa classe para páginas
  // que precisam da coluna de apoio
  // após o conteúdo principal.
  &--is-flipped {
    #{$this}__side {
      order: 2;
    }
    #{$this}__content {
      order: 0;
    }
  }

  &__acompanhamento::before {
    display: none;
  }

  
}


