.l-dots-between {
  $this: &;

  $l-dots-between-gap: $distance--xs;
  $l-dots-between-gap--lg: $distance--lg;
  $l-dots-between-dot-color: $green-30;
  $l-dots-between-dot-size: .14rem;

  display: flex;
  flex-direction: column;
  gap: clamp(#{$l-dots-between-gap}, 2vw, #{$l-dots-between-gap--lg});

  @include media('>sm') {
    flex-direction: row;
  }

  &::before {
    background-image: radial-gradient($l-dots-between-dot-color $l-dots-between-dot-size, transparent $l-dots-between-dot-size);
    background-position: top center;
    background-repeat: repeat-y;
    background-size: 1rem 1rem;
    content: '';
    flex: 0 0 auto;
    order: 1;
    width: $distance--md;
  }

  &__side {
    flex: 0 0 25%;
    order: 0;

    @include media('>sm') {
      flex: 0 0 20%;
    }

  }

  &__content {
    flex: 1;
    order: 2;
  }

  // Usar essa classe para páginas
  // que precisam da coluna de apoio
  // após o conteúdo principal.
  &--is-flipped {
    #{$this}__side { order: 2; }
    #{$this}__content { order: 0; }
  }

}
