.l-timeline {

    // @include full-width-on-main;

    @include full-width-container;

    background-color: $green-60;
    background-image: linear-gradient(-115deg, transparentize($green-10, .6) 0%, transparentize($leaf-70, .2) 50%), url("/assets/img/fundo8.jpg");
    background-attachment: fixed, fixed;
    background-position: cover, cover;
    background-size: cover, cover;
    display: flex;
    justify-content: center;
    //max-width: none;
    padding: 0;

    >[class*='__section'] {
      margin-bottom: 0;
    }

    @include media('>sm') {
        padding-left: 15vw;
        margin-bottom: -$main-bottom-padding--sm;
        margin-top: -$main-top-padding--sm;
      }

      @include media('>md') {

        margin-bottom: -$main-bottom-padding--md;
        margin-top: -$main-top-padding--md;
      }

      @include media('>lg') {

        margin-bottom: -$main-bottom-padding--lg;
        margin-top: -$main-top-padding--lg;
      }

  }
