// Cabeçalho geral para todos os usuários do novo Programa Semente
.l-user-header {
  $this: &;

  margin-bottom: $distance--md;
  margin-top: 0;
  padding: $distance--sm;

  @include full-width-on-main;

  @include media('>sm') {
    margin-bottom: $distance--lg;
    margin-top: -$main-top-padding--sm;
    padding: $distance--md $distance--lg;
    padding: clamp(#{$distance--md}, 4vh, #{$distance--xl}) $distance--lg;
  }

  @include media('>md') {
    margin-top: -$main-top-padding--md;
    // padding: $distance--lg $distance--xl;
    padding-left: $distance--xl;
    padding-right: $distance--xl;
  }

  @include media('>lg') {
    margin-top: -$main-top-padding--lg;
    // padding: $distance--xl $distance--xxl;
    padding-left: $distance--xxl;
    padding-right: $distance--xxl;
  }

  @include media('>xl') {
    // padding: $distance--xl $distance--xxxl;
    padding-left: $distance--xxxl;
    padding-right: $distance--xxxl;
  }

  // Themmes
  &--themed {
    --text-color: #{$white};

    color: var(--text-color);
    position: relative;

    --dark: #{$gray-80};
    --light: #{$gray-20};

    background-image: linear-gradient(30deg, var(--dark), var(--light)) ;
    background-blend-mode: normal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    > * {
      position: relative;
      z-index: 2;
    }

    &::before {
      background-blend-mode: soft-light, normal;
      background-image: url(../assets/img/fundo8.jpg), linear-gradient(30deg, var(--dark), var(--light));
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      content: '';
      left: 0;
      opacity: .35;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    #{$this}__avatar {
      box-shadow: $shadow-long;
    }

  }

  &--responsavel {
    --dark: #{$gray-80};
    --light: #{$gray-20};
  }

  &--aluno {
    --dark:   #{$leaf-60};
    --light:  #{$green-20};

  }

  &--instrutor {
    --dark: #{$leaf-70};
    --light: #{$leaf-30};
  }

  &--admin {
    --dark: #{$blue-navy-70};
    --light: #{$blue-navy-30};
  }

  // Elements
  &__role {
    display: flex;
    font-size: $font-size--xxs;
    letter-spacing: $letter-spacing--md;
    margin-right: $distance--sm;
    opacity: 0.85;
    text-transform: uppercase;

    > * + * {
      margin-left: $distance--xxs;
    }

  }

}
