// BLOCK
// login

// ELEMENTS
//  __box
//  __logo
//  __form-group
//  __input
//  __forgot-pass
//  __cta
//  __alert
//  __show-pass

@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
$font-login: 'Signika', sans-serif;


.login {
    $this: &;
    font-family: $font-login;
    align-items: center;
    cursor: initial;
    display: flex;
    flex-direction: row;
    min-height: 100vh; // não provoca scroll (opondo-se aa height: 100vh) e evita espaços em branco qdo scrollamos com o input em :focus (opondo-se a height: 100%).
    justify-content: flex-end;
    width: 100%;

    @include target-ie {
        height: 100%;
    }

    // @include media('>sm') {
    //     justify-content: center;
    //     padding: 0 5%;
    // }

    &__box {
        background-color: $white;
        border-radius: $radius;
        box-shadow: 0 0 1em #4646465e;
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 100vh;
        max-width: 54vw;
        padding: $distance--sm $distance--sm $distance--md;

        @include media('>sm') {
            padding: $distance--md $distance--sm;
        }

        @include media('>sm') {
            padding: $distance--md $distance--md $distance--md;
        }

        @include media('>lg') {
            padding: 2rem 8rem;
        }
    }

 /*   &__logo {
        align-self: center;
        display: inline-block;
        height: auto;
        max-height: 64px;
        margin: $distance--md auto;
    }*/

    &__logo2021 {
        align-self: center;
        display: inline-block;
        height: auto;
        max-height: 64px;
        margin: $distance--md auto;
        text-align: center;
    }

    &__logo-centralizada{
        max-width: 8.5rem;
    }

    &__form-group {
        margin-bottom: $distance--sm;
        margin-top: $distance--sm;

        & + & {
            margin-top: $distance--sm;
        }

    }

    &__input {
        max-width: 100%;
        padding: $distance--xs $distance--sm;
        width: 18rem;
        border: 0px;
        border-bottom: 1px solid;
        background-color: $white;


        @include media('>sm') {
            width: 24rem;
        }
    }

    &__forgot-pass {
        align-self: flex-start;
        color: $gray-50;
        display: inline-block;
        margin-top: $distance--xs;
        text-decoration: underline;
    }

    &__cta {
        align-self: center;
        margin-top: $distance--sm;
        background-color: #f2ffe1;

        @include media('>sm') {
            margin-top: $distance--md;
        }

    }

    &__alert {
        margin-top: $distance--xs;

        @include media('>sm') {
            margin-top: $distance--md;
        }

    }

    &__show-pass {
        $size: $input-height;
        color: #95d6b5;
        font-size: $font-size--md;
        height: $size;
        overflow: hidden;
        position: absolute;
        right: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        width: $size;

        > * {
            align-items: center;
            display: inline-flex;
            bottom: 0;
            left: 0;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 0;
            transition: 300ms;

            &:not([class*='off']) {
                transform: translateY(-120%);
            }

        }

        &--is-show > * {
            &:not([class*='off']) {
                transform: translateY(0%);
            }

            &[class*='off'] {
                transform: translateY(120%);
            }
        }

    }

}
