.main {
  $this: &;
  $container-diff: 8rem;

  background-color: $white;
  border-color: $gray-10;
  border-style: solid;
  border-width: 0 1px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  padding: $main-top-padding $h-padding--xs $main-bottom-padding;
  position: relative;
  width: 100%;

  @include media('>sm') {
    $temp: map-get($breakpoints, sm);

    max-width: calc(#{$temp} + #{$container-diff});
    padding: $main-top-padding--sm $h-padding--sm $main-bottom-padding--sm;
  }

  @include media('>md') {
    $temp: map-get($breakpoints, md);

    max-width: calc(#{$temp} + #{$container-diff});
    padding: $main-top-padding--md $h-padding--md $main-bottom-padding--md;
  }

  @include media('>lg') {
    $temp: map-get($breakpoints, lg);

    max-width: calc(#{$temp} + #{$container-diff});
    padding: $main-top-padding--lg $h-padding--lg $main-bottom-padding--lg;
  }

  &--highlight {
    padding-top: 0;
  }

  &__back {
    margin-left: -$distance--sm;
  }

  &__header {

    @include media('>sm') {
      $size: $h-padding--sm;

      margin-left: (-$size);
      margin-right: (-$size);
      padding-left: $size;
      padding-right: $size;
      padding-top: 0;
    }

    @include media('>md') {
      $size: $h-padding--md;

      margin-left: (-$size);
      margin-right: (-$size);
      padding-left: $size;
      padding-right: $size;
    }

    @include media('>lg') {
      $size: $h-padding--lg;

      margin-left: (-$size);
      margin-right: (-$size);
      padding-left: $size;
      padding-right: $size;
    }

    &--has-side-info {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: $distance--sm;
      justify-content: space-between;

      @include media('>sm') {
        align-items: flex-end;
        flex-direction: row;
      }


    .no-flexbox-gap & {
      > *:not(:first-child) {
        margin-left: $distance--sm;
      }
    }

    }

    &--no-margin {
      margin-bottom: 0;
    }

  }

  &__search {
    margin-bottom: $distance--xl;
  }

  &__title {
    @include title-1;

    display: table;
    margin-bottom: $distance--xl;
    margin-right: auto;

    @include media('>sm') {
      margin-bottom: calc(#{$distance--xxl} + 1vw);
    }

    &:not(:first-child) {
      margin-top: $distance--md;
    }

    [class*='main__header'] & {
      margin-bottom: 0;
    }

    >[class*='icon'] {
      color: $lemon-60;
      margin-right: $distance--sm;
    }

  }

  &__subtitle {
    @include title-2;

    line-height: 1.3;
    // margin-bottom: $distance--xl;
    // margin-top: $distance--xl;

    &--timeline {
      background-color: $gray-0;
      border: 2px solid currentColor;
      border-radius: $radius--capsule;
      color: $white;
      color: $lemon-60;
      display: block;
      display: none;
      font-size: 3rem;
      font-weight: 900;
      letter-spacing: $letter-spacing--md;
      margin: $distance--md auto $distance--super;
      padding-bottom: $distance--xs;
      padding-top: $distance--xs;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      max-width: 8em;
      z-index: 2;
    }

  }

  &__subsubtitle {
    @include title-3;

    margin-bottom: $distance--sm;
  }

  &__aux-title {
    @include title-aux;

    display: block;
    margin-top: $distance--md;
  }

  &__section {
    margin-bottom: $distance--xxxl;
    position: relative;
    z-index: 1;
  }

  &__subsection {

    &:not(:first-of-type) {
      margin-top: $distance--xxxl;
    }

    >* {
      margin-bottom: $distance--xxl;
    }

  }


  //Modificadores
  [class*="--in-course"] & {
    height: 100%;
    max-width: 100%;
    padding: 0;
  }

}
