@mixin icon-placeholder {
    box-shadow: 0 0 5px $color-black;
    color: $color-white;
    filter: blur(5px);
    font-size: 800px;
    left: 0;
    opacity: .1;
    position: absolute;
    top: 0;
}

.main {
    $this: &;
    $container-diff: 6rem;

    background-color: #fff;
    border-color: #ced9d1;
    border-style: solid;
    border-width: 0 1px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: $distance--xs $h-padding--xs;
    position: relative;
    width: 100%;

    @include media('>sm') {
        $temp: map-get($breakpoints, sm);

        max-width: $temp + $container-diff;
        padding: $distance--xxl $h-padding--sm $distance--md;
    }

    @include media('>md') {
        $temp: map-get($breakpoints, md);

        max-width: $temp + $container-diff;
        padding: $distance--xxl $h-padding--md $distance--md;
    }

    @include media('>lg') {
        $temp: map-get($breakpoints, lg);

        max-width: $temp + $container-diff;
        padding: $distance--xxl $h-padding--lg $distance--md;
    }

    &--highlight {
        display: flex;
        flex-direction: row;
        // height: calc(100% - #{$header-height});
        height: calc(100vh - (3 * #{$header-height}));
        max-width: none;
        padding: 0;
    }


    &--timeline {
        // background-image: linear-gradient(-30deg, $lemon-60, $lemon-30 80%, $lemon-10);
        // background-image: linear-gradient(-30deg, $gray-20, $gray-5 80%, $gray-0);
        background-color: $blue-navy-50;
        background-image: linear-gradient(-30deg, $blue-navy-60, $blue-navy-50 65%, $blue-navy-20 96%);
        max-width: none;

        &::before {
            background-color: $lemon;
            content: '';
            height: 100%;
            opacity: .85;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            width: 3px;
        }

    }

    &__header {
        margin: 0 (-$h-padding--xs) $distance--sm;
        padding: $distance--md $distance--xs $distance--sm;

        @include media('>sm') {
            margin-left: (-$h-padding--sm);
            margin-right: (-$h-padding--sm);
            padding-left: $h-padding--sm;
            padding-right: $h-padding--sm;
        }

        @include media('>md') {
            margin-left: (-$h-padding--md);
            margin-right: (-$h-padding--md);
            padding-left: $h-padding--md;
            padding-right: $h-padding--md;
        }

        @include media('>lg') {
            margin-left: (-$h-padding--lg);
            margin-right: (-$h-padding--lg);
            padding-left: $h-padding--lg;
            padding-right: $h-padding--lg;
        }

        @include media('>xl') {
            margin-bottom: $distance--xxl;
        }

        &--has-side-info {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;

            @include media('>sm') {
                align-items: flex-end;
                flex-direction: row;
            }

        }

        &--no-margin {
            margin-bottom: 0;
        }

    }

    &__title {
        @include title-1;

        color: $color-gray--darkest;
        display: table;
        margin-bottom: $distance--xl;
        margin-right: auto;

        @include media('>sm') {
            margin-bottom: calc(#{$distance--xxl} + 1vw);
        }

        &:not(:first-child) {
            margin-top: $distance--md;
        }

        [class*='main__header'] & {
            margin-bottom: 0;
        }

    }

    &__subtitle {
        @include title-2;

        line-height: 1.4;
        margin-bottom: $distance--md;
        margin-top: $distance--md;

        &--timeline {
            background-color: $gray-0;
            // background-color: $lemon-60;
            // background-image: linear-gradient(to top, $green-30, $lemon-60 25%, $lemon-40 60%, $lemon-30 90%);
            border: 2px solid currentColor;
            border-radius: $radius--capsule;
            // box-shadow: 0 15px 50px transparentize($lemon-50, .4);
            color: $color-white;
            color: $lemon-40;
            display: block;
            display: none;
            font-size: 3rem;
            font-weight: 900;
            letter-spacing: $letter-spacing--md;
            margin: $distance--md auto $distance--super;
            padding-bottom: $distance--xs;
            padding-top: $distance--xs;
            position: relative;
            text-align: center;
            // text-shadow: 0 3px 2px $green-40;
            text-transform: uppercase;
            max-width: 8em;
            z-index: 2;
        }

    }

    &__subsubtitle {
        @include title-3--alt;

        margin-bottom: $distance--sm;
    }

    &__aux-title {
        @include title-aux;

        display: block;
        margin-top: $distance--md;
    }

    &__section {
        margin-bottom: $distance--xxxl;
    }

    &__subsection:not(:first-of-type) {
        margin-top: $distance--xxxl;
    }

    &__icon-1 {
        @include icon-placeholder;

        transform: rotate(-30deg);
    }

    &__icon-2 {
        @include icon-placeholder;

        left: 50%;
        top: 50%;
        transform: rotate(30deg) scale(1.2);
    }

}
