.people {
    $this: &;

    &__header {
        align-items: center;
        border-bottom: 1px solid $gray-10;
        display: flex;
        flex-direction: row;
        padding-bottom: $distance--lg;

        > *:not(:first-child) {
            margin-left: $distance--lg;
        }

    }

}