.self-registration {
  flex: 1;
  position: relative;

  &__title {
    $v-padding: .75em;

    border-left: 4px solid transparentize($color: $green-10, $amount: .5);
    margin-left: $distance--xs;
    padding-bottom: $v-padding;
    padding-left: $distance--sm;
    padding-top: $v-padding;

    @include media('>md') {
      margin-left: $distance--md;
      padding-left: $distance--lg;
    }

  }

  &__graphism {
    display: none;

    @include media('>md') {
      background-color: $green-0;
      border-radius: 50%;
      bottom: 0;
      display: block;
      height: 30vw;
      position: absolute;
      right: 5%;
      width: 30vw;
    }

  }

  &__img {
    display: none;

    @include media('>md') {
      bottom: 0;
      display: block;
      max-width: 42vw;
      position: absolute;
      right: -5%;
    }

  }

  &__input {
    flex: 0 0 auto;
    height: 4rem;
    width: 100%;

    @include media('>md') {
      font-size: 3rem;
      height: 8rem;
      flex: 0 0 auto;
      max-width: 28rem;
      padding-left: 1em;
      padding-right: 1em;
      text-transform: uppercase;
      width: 100%;
    }
  }

}