.timeline {
  $this: &;
  $start-unit-margin-top: 36vh;
  $start-unit-bottom-correction: $start-unit-margin-top / 2;
  $base-margin-top: 10vh;

  @mixin timeline-marks {
    background-color: $timeline-marks-bg-color;
    border: 2px solid $timeline-marks-border-color;
    border-radius: $timeline-marks-radius;
    box-shadow: $timeline-marks-shadow;
    color: $timeline-marks-color;
  }

  background-image: linear-gradient($timeline-color, $timeline-color);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 2px 100%;
  padding-bottom: $distance--xxl;
  padding-top: $distance--xxl;
  text-align: left;

  &__begin,
  &__end {
    ///////////
    display: none;
    ///////////

    @include title-aux($color: $gray-60, $weight: bolder);

    background-color: $timeline-begin-end-bg-color;
    border-radius: $radius;
    box-shadow: 0 0 40px transparentize($black, .5);
    margin-left: $timeline-translation;
    padding: $distance--sm $distance--md;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;

    @include media('>lg') {
      // transform: translateX(-50%);
    }

    &::before {
      border-color: transparent $timeline-begin-end-bg-color transparent transparent;
      border-style: solid;
      border-width: $timeline-tip-size * .75;
      content: '';
      display: block;
      height: 0;
      right: 100%;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 9999;
    }

    &::after {
      $size: 12px;

      @include timeline-marks;

      content: '';
      height: $size;
      position: absolute;
      right: calc(100% + #{$timeline-translation});
      top: 50%;
      transform: translate(50%, -50%);
      width: $size;
    }

  }

  &__line {
    z-index: 1;
  }

  &__mark {

    margin-top: $base-margin-top;
    position: relative;

    @include media('>sm') {
      max-width: 80%;
    }

    @include media('>md') {
      margin-top: 33vh;
      max-width: 50vw;
    }

    &--start-unit {
      margin-top: $base-margin-top;

      @include media('>md') {
        margin-top: $start-unit-margin-top;
      }

    }

    &:first-child {
      margin-top: $distance--super;
    }

    &:last-child {
      margin-bottom: $distance--super;
    }

  }

  &__date-block {
    background-color: $gray-10;
    margin-left: $timeline-translation;
    padding: $distance--xs $distance--md;

    @include media('>lg') {
      background-color: $timeline-date-bg-color;
      border: none;
      color: $timeline-date-color;
      margin-left: 0;
      padding: $distance--md;
      position: absolute;
      right: calc(100% + #{$timeline-gap});
      top: 50%;
      transform: translateY(-50%);
      width: auto;
    }

  }

  &__end-class {
    // @include timeline-marks;

    background-color: $timeline-begin-end-bg-color;
    border-radius: $radius;
    box-shadow: 0 0 40px transparentize($black, .5);
    bottom: 100%;
    display: none;
    font-size: $font-size--xxs;
    font-weight: 600;
    margin-left: $timeline-translation;
    margin-top: $distance--lg;
    padding: $distance--sm $distance--lg;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(calc(-#{$base-margin-top/2} + 50%));
    white-space: nowrap;

    @include media('>md') {
      bottom: calc(100% + #{$start-unit-bottom-correction});
      right: 100%;
      position: absolute;
      transform: translate(50%, 50%);
    }

    [class*='--start-unit'] & {
      align-items: center;
      display: flex;
      flex-direction: row;
    }

  }

  &__class {
    background-color: $timeline-mark-info-bg-color;
    margin-left: $timeline-translation;
    padding: $distance--md;

    &::before {
      border-color: transparent $timeline-mark-info-bg-color transparent transparent;
      border-style: solid;
      border-width: $timeline-tip-size;
      content: '';
      // display: none;
      height: 0;
      right: calc(100% - #{$timeline-translation});
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 9999;

      @include media('>md') {
        display: block;
      }

    }

  }

  &__status {
    @include timeline-marks;

    align-items: center;
    display: flex;
    flex: 0 0 auto;
    font-size: $font-size--xs;
    height: $timeline-status-size;
    justify-content: center;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $timeline-status-size;
    z-index: 3;

    @include media('>lg') {
      left: auto;
      right: 100%;
      top: 50%;
      transform: translate(50%, -50%);
    }

    &--is-locked {
      @include text-contrast($timeline-marks-bg-color--locked);

      background-color: $timeline-marks-bg-color--locked;
    }

  }

    &__inner-nav {
      background-color: transparentize($color: $blue-navy-70, $amount: .4);
      border-radius: $radius;
      box-shadow: 0 0 24px transparentize($color: $blue-navy-70, $amount: .4);
      padding: 1rem;
      position: fixed;
      right: $distance--xl;

      li + li {
        border-top: 1px solid transparentize($color: $white, $amount: .85);
        padding-top: $distance--xs;
      }
    }


}
