.timeline {
  $this: &;
  
  $line-color: $blue-navy-50;
  $line-main-steps-center: $lemon-30;
  $line-main-steps-background: $line-color;
  $line-main-steps-background-gradient: linear-gradient(to top, $lemon-40, $lemon-5);

  $date-bg-color: $color-white;
  $status-border-color: $date-bg-color;

  background-image: linear-gradient($line-color, $line-color);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 3px 100%;
  padding-top: $distance--xxl; 
  text-align: center;

  &__begin,
  &__end {
      background-color: $line-main-steps-background;
      background-image: $line-main-steps-background-gradient;
      border-radius: $radius--md;
      box-shadow: 0 0 40px transparentize($color-black, .5);
      color: $gray-50;
      display: inline-block;
      font-size: 1.25em;
      font-weight: 600;
      letter-spacing: $letter-spacing--lg;
      padding: $distance--xs $distance--md;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      z-index: 2;
  }

  &__line {
    z-index: 1;
  }

  &__mark {
    background-color: $blue-navy-30;
    position: relative;

    @include media('>sm') {
      margin-left: auto;
      margin-right: auto;
      max-width: 80%;
    }

    @include media('>md') {
      background-color: transparent;
      max-width: 100%;
    }

    &:first-child {
      margin-top: $distance--super;
    }

    &:last-child {
      margin-bottom: $distance--super;
    }

    &:not(:first-child) {
      margin-top: 20vh;
    }

    &--start-unit {
        $start-unit-margin-top: 36vh;
        $start-unit-bottom-correction: $start-unit-margin-top / 3 ;
        
        margin-top: $start-unit-margin-top;

      &::after {
        background-color: $line-main-steps-background;
        background-image: $line-main-steps-background-gradient;
        border-radius: $radius--md;
        bottom: calc(100% + #{$start-unit-bottom-correction});
        box-shadow: 0 0 80px $gray-60;
        color: $gray-50;
        content: 'Fim da unidade';
        font-weight: 600;
        left: 50%;
        letter-spacing: $letter-spacing--lg;
        padding: $distance--xs $distance--xl;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        transform: translate(-50%, 50%);
      }

    }


    &:nth-child(2n+2) {

      [class*='__img'] {
        box-shadow: $shadow-h-r-4;
        left: auto;
        right: -3%;
      }

      [class*='__class'] {

        @include media('>md') {
          align-items: flex-start;
          box-shadow: 10px 0 20px transparentize($blue-navy-60, .1);
          margin-left: calc(50% + #{$distance--md});
          margin-right: auto;
          text-align: left;
        }  
        
        &::before {
          border-color: transparent $color-white transparent transparent;
          left: auto;
          right: 100%;
        }
        
      }

      [class*='__date'] {
        left: auto;
        right: calc(50% + #{$distance--md});
        
        @include media('>md') {
          padding: $distance--sm $distance--sm $distance--sm $distance--super;
        }

        &::before {
          border-color: transparent transparent transparent $date-bg-color;
          left: 100%;
          right: auto;
        }

      }

      @include media('>md') {
        
        [class*='__status'] {
          box-shadow: -10px 0 20px transparentize($blue-navy-60, .1);
          left: -3%;
          // right: 100%;
          // transform: translate(50%, -50%);
        }

      }
      
    }

  }

  &__class {
    background-color: $color-off-white;
    box-shadow: -10px 0 20px transparentize($blue-navy-60, .1);
    margin-left: auto;
    margin-right: calc(50% + #{$distance--md});
    padding: 0 $distance--sm $distance--md $distance--sm;

    @include media('>md') {
      border-radius: $radius--md;
      padding: $distance--md $distance--lg;
    }

    &::before {
      border-color: transparent transparent transparent $color-white;
      border-style: solid;
      border-width: 1rem;
      content: '';
      display: none;
      height: 0;
      left: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @include media('>md') {
        display: block;
      }

    }

  }

  &__indicator {
    $size: 25px;

    background-color: $line-main-steps-center;
    border-radius: $radius--capsule;
    border: 8px solid $line-main-steps-background;
    box-shadow: 0 0 40px transparentize($line-main-steps-background, .1);
    height: $size;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: $size;

    @include media('>md') {
      top: 50%;
    }

  }

  &__date {
    align-items: center;
    background-color: $date-bg-color;
    box-shadow: 10px 0 20px transparentize($blue-navy-60, .1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: $font-size--lg;
    justify-content: center;
    line-height: 1;
    padding: $distance--xl $distance--xl $distance--md $distance--sm;
    text-align: center;
    text-transform: uppercase;
    
    @include media('>md') {
      border-radius: $radius--md;
      justify-content: initial;
      left: calc(50% + #{$distance--md});
      padding: $distance--sm $distance--super $distance--sm $distance--sm;
      position: absolute;
      right: auto;
      text-align: initial;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      border-color: transparent $date-bg-color transparent transparent;
      border-style: solid;
      border-width: 1rem;
      content: '';
      display: none;
      height: 0;
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);

      @include media('>md') {
        display: block;
      }

    }

  }

  &__status {
    $size: $distance--xxl * 1.25;

    @include text-contrast($color-success);

    align-items: center;
    background-color: $color-success;
    background-color: $blue-navy-60;
    border-radius: $radius;
    // border: 4px solid $status-border-color;
    box-shadow: 0 0 20px transparentize($blue-navy-60, .5);
    color: $color-white;
    color: $lemon-30;
    display: flex;
    font-size: $font-size--sm;
    height: $size;
    justify-content: center;
    left: 50%;
    line-height: 1;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    width: $size;
    z-index: 2;

    @include media('>md') {
      box-shadow: 10px 0 20px transparentize($blue-navy-60, .1);
      left: auto;
      right: -8%;
      top: -10%;
      transform: translate(0, 0);
      
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
    }

    &--is-locked {
      @include text-contrast($gray-30);
      
      background-color: $gray-30;
    }

  }

  &__day {

    @include media('>md') {
      font-size: 1.25em;
      letter-spacing: $letter-spacing--xxs;
      margin-right: $distance--xxs;
    }

  }

}
