.timeline {
  $this: &;

  background-image: linear-gradient($timeline-color, $timeline-color);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 2px 100%;
  padding-top: $distance--xxl;
  text-align: left;

  &__begin,
  &__end {
    @include title-aux($color: $color-gray--darkest);

    background-color: $timeline-color;
    border-radius: $radius--md;
    box-shadow: 0 0 40px transparentize($color-black, .5);
    padding: $distance--sm $distance--md;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%);
    z-index: 2;
  }

  &__line {
    z-index: 1;
  }

  &__mark {
    margin-top: 33vh;
    position: relative;

    @include media('>sm') {
      max-width: 80%;
    }

    @include media('>md') {
      max-width: 960px;
    }

    &:first-child {
      margin-top: $distance--super;
    }

    &:last-child {
      margin-bottom: $distance--super;
    }

    &--start-unit {
      $start-unit-margin-top: 36vh;
      $start-unit-bottom-correction: $start-unit-margin-top / 3;

      margin-top: $start-unit-margin-top;

      &::after {
        background-color: $timeline-main-steps-background;
        background-image: $timeline-main-steps-background-gradient;
        border-radius: $radius--md;
        bottom: calc(100% + #{$start-unit-bottom-correction});
        box-shadow: 0 0 80px $gray-60;
        color: $gray-50;
        content: 'Fim da unidade';
        font-weight: 600;
        left: 0;
        letter-spacing: $letter-spacing--lg;
        padding: $distance--xs $distance--xl;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        transform: translate(0, 50%);
      }

    }

  }

  &__class {
    $tip-size: 1rem;
    $translation: $timeline-gap + $tip-size;

    margin-left: $translation;
    // position: relative;

    &::before {
      border-color: transparent $timeline-mark-bg transparent transparent;
      border-style: solid;
      border-width: $tip-size;
      content: '';
      display: none;
      height: 0;
      right: calc(100% - #{$translation});
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 9999;

      @include media('>md') {
        display: block;
      }

    }

  }

  &__status {
    align-items: center;
    background-color: $leaf-60;
    border: 2px solid $timeline-color;
    border-radius: $radius--capsule;
    box-shadow: $shadow-3;
    color: $color-white;
    display: flex;
    font-size: $font-size--xs;
    height: $timeline-status-size;
    justify-content: center;
    line-height: 1;
    width: $timeline-status-size;
    z-index: 3;

    @include media('>md') {
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translate(50%, -50%);
    }

    &--is-locked {
      $bg: $gray-30;

      @include text-contrast($bg);

      background-color: $bg;
    }

  }


}
