.timeline {
  $this: &;
  $start-unit-margin-top: 36vh;
  $start-unit-bottom-correction: $start-unit-margin-top / 2;
  $base-margin-top: 10vh;

  @mixin timeline-marks {
    background-color: $leaf-60;
    border: 2px solid $timeline-color;
    border-radius: $radius--capsule;
    box-shadow: $shadow-3;
    color: $white;
  }

  background-image: linear-gradient($timeline-color, $timeline-color);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 2px 100%;
  padding-bottom: $distance--xxl;
  padding-top: $distance--xxl;
  text-align: left;

  &__begin,
  &__end {
    @include title-aux($color: $gray-60);

    background-color: $timeline-main-steps-background;
    // background-image: $timeline-main-steps-background-gradient;
    border-radius: $radius;
    box-shadow: 0 0 40px transparentize($black, .5);
    margin-left: $timeline-translation;
    padding: $distance--sm $distance--md;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;

    @include media('>lg') {
      // transform: translateX(-50%);
    }

    &::before {
      border-color: transparent $timeline-main-steps-background transparent transparent;
      border-style: solid;
      border-width: $timeline-tip-size * .75;
      content: '';
      display: block;
      height: 0;
      right: 100%;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 9999;
    }

  }

  &__line {
    z-index: 1;
  }

  &__mark {

    margin-top: $base-margin-top;
    position: relative;

    @include media('>sm') {
      max-width: 80%;
    }

    @include media('>md') {
      margin-top: 33vh;
      max-width: 960px;
    }

    &--start-unit {
      margin-top: $base-margin-top;

      @include media('>md') {
        margin-top: $start-unit-margin-top;
      }

    }

    &:first-child {
      margin-top: $distance--super;
    }

    &:last-child {
      margin-bottom: $distance--super;
    }

  }

  &__end-class {
    @include timeline-marks;

    box-shadow: 0 0 80px $gray-60;
    bottom: 100%;
    content: 'Fim da unidade';
    display: none;
    font-size: $font-size--xxs;
    font-weight: 600;
    margin-left: $timeline-translation;
    margin-top: $distance--lg;
    padding: $distance--sm $distance--lg;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(calc(-#{$base-margin-top/2} + 50%));
    white-space: nowrap;

    @include media('>md') {
      bottom: calc(100% + #{$start-unit-bottom-correction});
      right: 100%;
      position: absolute;
      transform: translate(50%, 50%);
    }

    [class*='--start-unit'] & {
      align-items: center;
      display: flex;
      flex-direction: row;
    }

  }

  &__class {
    margin-left: $timeline-translation;

    &::before {
      border-color: transparent $timeline-mark-bg transparent transparent;
      border-style: solid;
      border-width: $timeline-tip-size;
      content: '';
      // display: none;
      height: 0;
      right: calc(100% - #{$timeline-translation});
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 9999;

      @include media('>md') {
        display: block;
      }

    }

  }

  &__status {
    @include timeline-marks;

    align-items: center;
    display: flex;
    flex: 0 0 auto;
    font-size: $font-size--xs;
    height: $timeline-status-size;
    justify-content: center;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $timeline-status-size;
    z-index: 3;

    @include media('>lg') {
      left: auto;
      right: 100%;
      top: 50%;
      transform: translate(50%, -50%);
    }

    &--is-locked {
      $bg: $gray-30;

      @include text-contrast($bg);

      background-color: $bg;
    }

  }


}
