{{#if (equalstr type 'modulo')}}
    {{!-- <div style="display: none;">{{value}}</div> --}}
    {{#if (equalstr itens_completos total)}}
         <button class="card__cta btn btn--xs">Rever percurso</button>
    {{else if (equalstr value 0)}}
        <button class="card__cta btn btn--xs">Iniciar percurso</button>
    {{else}}
         <button class="card__cta btn btn--xs">Continuar percurso</button>
    {{/if}}

{{/if}}