<div>
  <div class="privacy__wrapper">
    <h1>Introdução</h1>

    

    <p>Este documento tem por finalidade demonstrar nossa lisura e compromisso com relação à
      proteção de seus dados pessoais. Ao longo das próximas páginas, explicaremos como suas
      informações são coletadas, quais são estas informações, o que fazemos com
      elas, quais são seus direitos e como eles podem ser exercidos.</p>

    

    <h1>Quais dados meus são coletados?</h1>

    

    <p>Para que consigamos operacionalizar sua conta em nossas plataformas, é preciso que alguns dados sejam
      coletados, alguns são obrigatórios e outros opcionais. Nós coletamos apenas dados que julgamos
      imprescindáveis à prestação dos nossos serviços.</p>

    <p>Na tabela abaixo, informamos quais são esses dados, qual sua obrigatoriedade, qual sua finalidade e em quais
      plataformas são utilizados:</p>

    

    <p>Pessoais manuais:</p>

<div class="grid-wrapper">
  <div class="grid-container">
    <div class="grid-column">Dado</div>
    <div class="grid-column">Descrição</div>
    <div class="grid-column">Obrigatório?</div>
    <div class="grid-column">Obs.</div>
    <div class="grid-column">Finalidade</div>
    <div class="grid-column">Plataformas onde é utilizado</div>
    
    <div class="line">
      <div><strong>Nome</strong></div>
      <div>Seu nome completo</div>
      <div>Sim</div>
      <div>-</div>
      <div>Identificá-lo de forma inteligível no sistema</div>
      <div>Plataforma Semente; Programa Semente FP; Plataforma S</div>


      <div><strong>E-mail</strong></div>
      <div>Seu e-mail</div>
      <div><em>Condicional</em></div>
      <div>Na Plataforma Semente, é obrigatório se um telefone não foi informado. Nas demais plataformas não é obrigatório.</div>
      <div>Possuir uma forma de contato, seja para comunicação direta entre a Semente Educação e você ou para envio de e-mails transacionais, como por exemplo resgate de senha.</div>
      <div>Plataforma Semente; Programa Semente FP; Plataforma S</div>
  
      <div><strong>Data de nascimento</strong></div>
      <div>Sua data de nascimento</div>
      <div><em>Não</em></div>
      <div>-</div>
      <div>Ajudar na qualificação quanto à correspondência com o perfil (aluno, professor, etc.) e para possíveis "recortes" em geração de relatórios com a finalidade de análises (Ex.: Ver a faixa etária que mais acessa a plataforma)</div>
      <div>Plataforma Semente; Plataforma S</div>

      <div><strong>Gênero</strong></div>
      <div>Seu gênero</div>
      <div><em>Condicional</em></div>
      <div>Obrigatório na Plataforma Semente e na Plataforma S</div>
      <div>Utilizado para possíveis "recortes" em geração de relatórios com a finalidade de análises (Ex.: Ver qual gênero acessa mais qual aula). Na Plataforma S é pré-requisito para enquadramento do resultado, onde sua percepção é balizada com uma base contendo pessoas com o mesmo gênero que você.</div>
      <div>Plataforma Semente; Plataforma S</div>

      <div><strong>Telefone</strong></div>
      <div>Seu telefone celular</div>
      <div><em>Condicional</em></div>
      <div>Na Plataforma Semente, é obrigatório se um e-mail não foi informado. Nas demais plataformas não é obrigatório.</div>
      <div>Possuir uma forma de contato, seja para comunicação direta entre a Semente Educação e você ou para resgate de senha via SMS.</div>
      <div>Plataforma Semente</div>

      <div><strong>Nome de responsável 1</strong></div>
      <div>Nome completo de um primeiro responsável</div>
      <div>Sim</div>
      <div>-</div>
      <div>Identificar pelo menos um responsável por cada aluno de forma inteligível.</div>
      <div>Plataforma Semente</div>

      <div><strong>E-mail de responsável 1</strong></div>
      <div>E-mail de um primeiro responsável</div>
      <div>Sim</div>
      <div>-</div>
      <div>Possuir uma forma de contato, seja para comunicação direta entre a Semente Educação e você ou para envio de e-mails transacionais, como por exemplo aviso de ganho de acesso à nossa plataforma e cursos para adultos. Fornecer acesso à Plataforma Semente para que possam acompanhar os materiais utilizados nas aulas presenciais/híbridas de dependentes que estejam no Ensino Intantil ou Fundamental 1.</div>
      <div>Plataforma Semente</div>

      <div><strong>Nome de responsável 2</strong></div>
      <div>Nome completo de um segundo responsável</div>
      <div>Não</div>
      <div>-</div>
      <div>Identificar um segundo responsável por cada aluno de forma inteligível.</div>
      <div>Plataforma Semente</div>

      <div><strong>E-mail de responsável 2</strong></div>
      <div>E-mail de um segundo responsável</div>
      <div>Não</div>
      <div>-</div>
      <div>Possuir uma forma de contato, seja para comunicação direta entre a Semente Educação e você ou para envio de e-mails transacionais, como por exemplo aviso de ganho de acesso à nossa plataforma e cursos para adultos. Fornecer acesso à Plataforma Semente para que possam acompanhar os materiais utilizados nas aulas presenciais/híbridas de dependentes que estejam no Ensino Intantil ou Fundamental 1.</div>
      <div>Plataforma Semente</div>

      <div><strong>Ano ou Série</strong></div>
      <div>Ano ou série em que o aluno se encontra ou nos quais um professor aplica o programa</div>
      <div>Sim</div>
      <div>Apenas para alunos e professores aplicadores do programa</div>
      <div>Prover os materiais e aulas adequados ao aluno ou professor, de acordo com seu(s) ano(s) ou série(s)</div>
      <div>Plataforma Semente; Plataforma S</div>

      <div><strong>Turma</strong></div>
      <div>Turma do aluno</div>
      <div>Sim</div>
      <div>Apenas para alunos</div>
      <div>Segmentar os alunos a fim de prover melhores dados de acompanhamento aos professores, coordenadores e gestores das escolas.</div>
      <div>Plataforma Semente; Plataforma S</div>
  </div>
  </div>
</div>    

   

    

    <h2>Pessoais automáticos:</h2>

    <p>Durante sua experiência nas plataformas, alguns dados podem ser coletados de forma automática para
      fins de segurança, rastreabilidade. Estes dados também servem como insumos para nós da Semente
      Educação S.A. podermos retroalimentar as plataformas com melhorias visando uma melhor
      experiência para você.</p>

    <p>São eles:</p>

    <ul class="a">
      <li>Seu IP no momento do acesso (com data e hora)</li>
      <li>O navegador que você está utilizando</li>
      <li>Seu sistema operacional (Ex.: Windows)</li>
      <li>Páginas acessadas, ações realizadas em geral</li>
    </ul>

    

    

    

    <h2>Outros, por consequência inerente à utilização das plataformas:</h2>

    <p>Algumas plataformas geram ou recebem outros dados seus, inerentes da condição de suas
      utilizações.</p>

    <p>São eles:</p>

    <p><strong>Na Plataforma S</strong>: Dados relacionados à sua autopercepção quanto à
      competências emocionais, de forma absoluta (em números) ou de forma relativa figurativa (em
      adequação à uma de quatro faixas de um sámbolo Wi-fi e em adequação
      à uma posição de quatro posições de um grid de largada).</p>

    <p><strong>Na Plataforma Semente: </strong>Anotações que você porventura faça em aulas
      utilizando a função "Anot"dquo;, sua avaliação dada em aulas
      utilizando a função "Aval"dquo; (sistema de 5 estrelas).</p>

    

    <h1><a name="_Utilização_de_cookies*"></a>Utilização de <a
        href="https://www.techtudo.com.br/noticias/2018/10/o-que-sao-cookies-entenda-os-dados-que-os-sites-guardam-sobre-voce.ghtml">cookies</a>*
    </h1>

    

    <p>Nossas plataformas fazem uso de cookies para viabilizar seu acesso. Cookies são arquivos que são
      gravados por sites ou sistemas em seu dispositivo quando você os está acessando. Eles possuem
      diferentes propósitos, tais como identificação de seu dispositivo ou navegador,
      gravação de informações que você selecionou em algum momento ou
      marcação para auxiliar o sistema em algum processo.</p>

    <p>Em nossas plataformas, os cookies <u>são apenas e exclusivamente utilizados</u> para gravar em seu navegador
      que a última pessoa a acessar o sistema em um determinado dispositivo foi você, de forma que das
      próximas vezes que acessar não precise informar novamente nome de usuário (<em>login</em>) e
      senha.</p>

    <p>Não fazemos uso de cookies para coletar quaisquer outras informações sobre você, sua
      navegação, dados inseridos por você ou de seu dispositivo.</p>

    <p>Você pode escolher rejeitar ou bloquear todos ou tipos especáficos de cookies configurados
      através da sua navegação alterando as configurações do seu navegador. Tenha em
      mente que a maioria dos navegadores aceitam cookies automaticamente e, por esta razão, se você
      não quiser que sejam utilizados, terá que apagá-los e/ou bloqueá-los deliberadamente. Se
      você rejeitar a utilização de todos os cookies, você continuará conseguindo visitar
      os nossos sites, mas algumas das funções poderão não funcionar corretamente.</p>

    

    <h1>Meus dados são compartilhados com alguém?</h1>

    

    <p>Via de regra, apenas a Semente Educação S.A. possui acesso na totalidade aos dados citados neste
      documento.</p>

    <p>Alguns dos dados podem ser vistos pelas instituições contratantes de nossos serviços, contudo,
      estas só conseguem visualizar dados de usuários que possuam ligação direta com elas. Em
      outras palavras, escolas só podem ver dados de professores e alunos (e consequentemente responsáveis)
      que estejam atrelados a elas.</p>

    <p>Os dados que as instituições podem visualizar são:</p>

    <ul class="a">
      <li>Nome</li>
      <li>E-mail</li>
      <li>Data de nascimento</li>
      <li>Gênero</li>
      <li>Ano ou Série</li>
      <li>Turma</li>
    </ul>

    

    <p>Em casos previstos por lei, os dados podem ser compartilhados com autoridades, entidades governamentais ou outros
      terceiros, para a proteção dos interesses da Semente Educação S.A. em qualquer tipo de
      conflito, incluindo ações judiciais e processos administrativos. Inclui-se nesse parágrafo
      casos onde mediante ordem judicial ou pelo requerimento de autoridades que detenham competência legal para a
      sua requisição.</p>

    <p>Com exceção à situação e dados citados nos parágrafos anteriores,
      não compartilhamos nenhuma destas informações com ninguém e apenas as utilizamos para
      viabilizar seu acesso às nossas plataformas, tornar sua experiência de utilização cada
      vez mais agradável e realizar análises internas ou direcionadas às instituições
      contratantes (relatórios).</p>

    

    <h1>Meus dados são protegidos?</h1>

    

    <p>Sim, possuámos alguns fatores de proteção aos seus dados, tais como:</p>

    

    <ul class="a">
      <li>Necessidade de autorização/autenticação eletrônica para acessá-los.
      </li>
      <li>Hospedagem nos datacenters da <a href="https://azure.microsoft.com/pt-br/">Microsoft Azure</a>, que possuem rágidas diretivas de segurança em vários náveis para proteção de dados, tanto fásicas (controle do local fásico onde ficam armazenadas) quanto eletrônicas (firewalls, filtros, rastreios, medidas preventivas e etc.).</li>
      <li>O tráfego de informações pela internet é criptografado (HTTPS).</li>
      <li>O não compartilhamento citado no item anterior, somado ao fato de que toda a equipe da Semente
        Educação S.A. está comprometida com a segurança de seus dados e sua segurança.
      </li>
    </ul>

    

    <p>De qualquer forma, lembramos que cabe ao usuário zelar pela integridade de seu acesso e sigilo da
      própria senha; este ponto é importante e fundamental para a proteção das
      informações pessoais pois qualquer um que tenha acesso a ela poderá ler, usar ou alterar seus
      dados.</p>

    <p>Evite criar senhas de fácil descoberta, sempre opte por variar os tipos de caractere (maiúsculas,
      minúsculas, especiais) e manter sua extensão acima de 6 caracteres.</p>

    <p>Apesar de todos os cuidados acima citados e nosso comprometimento em manter seus dados seguros, é
      possável, mesmo que em possibilidade remota, a ocorrência de falhas técnicas, várus,
      invasões e etc. Nesses casos, garantimos não medir esforços para mitigar quaisquer
      consequências resultantes e imediatamente tratar a causa para que não ocorra novamente.</p>

    

    <h1>Por quanto tempo meus dados são armazenados?</h1>

    

    <p>Seus dados são armazenados enquanto houver uma relação ativa entre você e nossas
      plataformas, ou seja, enquanto detectarmos utilização no espaço máximo de 1 ano e/ou
      enquanto você assim permitir, o que significa que a qualquer momento você pode solicitar que seus dados
      sejam retirados de nossa base. Atente-se, porém, que dependendo do dado solicitado para retirada, você
      poderá perder acesso às nossas plataformas por questões intránsecas de regras de
      negócio.</p>

    

    <h1>Possuo direitos enquanto dono dos dados?</h1>

    

    <p>Sim, você possui plenos direitos que podem ser exercidos a qualquer momento, tais como:</p>

    <ul class="a">
      <li>Acesso aos dados.</li>
      <li>Correção ou completude dos dados.</li>
      <li>Eliminação de quaisquer dados, que dependendo de quais sejam, pode levar à inacessibilidade
        das nossas plataformas por questões de regra de negócio.</li>
      <li>Obtenção de informações sobre as entidades públicas ou privadas com as quais
        a Semente Educação S.A. porventura precise compartilhar os seus dados.</li>
      <li>Não consentir com a disponibilização de quaisquer dados.</li>
      <li>Ser informado sobre as consequências em caso de negativa de fornecer quaisquer dados.</li>
    </ul>


    <p>A Semente Educação ressalta que não haverá ônus de natureza financeira a
      você no caso do exercimento de quaisquer dos direitos acima listados.</p>

    <p>No caso do exercimento de qualquer um dos direitos acima, a Semente Educação S.A. poderá
      precisar validar sua identidade a fim de assegurar que está tratando de fato com o dono dos dados.</p>

    <p>Sua requisição no exercimento de qualquer um dos direitos acima poderá ser negada caso sua
      identidade não seja validada ou se envolver exclusão de dado(s) e este(s) for(em) de livre
      exercácio de direito e operação pela Semente Educação S.A.</p>

    

    

    <h1>Tenho dúvidas, como posso entrar em contato?</h1>

    

    <p>Estamos disponáveis através do e-mail <a
        href="mailto:suporte@programasemente.com.br">suporte@programasemente.com.br</a>.</p>

    

    <h1>Esse documento se aplica a alguma lei?</h1>

    

    <p>Sim, elaboramos este documento com base na lei Federal nº <a
        href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm">13.709/2018 / Lei Geral de
        Proteção de Dados "LGPD"</a>.</p>

    

    <h1>Esse documento pode sofrer alterações?</h1>

    

    <p>Sim, poderemos, a qualquer momento, realizar alterações que julguemos serem necessárias.
      Contudo, caso haja alterações de grande porte e/ou que altere a natureza de qualquer
      explicação previamente dada, firmamos o compromisso de avisá-lo por meio digital.</p>

   

    <p><strong>Referências neste documento</strong></p>

    <p>* <em>(acesso ao link verificado em 16/02/2021)</em></p>

  </div>
</div>
