<span class="progress-right">
    <span class="progress-bar" style={{string_right}}></span>
</span>
<span class="progress-left">
    <span class="progress-bar" style={{string_left}}></span>
</span>
<div class="progress-value">
    <span>{{modulo_value}}%</span>
    <span>progresso</span>
</div>