<div class="callout flow">
    <h5>{{visible-index index}}º responsável</h5>
    <ul class="flow flow--lg">
        <li class="col fs--md m-v--none">
            <span class="text-aux m-bottom--xxs">E-mail</span>
            <span class="fw--4">{{responsavel.email}}</span>
        </li>
        <li class="col fs--md m-v--none">
            <span class="text-aux m-bottom--xxs">Nome completo</span>
            <span class="fw--4">{{responsavel.name}}</span>
        </li>
        <li class="col fs--md m-v--none">
            <span class="text-aux m-bottom--xxs">Celular</span>
            <span class="fw--4">{{responsavel.telefone}}</span>
        </li>
    </ul>
</div>