<div class="callout flow">
    <h5>{{visible-index index}}º responsável</h5>
    <ul class="flow flow--lg">
        <li class="col fs--md">
            <span class="text-aux m-bottom--xxs">E-mail</span>
            {{responsavel.email}}
        </li>
        <li class="col fs--md">
            <span class="text-aux m-bottom--xxs">Nome completo</span>
            {{responsavel.name}}
        </li>
        <li class="col fs--md">
            <span class="text-aux m-bottom--xxs">Celular</span>
            {{responsavel.telefone}}
        </li>
    </ul>
</div>