<ul>
    <li>{{student.name}}</li>
    <li>{{student.genero}}</li>
    {{#each student.plataformaAnos as |pa| }}
        <li>{{pa.name}}</li>
    {{/each}}
    {{#each student.plataformaTurmas as |pt| }}
        <li>{{pt.name}}</li>
    {{/each}}
</ul>