<div class="row">
    <label for="name">Nome Completo</label>
    <input type="text" id="name">
</div>

<div class="row">
    <label for="name">Email</label>
    <input type="text" id="name">
</div>


<div class="row">
    <label for="genero">Gênero</label>
    <select name="genero" id="genero">
        <option value="">---</option>
    </select>
</div>

<div class="row">
    <div class="col">
        <label for="">Segmento 1</label>
        <input type="checkbox">
    </div>
    <div class="col">
        <label for="">Segmento 1</label>
        <input type="checkbox">
    </div>
    <div class="col">
        <label for="">Segmento 1</label>
        <input type="checkbox">
    </div>
    <div class="col">
        <label for="">Segmento 1</label>
        <input type="checkbox">
    </div>
</div>


<button type="button" class="login__cta btn">Salvar</button>