{{#if show}}
    <span class="data__value">{{concluido}} de {{total}}</span>
    <span class="data__label">cursos concluídos</span>
{{else}}
    <i class="fa fa-spinner fa-pulse fa-1x"></i>
{{/if}}
<div style="display: none;">{{calculate}}</div>