//------------------------------------
//    #ANIMATION DELAYS
//------------------------------------
.d250 {    animation-delay: .25s;   }
.d500 {    animation-delay: .5s;    }
.d750 {    animation-delay: .75s;   }
.d1000 {   animation-delay: 1s;     }
.d1250 {   animation-delay: 1.25s;  }
.d1500 {   animation-delay: 1.5s;   }
.d1750 {   animation-delay: 1.75s;  }
.d2000 {   animation-delay: 2s;     }
.d2250 {   animation-delay: 2.25s;  }
.d2500 {   animation-delay: 2.5s;   }
.d2750 {   animation-delay: 2.75s;   }
.d3000 {   animation-delay: 3s;   }
