//------------------------------------
//    #COLORS
//------------------------------------
@each $color-name, $color in $colors {
    .bg-#{$color-name} {
        background-color: $color !important;
    }

    .border-1--#{$color-name} {
        border: 1px solid $color !important;
    }

    .color-#{$color-name} {
        color: $color !important;
    }

    .fill-#{$color-name} {
        fill: $color !important;
    }

}
