$displays: (
    hidden: none,
    block: block,
    flow-root: flow-root,
    inline-block: inline-block,
    inline: inline,
    flex: flex,
    inline-flex: inline-flex,
    grid: grid,
    inline-grid: inline-grid,
    table: table,
    table-caption: table-caption,
    table-cell: table-cell,
    table-column: table-column,
    table-column-group: table-column-group,
    table-footer-group: table-footer-group,
    table-header-group: table-header-group,
    table-row-group: table-row-group,
    table-row: table-row
) !default;

@each $display, $display-value in $displays {
  @each $bp, $bp-value in $breakpoints {
    @if $bp == 'xs' {
      .#{$display} { display: $display-value; }
    } @else {
      @include media('>#{$bp}') {
        .#{$bp}\:#{$display} { display: $display-value; }
      }
    }
  }
}

//------------------------------------
//    #FLEX
//------------------------------------
// Somente utilizar quando não houver
// mudança de direção por conta de responsividade
$i: 5;

@while $i <= 100 {

    [flex = '#{$i}'] {
        $perc: $i+'%';

        flex: 0 1 #{$perc};

    }


    [flex = '#{$i}--lg'] {
        $perc: $i+'%';

        flex: 0 1 calc(#{$perc} + #{$distance--lg});

    }

    $i: $i + 5;

}

.is-hidden--v {
    opacity: 0;
    visibility: hidden;
}





//------------------------------------
//    #RESPONSIVE VISIBILITY
//------------------------------------
.d-xs--none,
.hide-on--xs { @include media('<=sm') { display: none; } }

.d-sm--none,
.hide-on--sm { @include media('>sm') { display: none; } }

.d-md--none,
.hide-on--md { @include media('>md') { display: none; } }

.d-lg--none,
.hide-on--lg { @include media('>lg') { display: none; } }

.d-xl--none,
.hide-on--xl { @include media('>xl') { display: none; } }



.d-sm--inline,
.visible-on--sm { @include media('>sm') {display: inline-block; } }

.d-sm--block { @include media('>sm') {display: block; } }
.d-sm--flex { @include media('>sm') {display: flex; } }



.d-md--inline,
.visible-on--md { @include media('>md') {display: inline-block; } }

.d-md--block { @include media('>md') {display: block; } }
.d-md--flex { @include media('>md') {display: flex; } }



.d-lg--inline,
.visible-on--lg { @include media('>lg') {display: inline-block; } }

.d-lg--block { @include media('>lg') {display: block; } }
.d-lg--flex { @include media('>lg') {display: flex; } }



.d-xl--inline,
.visible-on--xl { @include media('>xl') {display: inline-block; } }

.d-xl--block { @include media('>xl') {display: block; } }
.d-xl--flex { @include media('>xl') {display: flex; } }