.flow > * + *      { margin-top: $distance--md; }
.flow--lg > * + *  { margin-top: $distance--lg; }
.flow--xl > * + *  { margin-top: $distance--xl; }
.flow--xxl > * + * { margin-top: $distance--xxl; }

@keyframes recent-added {
    from    { background-color: $green-10; }
    to      { background-color: transparent; }
}

.recent-added {
    position: relative;

    > * {
        position: relative;
        z-index: 2;
    }

    &::before {
        $size: $distance--sm;

        animation: recent-added 3s ease-in-out 0s 1 normal forwards;
        bottom: -$size;
        content: '';
        left: -$size;
        position: absolute;
        right: -$size;
        top: -$size;
        z-index: 1;
    }
}

.bg--students {
    background-color: $blue-navy-50;
    background-image: url('/assets/img/bg--login.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo__subproduct {
    font-size: 24px;
    font-family: FilsonSoft-Bold, Filson Soft;
    font-weight: 700;
    letter-spacing: 0.0225em;
}

.overflow-hidden { overflow: hidden; }
.pos-rel { position: relative; }
.small { font-size: .75em; }
.ta-c { text-align: center; }
.ta-l { text-align: left; }
.tt-u { text-transform: uppercase; }
.w100 { width: 100%; }

.scr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.truncate {
    @include truncate;
    display: block;
}

.numbers {
    font-feature-settings: 'tnum';
    font-variant-numeric: tabular-nums;
}

[class*='stealth-info']{
    bottom: $distance--xs;
    left: 50%;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
}
.stealth-info-navbar {
    color: desaturate(lighten($course-nav-bg-color, $amount: 1.5%), $amount: 3%);
}

.stealth-info-congrats {
    color: desaturate(lighten($transition-bg-color, $amount: 15%), $amount: 14%);
}

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
        flex: 0 0 100%;
        margin-bottom: $distance--sm;

        @include media('>sm') {
            flex: 1 0 40%;
            margin-right: $distance--sm;

            &:nth-child(even) {
                margin-right: 0;
            }
        }

        @include media('>md') {
            flex: 0 0 30%;

            &:nth-child(even) {
                margin-right: initial;
            }

            &:nth-child(n + 3) {
                margin-right: 0;
            }

        }

        @include media('>lg') {
            flex: 1 0 40%;

            &:nth-child(n + 3) {
                margin-right: initial;
            }

            &:nth-child(even) {
                margin-right: 0;
            }

        }
    }

}
