.augmented-link {
    position: relative;

    > * {
        opacity: .99;
        pointer-events: none;
        position: relative;
        z-index: 2;
    }

    > a {
        background-color: $lemon-5;
        background-image: linear-gradient(to top, $lemon-40, $lemon-5);
        height: 100%;
        left: 0;
        opacity: 0;
        pointer-events: auto;
        position: absolute;
        top: 0;
        transition: 200ms;
        width: 100%;
        z-index: 1;

        &:hover {
            opacity: 1;
        }

    }

}

.bg--students {
    background-color: $blue-navy-50;
    background-image: url('/assets/img/bg--login.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.d-block {
    display: block;
}

.link--dotted {
    @include dotted-link;

    display: inline-block;
}

.is-hidden--v {
    opacity: 0;
    visibility: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.ta-c {
    text-align: center;
}

.ta-l {
    text-align: left;
}

.tt-u {
    text-transform: uppercase;
}

.small {
    font-size: .75em;
}

.scr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.truncate {
    @include truncate;
    display: block;
}

.w100 {
    width: 100%;
}

