//------------------------------------
//    #TITLES
//------------------------------------
.title {
    &-0         { @include title-0; }
    &-1         { @include title-1; }
    &-2         { @include title-2; }
    &-3         { @include title-3; }
    &-4         { @include title-4; }
    &-aux       { @include title-aux;}

    &__sub {
        color: $gray-30;
        font-size: .75em;
        font-size: clamp(14px, .75em, 18px);
        font-style: italic;
        margin-left: $distance--xs;
    }

}

.text-aux { @include text-aux; }

.fw--1 { font-weight:  200; }
.fw--2 { font-weight:  300; }
.fw--3 { font-weight:  400; }
.fw--4 { font-weight:  600; }
.fw--5 { font-weight:  700; }
.fw--6 { font-weight:  900; }

.fs--xxs { font-size: $font-size--xxs; }
.fs--xs { font-size: $font-size--xs; }
.fs--sm { font-size: $font-size--sm; }
.fs--md { font-size: $font-size--md; }
.fs--lg { font-size: $font-size--lg; }
.fs--xl { font-size: $font-size--xl; }
.fs--xxl { font-size: $font-size--xxl; }
