.report-people {
    $this: &;
    $size: 14rem;
    position: relative;

    &__table {
        th {
            position: sticky;
            top: 0;
        }

        th,
        td {

            // &:not(:last-child) {
            //     border-right: 4px solid transparentize($color: $white, $amount: .85);
            // }

        }

        td:not(:last-child) {
            font-size: .9em;
        }

    }

    &__avatar {
    }

    &__person {
        max-width: $size;
    }

    &__data {
    }

}