.report-people {
    $this: &;

    position: relative;

    &__table {
        th {
            position: sticky;
            top: 0;
        }

        th,
        td {
            flex-basis: 2rem;

            &[class*="bg-"] {
                color: $white;
            }

            &:not(:last-child) {
                border-right: 4px solid transparentize($color: $white, $amount: .85);
            }

        }

        td:not(:last-child) {
            font-size: .9em;
        }

    }

    &__avatar {
    }

    &__person {
    }

    &__data {
    }

}