.report-person {
  $this: &;

  >*:not(:first-child) {
    margin-top: $distance--lg;
  }

  &__header {
    // border-bottom: 1px solid $gray-10;
    display: flex;
    flex-direction: column;
    margin-top: $distance--sm;
    padding-bottom: $distance--lg;

    @include media('>sm') {
      align-items: center;
      flex-direction: row;
      // margin-top: 0;

      >*:not(:last-child) {
        margin-right: $distance--lg;
      }

    }

  }

  &__body {
    margin-top: $distance--lg;

    >*:not(:first-child) {
      margin-top: $distance--lg;
    }

  }

  &__class {
    @include card;

    margin-bottom: $distance--xl;
    padding: $distance--md;
  }

}
