.report-class {
  $this: &;


  &__two-col {
    display: flex;
    flex-direction: column;
    gap: $distance--md;
    padding: $distance--sm;

    @include media('>md') {
      flex-direction: row;
      flex-wrap: wrap;
      padding: $distance--md;
    }

    &:nth-child(odd) {
      background-color: $gray-0;
    }

    >*:first-child {
      margin-right: $distance--lg;

      @include media('>md') {
        flex: 1 0 350px;
      }

    }

    >*:last-child {

      @include media('>md') {
        margin-left: auto;
      }

    }

  }

  &__subtitle {
    @include title-3;

    margin: $distance--xxl 0 $distance--md;
  }

  &__progress {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
      $size: 18%;

      display: inline-flex;
      flex: 0 1 auto;
      height: 6rem;
      margin-right: $distance--sm;
      margin-top: $distance--sm;
      padding: 0;
      vertical-align: middle;
      width: $size;
    }

  }

  &__table {

    text-align: center;
    white-space: normal;

    tr>*:first-child {
      text-align: left;
    }

    th,
    td {
      padding-left: $distance--md;
    }

    @at-root {
      #{$this}__main-info {}
      #{$this}__correct {}
      #{$this}__visualization {}
      #{$this}__feedback { display: none; }
      #{$this}__time-spent {}

    }

  }

}
