.report-class {
    $this: &;


    &__two-col {
        border-radius: $radius;
        display: flex;
        flex-direction: column;
        padding: $distance--sm;

        @include media('>md') {
            flex-direction: row;
            // padding: $distance--lg $distance--md $distance--xxxl;
            padding: $distance--lg $distance--md;
        }

        &:nth-child(odd) {
            background-color: $color-gray--lightest;
        }

        > *:first-child {
            margin-right: $distance--lg;

            @include media('>md') {
                flex: 1 0 350px;
            }

        }

        > *:last-child {
            // display: flex;
            // flex: 1;

            @include media('>md') {
                margin-left: auto;
            }

        }

    }

    &__subtitle {
        color: $color-gray;
        font-size: $font-size--sm;
        font-weight: normal;
        margin: $distance--lg $distance--md $distance--md;
    }

    &__progress {

        > * {
            $size: 6rem;

            display: inline-flex;
            height: $size;
            margin-right: $distance--sm;
            margin-top: $distance--sm;
            padding: 0;
            vertical-align: middle;
            width: $size;

            @include media('>md') {
                margin-left: $distance--sm;
            }

        }

    }

    &__table {

        text-align: center;
        white-space: normal;

        tr > *:first-child {
            text-align: left;
        }

        th,
        td {
            padding-left: $distance--md;
        }

        @at-root {

            #{$this}__main-info {}
            #{$this}__correct {}
            #{$this}__visualization {}
            #{$this}__feedback { display: none; }
            #{$this}__time-spent {}

        }

    }

    &__stacked-bar {
        margin-top: 2rem;

        @include media('>sm', '<md') {
            margin-top: 3rem;
        }

    }

}
