<h1>Cadastro de novo conteúdo!</h1>

<ul>
    <li>
        <h1>Criar conteúdo</h1>
    </li>
    <div></div>
    {{conteudo-form conteudo=conteudo publico=publico agrupamento=agrupamento 
    segmentos=segmentos anos=anos aulas=aulas}}

</ul>