{{#link-to 'conteudos.index' class="btn btn--link color-blue-navy-60" }}
    <span class="btn__icon icon-chevron-left"></span>
    <span class="btn__label">Voltar</span>
{{/link-to}}

<h1 class="title-1">Cadastro de conteúdo</h1>

<div class="flow-xxl">
    {{conteudo-form publicos=publicos
                    agrupamentos=sortedAgrupamentos
                    segmentos=segmentos
                    conteudo=conteudo}}

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <button class="btn"
                    type="button"
                    {{action "saveConteudo" conteudo}}>
                <span class="btn__label">{{salvarbutton}}{{percentage}}</span>
            </button>
        </div>
    </div>
</div>
