<a class="btn btn--link color-blue-navy-60" {{action "voltar"}}>
    <span class="btn__icon icon-chevron-left"></span>
    <span class="btn__label">Voltar</span>
</a>

<h1 class="title-1">Edição de conteúdo</h1>
<div class="flow-xxl">

    {{conteudo-form publicos=publicos
                    agrupamentos=agrupamentos
                    segmentos=segmentos
                    conteudo=conteudo
                    inputCapa=inputCapa
                    editando=editando}}

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <button type="button" class="btn" {{action "saveConteudo" conteudo}}>{{salvarbutton}}</button>
        </div>
    </div>
</div>