{{!-- <div class="container-fluid gersistema-container" style="padding-top: 200px;">
    <div class="row">
        <div class="col-xs-12" style="text-align: center;">
            <table style="width: 100%; text-align: center;">
                <tr>
                    <td style="width: 25%">&nbsp;</td>
                    <td style="vertical-align: middle; width: 20%; text-align: right;">
                        <i class="fa fa-spinner fa-pulse fa-2x"></i>
                    </td>
                    <td style="vertical-align: middle; width: 30%; text-align: left;">
                        &nbsp;&nbsp;Aguarde... Carregando
                    </td>
                    <td style="width: 25%">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
</div> --}}
<style>
       #header_layout {
            display: none;
        }
  </style>
<div class="loader">
  <div class="loader__circle">
    <img src="/assets/img/loader.gif">
  </div>
</div>