<main class="main main--timeline">
  <!-- Decorativos -->
  <!--<span class="icon icon-bar-chart main__icon-1"></span>-->
  <!--<span class="icon icon-at-sign main__icon-2"></span>-->
  <!-- / Decorativos -->


  <section class="main__section">
    <h2 class="main__subtitle main__subtitle--timeline">Percurso</h2>

    <div class="timeline">

      <div class="timeline__begin">
        Início do
          {{#if (equalstr model.idx 1)}}
            primeiro
          {{/if}}
          
          {{#if (equalstr model.idx 2)}}
            segundo
          {{/if}}
          
          {{#if (equalstr model.idx 3)}}
            terceiro
          {{/if}}
         ano
      </div>

      <ol class="timeline__line">
        {{#each model.atividades as |atividade idx|}}
          
          {{#if (equalstr (get listaStartUnit idx) 1)}}
        <!-- o lição que terá o elemento visual  "fim de unidade" acima receberá a classe extra de timeline__mark--start-unit. -->
            {{ativ-card-comp atividade=atividade class='timeline__mark timeline__mark--start-unit' transit=(action 'goAtividadeC') data=atividade.id }}
          {{else}}
            {{ativ-card-comp atividade=atividade class='timeline__mark' transit=(action 'goAtividadeC') data=atividade.id }}
          {{/if}}
        {{/each}}
      </ol>

      <div class="timeline__end">
        Fim do
          {{#if (equalstr model.idx 1)}}
            primeiro
          {{/if}}
          
          {{#if (equalstr model.idx 2)}}
            segundo
          {{/if}}
          
          {{#if (equalstr model.idx 3)}}
            terceiro
          {{/if}}
         ano
      </div>

    </div>

  </section>
</main>